DEV/dev.registry.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : {
        "e8946bbf-25a5-34e9-9312-95825b27a95b" : {
          "identifier" : "e8946bbf-25a5-34e9-9312-95825b27a95b",
          "name" : "JsonRecordSetWriter"
        }
      },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
            "id" : "0e18f8ed-ae12-3a8a-95ef-8f54f48a4f21",
            "instanceIdentifier" : "b65c4464-018a-1000-f819-0b54dacbbcae",
            "name" : "Wait",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
          "identifier" : "1670cb18-9f48-3331-b4ab-bcef9f2f1a5f",
          "instanceIdentifier" : "b65c7c82-018a-1000-cafc-821d65852eb6",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
            "id" : "02d2d6e9-1282-3f89-aada-712c0e0050da",
            "instanceIdentifier" : "cb6fe927-0189-1000-3d53-9955093c6b54",
            "name" : "Wait",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
            "id" : "d62a6e25-359b-3349-bcfd-ff1188c76447",
            "instanceIdentifier" : "cb5f6e60-0189-1000-e69d-a2993c829c68",
            "name" : "HardCoding ",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
          "identifier" : "d92ed532-0e26-34b2-8d27-26e8ccdceba2",
          "instanceIdentifier" : "cb6e2a4a-0189-1000-bf8f-773fd45d9582",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
            "id" : "978747ae-1f94-3609-92d2-cb3db967bb19",
            "instanceIdentifier" : "cb5763a1-0189-1000-295f-89b05768de1d",
            "name" : "Mapping--Azure",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 480.0,
            "y" : 896.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
            "id" : "02d2d6e9-1282-3f89-aada-712c0e0050da",
            "instanceIdentifier" : "cb6fe927-0189-1000-3d53-9955093c6b54",
            "name" : "Wait",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
          "identifier" : "4a1d0bf9-46ad-39ff-b60f-f477082f6180",
          "instanceIdentifier" : "d394df71-0189-1000-5bfa-e2182b1247ad",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Original" ],
          "source" : {
            "comments" : "",
            "groupId" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
            "id" : "6a5017aa-f597-372a-b525-ab0c61bf777e",
            "instanceIdentifier" : "ce905a1d-0189-1000-8f1f-4160ecf769a7",
            "name" : "PushData-Azure",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1368.0,
            "y" : 776.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
            "id" : "6a5017aa-f597-372a-b525-ab0c61bf777e",
            "instanceIdentifier" : "ce905a1d-0189-1000-8f1f-4160ecf769a7",
            "name" : "PushData-Azure",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
          "identifier" : "2bcafc84-f95f-3c1d-9f06-0c00a0e67735",
          "instanceIdentifier" : "d3942a19-0189-1000-5a45-c959ae3aacff",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
            "id" : "d62a6e25-359b-3349-bcfd-ff1188c76447",
            "instanceIdentifier" : "cb5f6e60-0189-1000-e69d-a2993c829c68",
            "name" : "HardCoding ",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
            "id" : "978747ae-1f94-3609-92d2-cb3db967bb19",
            "instanceIdentifier" : "cb5763a1-0189-1000-295f-89b05768de1d",
            "name" : "Mapping--Azure",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
          "identifier" : "edaa5d38-9cf0-327e-8d20-08546960fde0",
          "instanceIdentifier" : "b6ea0f8d-018a-1000-228d-1e0c75e50e26",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
            "id" : "7285ce39-5b73-3cd2-b608-bfcf11ea567a",
            "instanceIdentifier" : "b6e9f592-018a-1000-59b3-422679a1ff88",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 760.0,
            "y" : 280.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
            "id" : "94a9eaff-8147-37b1-8c31-20f39b565483",
            "instanceIdentifier" : "cb65d61b-0189-1000-c7b7-ff7e7eae7768",
            "name" : "String-Intger",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
          "identifier" : "a89e0bbb-4243-3d3d-8df6-69df526bb650",
          "instanceIdentifier" : "ce51664f-0189-1000-2bff-709761b8a48e",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
            "id" : "87ae5aae-aa8a-39ab-8086-f5e46acec062",
            "instanceIdentifier" : "ce50c060-0189-1000-d0cd-32c14ff512fb",
            "name" : "ListenHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
            "id" : "978747ae-1f94-3609-92d2-cb3db967bb19",
            "instanceIdentifier" : "cb5763a1-0189-1000-295f-89b05768de1d",
            "name" : "Mapping--Azure",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
          "identifier" : "3be8b618-9c8a-3b07-8ae1-04fc012efdd3",
          "instanceIdentifier" : "cb6c159c-0189-1000-f97d-b1fa1404cf95",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
            "id" : "94a9eaff-8147-37b1-8c31-20f39b565483",
            "instanceIdentifier" : "cb65d61b-0189-1000-c7b7-ff7e7eae7768",
            "name" : "String-Intger",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
            "id" : "02d2d6e9-1282-3f89-aada-712c0e0050da",
            "instanceIdentifier" : "cb6fe927-0189-1000-3d53-9955093c6b54",
            "name" : "Wait",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
          "identifier" : "0a308868-76c1-3110-907a-b99e3140bdea",
          "instanceIdentifier" : "d3948f7b-0189-1000-8d26-0b8bf153b6a5",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
            "id" : "6a5017aa-f597-372a-b525-ab0c61bf777e",
            "instanceIdentifier" : "ce905a1d-0189-1000-8f1f-4160ecf769a7",
            "name" : "PushData-Azure",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1064.0,
            "y" : 896.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
            "id" : "02d2d6e9-1282-3f89-aada-712c0e0050da",
            "instanceIdentifier" : "cb6fe927-0189-1000-3d53-9955093c6b54",
            "name" : "Wait",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
          "identifier" : "8afea4d7-0067-33cf-b0be-9c139931e2dc",
          "instanceIdentifier" : "d3951cb4-0189-1000-f9d4-4d8cdd8635aa",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "No Retry", "Retry", "Failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
            "id" : "6a5017aa-f597-372a-b525-ab0c61bf777e",
            "instanceIdentifier" : "ce905a1d-0189-1000-8f1f-4160ecf769a7",
            "name" : "PushData-Azure",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
          "identifier" : "1395b62d-80ac-3dbc-a024-d1f481680dbd",
          "instanceIdentifier" : "cb686731-0189-1000-a9b3-3b89fe2efc00",
          "name" : "JsonTreeReader",
          "properties" : {
            "schema-application-strategy" : "SELECTED_PART",
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-application-strategy" : {
              "displayName" : "Schema Application Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-application-strategy",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
        "inputPorts" : [ ],
        "instanceIdentifier" : "cb41e7ec-0189-1000-ae1a-b5c7b01bdd67",
        "labels" : [ ],
        "name" : "Listen",
        "outputPorts" : [ ],
        "position" : {
          "x" : 2096.0,
          "y" : -640.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
          "identifier" : "d62a6e25-359b-3349-bcfd-ff1188c76447",
          "instanceIdentifier" : "cb5f6e60-0189-1000-e69d-a2993c829c68",
          "maxBackoffPeriod" : "10 mins",
          "name" : "HardCoding ",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1192.0,
            "y" : 520.0
          },
          "properties" : {
            "jolt-spec" : "[{\n\t\"operation\": \"default\",\n\t\"spec\": {\n\t\t\"0\": {\n\t\t\t\"path\": \"/fields/System.Title\"\n\t\t},\n\t\t\"1\": {\n\t\t\t\"path\": \"/fields/System.Description\"\n\t\t},\n\t\t\"2\": {\n\t\t\t\"path\": \"/fields/Microsoft.VSTS.Common.Priority\"\n\t\t},\n\t\t\"3\": {\n\t\t\t\"path\": \"/fields/Custom.customerticketno\"\n\t\t}\n\n\n\t}\n}]",
            "jolt-transform" : "jolt-transform-chain",
            "pretty_print" : "false",
            "Transform Cache Size" : "1"
          },
          "propertyDescriptors" : {
            "jolt-spec" : {
              "displayName" : "Jolt Specification",
              "identifiesControllerService" : false,
              "name" : "jolt-spec",
              "sensitive" : false
            },
            "jolt-transform" : {
              "displayName" : "Jolt Transformation DSL",
              "identifiesControllerService" : false,
              "name" : "jolt-transform",
              "sensitive" : false
            },
            "jolt-custom-class" : {
              "displayName" : "Custom Transformation Class Name",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-class",
              "sensitive" : false
            },
            "jolt-custom-modules" : {
              "displayName" : "Custom Module Directory",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-modules",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "DIRECTORY", "FILE" ]
              },
              "sensitive" : false
            },
            "pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "pretty_print",
              "sensitive" : false
            },
            "Transform Cache Size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "Transform Cache Size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
          "identifier" : "87ae5aae-aa8a-39ab-8086-f5e46acec062",
          "instanceIdentifier" : "ce50c060-0189-1000-d0cd-32c14ff512fb",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ListenHTTP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 584.0,
            "y" : 104.0
          },
          "properties" : {
            "authorized-issuer-dn-pattern" : ".*",
            "multipart-request-max-size" : "1 MB",
            "HTTP Protocols" : "HTTP_1_1",
            "Authorized DN Pattern" : ".*",
            "max-thread-pool-size" : "200",
            "Base Path" : "contentListener",
            "multipart-read-buffer-size" : "512 KB",
            "Max Unconfirmed Flowfile Time" : "60 secs",
            "client-authentication" : "AUTO",
            "Return Code" : "200",
            "Listening Port" : "8080"
          },
          "propertyDescriptors" : {
            "authorized-issuer-dn-pattern" : {
              "displayName" : "Authorized Issuer DN Pattern",
              "identifiesControllerService" : false,
              "name" : "authorized-issuer-dn-pattern",
              "sensitive" : false
            },
            "multipart-request-max-size" : {
              "displayName" : "Multipart Request Max Size",
              "identifiesControllerService" : false,
              "name" : "multipart-request-max-size",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "HTTP Protocols" : {
              "displayName" : "HTTP Protocols",
              "identifiesControllerService" : false,
              "name" : "HTTP Protocols",
              "sensitive" : false
            },
            "HTTP Headers to receive as Attributes (Regex)" : {
              "displayName" : "HTTP Headers to receive as Attributes (Regex)",
              "identifiesControllerService" : false,
              "name" : "HTTP Headers to receive as Attributes (Regex)",
              "sensitive" : false
            },
            "health-check-port" : {
              "displayName" : "Listening Port for Health Check Requests",
              "identifiesControllerService" : false,
              "name" : "health-check-port",
              "sensitive" : false
            },
            "Authorized DN Pattern" : {
              "displayName" : "Authorized Subject DN Pattern",
              "identifiesControllerService" : false,
              "name" : "Authorized DN Pattern",
              "sensitive" : false
            },
            "max-thread-pool-size" : {
              "displayName" : "Maximum Thread Pool Size",
              "identifiesControllerService" : false,
              "name" : "max-thread-pool-size",
              "sensitive" : false
            },
            "Base Path" : {
              "displayName" : "Base Path",
              "identifiesControllerService" : false,
              "name" : "Base Path",
              "sensitive" : false
            },
            "multipart-read-buffer-size" : {
              "displayName" : "Multipart Read Buffer Size",
              "identifiesControllerService" : false,
              "name" : "multipart-read-buffer-size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Max Unconfirmed Flowfile Time" : {
              "displayName" : "Max Unconfirmed Flowfile Time",
              "identifiesControllerService" : false,
              "name" : "Max Unconfirmed Flowfile Time",
              "sensitive" : false
            },
            "Max Data to Receive per Second" : {
              "displayName" : "Max Data to Receive per Second",
              "identifiesControllerService" : false,
              "name" : "Max Data to Receive per Second",
              "sensitive" : false
            },
            "client-authentication" : {
              "displayName" : "Client Authentication",
              "identifiesControllerService" : false,
              "name" : "client-authentication",
              "sensitive" : false
            },
            "Return Code" : {
              "displayName" : "Return Code",
              "identifiesControllerService" : false,
              "name" : "Return Code",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "Listening Port" : {
              "displayName" : "Listening Port",
              "identifiesControllerService" : false,
              "name" : "Listening Port",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ListenHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
          "identifier" : "7285ce39-5b73-3cd2-b608-bfcf11ea567a",
          "instanceIdentifier" : "b6e9f592-018a-1000-59b3-422679a1ff88",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 80.0,
            "y" : 496.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
          "identifier" : "6a5017aa-f597-372a-b525-ab0c61bf777e",
          "instanceIdentifier" : "ce905a1d-0189-1000-8f1f-4160ecf769a7",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PushData-Azure",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 584.0,
            "y" : 720.0
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "cookie-strategy" : "DISABLED",
            "Connection Timeout" : "5 secs",
            "send-message-body" : "true",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "Content-Encoding" : "DISABLED",
            "disable-http2" : "False",
            "idle-timeout" : "5 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "https://dev.azure.com/aman30894/test1/_apis/wit/workitems/$Task?api-version=7.0",
            "Content-Type" : "application/json-patch+json",
            "flow-file-naming-strategy" : "RANDOM",
            "max-idle-connections" : "5",
            "Read Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "POST",
            "Add Response Headers to Request" : "false",
            "Basic Authentication Username" : "aman30894@gmail.com",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Request Header Attributes Pattern",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Response Cache Enabled",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Request Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : true
            },
            "cookie-strategy" : {
              "displayName" : "Response Cookie Strategy",
              "identifiesControllerService" : false,
              "name" : "cookie-strategy",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Socket Connect Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Request Body Enabled",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "set-form-filename" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "identifiesControllerService" : false,
              "name" : "set-form-filename",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Response Generation Required",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Response Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "identifiesControllerService" : false,
              "name" : "Content-Encoding",
              "sensitive" : false
            },
            "disable-http2" : {
              "displayName" : "HTTP/2 Disabled",
              "identifiesControllerService" : false,
              "name" : "disable-http2",
              "sensitive" : false
            },
            "idle-timeout" : {
              "displayName" : "Socket Idle Timeout",
              "identifiesControllerService" : false,
              "name" : "idle-timeout",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Response Body Attribute Name",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Response Redirects Enabled",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "HTTP URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "form-body-form-name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "identifiesControllerService" : false,
              "name" : "form-body-form-name",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Request Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "flow-file-naming-strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "identifiesControllerService" : false,
              "name" : "flow-file-naming-strategy",
              "sensitive" : false
            },
            "max-idle-connections" : {
              "displayName" : "Socket Idle Connections",
              "identifiesControllerService" : false,
              "name" : "max-idle-connections",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Response Body Attribute Size",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : true
            },
            "ignore-response-content" : {
              "displayName" : "Response Body Ignored",
              "identifiesControllerService" : false,
              "name" : "ignore-response-content",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Request Digest Authentication Enabled",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "oauth2-access-token-provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "identifiesControllerService" : true,
              "name" : "oauth2-access-token-provider",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Request Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Request Date Header Enabled",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Request Failure Penalization Enabled",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            },
            "Useragent" : {
              "displayName" : "Request User-Agent",
              "identifiesControllerService" : false,
              "name" : "Useragent",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
          "identifier" : "02d2d6e9-1282-3f89-aada-712c0e0050da",
          "instanceIdentifier" : "cb6fe927-0189-1000-3d53-9955093c6b54",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Wait",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 584.0,
            "y" : 944.0
          },
          "properties" : {
            "wait-buffer-count" : "1",
            "wait-mode" : "wait",
            "attribute-copy-mode" : "keeporiginal",
            "releasable-flowfile-count" : "1",
            "expiration-duration" : "10 min",
            "target-signal-count" : "1"
          },
          "propertyDescriptors" : {
            "wait-buffer-count" : {
              "displayName" : "Wait Buffer Count",
              "identifiesControllerService" : false,
              "name" : "wait-buffer-count",
              "sensitive" : false
            },
            "wait-mode" : {
              "displayName" : "Wait Mode",
              "identifiesControllerService" : false,
              "name" : "wait-mode",
              "sensitive" : false
            },
            "attribute-copy-mode" : {
              "displayName" : "Attribute Copy Mode",
              "identifiesControllerService" : false,
              "name" : "attribute-copy-mode",
              "sensitive" : false
            },
            "distributed-cache-service" : {
              "displayName" : "Distributed Cache Service",
              "identifiesControllerService" : true,
              "name" : "distributed-cache-service",
              "sensitive" : false
            },
            "releasable-flowfile-count" : {
              "displayName" : "Releasable FlowFile Count",
              "identifiesControllerService" : false,
              "name" : "releasable-flowfile-count",
              "sensitive" : false
            },
            "release-signal-id" : {
              "displayName" : "Release Signal Identifier",
              "identifiesControllerService" : false,
              "name" : "release-signal-id",
              "sensitive" : false
            },
            "signal-counter-name" : {
              "displayName" : "Signal Counter Name",
              "identifiesControllerService" : false,
              "name" : "signal-counter-name",
              "sensitive" : false
            },
            "expiration-duration" : {
              "displayName" : "Expiration Duration",
              "identifiesControllerService" : false,
              "name" : "expiration-duration",
              "sensitive" : false
            },
            "target-signal-count" : {
              "displayName" : "Target Signal Count",
              "identifiesControllerService" : false,
              "name" : "target-signal-count",
              "sensitive" : false
            },
            "wait-penalty-duration" : {
              "displayName" : "Wait Penalty Duration",
              "identifiesControllerService" : false,
              "name" : "wait-penalty-duration",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.Wait",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
          "identifier" : "62dbe7fa-e78d-3537-bd80-c6e8a481ff56",
          "instanceIdentifier" : "cb7746de-0189-1000-8025-3da3d7455f76",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoltTransformJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -448.0,
            "y" : 520.0
          },
          "properties" : {
            "jolt-spec" : "[\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"*\":{\n        \"priority\" :\"=toInteger\",\n        \"zendesk_ticket_no\" :\"=toInteger\"\n      }\n    }\n  }]",
            "jolt-transform" : "jolt-transform-chain",
            "pretty_print" : "false",
            "Transform Cache Size" : "1"
          },
          "propertyDescriptors" : {
            "jolt-spec" : {
              "displayName" : "Jolt Specification",
              "identifiesControllerService" : false,
              "name" : "jolt-spec",
              "sensitive" : false
            },
            "jolt-transform" : {
              "displayName" : "Jolt Transformation DSL",
              "identifiesControllerService" : false,
              "name" : "jolt-transform",
              "sensitive" : false
            },
            "jolt-custom-class" : {
              "displayName" : "Custom Transformation Class Name",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-class",
              "sensitive" : false
            },
            "jolt-custom-modules" : {
              "displayName" : "Custom Module Directory",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-modules",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "DIRECTORY", "FILE" ]
              },
              "sensitive" : false
            },
            "pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "pretty_print",
              "sensitive" : false
            },
            "Transform Cache Size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "Transform Cache Size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
          "identifier" : "94a9eaff-8147-37b1-8c31-20f39b565483",
          "instanceIdentifier" : "cb65d61b-0189-1000-c7b7-ff7e7eae7768",
          "maxBackoffPeriod" : "10 mins",
          "name" : "String-Intger",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 584.0,
            "y" : 312.0
          },
          "properties" : {
            "record-writer" : "e8946bbf-25a5-34e9-9312-95825b27a95b",
            "record-reader" : "1395b62d-80ac-3dbc-a024-d1f481680dbd",
            "/priority" : "${field.value:replace('Urgent', '1'):replace('High', '2'):replace('Normal', '3'):replace('Low', '4')}",
            "replacement-value-strategy" : "literal-value"
          },
          "propertyDescriptors" : {
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "/priority" : {
              "displayName" : "/priority",
              "identifiesControllerService" : false,
              "name" : "/priority",
              "sensitive" : false
            },
            "replacement-value-strategy" : {
              "displayName" : "Replacement Value Strategy",
              "identifiesControllerService" : false,
              "name" : "replacement-value-strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.UpdateRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
          "identifier" : "0e18f8ed-ae12-3a8a-95ef-8f54f48a4f21",
          "instanceIdentifier" : "b65c4464-018a-1000-f819-0b54dacbbcae",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Wait",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 592.0,
            "y" : 1176.0
          },
          "properties" : {
            "wait-buffer-count" : "1",
            "wait-mode" : "wait",
            "attribute-copy-mode" : "keeporiginal",
            "releasable-flowfile-count" : "1",
            "expiration-duration" : "10 min",
            "target-signal-count" : "1"
          },
          "propertyDescriptors" : {
            "wait-buffer-count" : {
              "displayName" : "Wait Buffer Count",
              "identifiesControllerService" : false,
              "name" : "wait-buffer-count",
              "sensitive" : false
            },
            "wait-mode" : {
              "displayName" : "Wait Mode",
              "identifiesControllerService" : false,
              "name" : "wait-mode",
              "sensitive" : false
            },
            "attribute-copy-mode" : {
              "displayName" : "Attribute Copy Mode",
              "identifiesControllerService" : false,
              "name" : "attribute-copy-mode",
              "sensitive" : false
            },
            "distributed-cache-service" : {
              "displayName" : "Distributed Cache Service",
              "identifiesControllerService" : true,
              "name" : "distributed-cache-service",
              "sensitive" : false
            },
            "releasable-flowfile-count" : {
              "displayName" : "Releasable FlowFile Count",
              "identifiesControllerService" : false,
              "name" : "releasable-flowfile-count",
              "sensitive" : false
            },
            "release-signal-id" : {
              "displayName" : "Release Signal Identifier",
              "identifiesControllerService" : false,
              "name" : "release-signal-id",
              "sensitive" : false
            },
            "signal-counter-name" : {
              "displayName" : "Signal Counter Name",
              "identifiesControllerService" : false,
              "name" : "signal-counter-name",
              "sensitive" : false
            },
            "expiration-duration" : {
              "displayName" : "Expiration Duration",
              "identifiesControllerService" : false,
              "name" : "expiration-duration",
              "sensitive" : false
            },
            "target-signal-count" : {
              "displayName" : "Target Signal Count",
              "identifiesControllerService" : false,
              "name" : "target-signal-count",
              "sensitive" : false
            },
            "wait-penalty-duration" : {
              "displayName" : "Wait Penalty Duration",
              "identifiesControllerService" : false,
              "name" : "wait-penalty-duration",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.Wait",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "08e1c3e8-bfb2-345a-87e4-69bca0b78946",
          "identifier" : "978747ae-1f94-3609-92d2-cb3db967bb19",
          "instanceIdentifier" : "cb5763a1-0189-1000-295f-89b05768de1d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Mapping--Azure",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 584.0,
            "y" : 512.0
          },
          "properties" : {
            "jolt-spec" : "[ \n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"*\": {\n        \"long_desc\": \"=toString\"\n      }\n    }\n    },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"*\": {\n        \"long_desc\": \"=substring(@(1,long_desc),82,100)\"\n      }\n    }\n        },\n{\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"*\":{\n        \"priority\" :\"=toInteger\",\n        \"zendesk_ticket_no\" :\"=toInteger\"\n      }\n    }\n  },{\n\t\"operation\": \"shift\",\n\t\"spec\": {\n       \"*\": {\n\t\t\"short_desc\": \"[].value\",\n\t\t\"long_desc\": \"[].value\",\n\t\t\"priority\": \"[].value\",\n\t\t\"zendesk_ticket_no\": \"[].value\"\n       }\n\t}\n},\n  {\n    \"operation\": \"modify-default-beta\",\n    \"spec\": {\n      \"*\": {\n      \"op\":\"add\",\n        \"from\":null\n         \n      }\n      }\n    \n  }]",
            "jolt-transform" : "jolt-transform-chain",
            "pretty_print" : "false",
            "Transform Cache Size" : "1"
          },
          "propertyDescriptors" : {
            "jolt-spec" : {
              "displayName" : "Jolt Specification",
              "identifiesControllerService" : false,
              "name" : "jolt-spec",
              "sensitive" : false
            },
            "jolt-transform" : {
              "displayName" : "Jolt Transformation DSL",
              "identifiesControllerService" : false,
              "name" : "jolt-transform",
              "sensitive" : false
            },
            "jolt-custom-class" : {
              "displayName" : "Custom Transformation Class Name",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-class",
              "sensitive" : false
            },
            "jolt-custom-modules" : {
              "displayName" : "Custom Module Directory",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-modules",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "DIRECTORY", "FILE" ]
              },
              "sensitive" : false
            },
            "pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "pretty_print",
              "sensitive" : false
            },
            "Transform Cache Size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "Transform Cache Size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}