DEV/Empolyee_Integration.json
{"flowContents":{"identifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","instanceIdentifier":"110a6f4c-018c-1000-2536-643f549c8414","name":"Empolyee_Integration","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","instanceIdentifier":"9ea34b60-b7a2-381b-d88b-062353307809","name":"Execute_Scripts","comments":"","position":{"x":88.0,"y":1280.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4e01b148-fa76-3c76-ab53-0d1985b2e124","instanceIdentifier":"04505818-d96c-3dbd-20e9-f9a47ad0b4d2","name":"ExecuteScript","comments":"","position":{"x":632.0,"y":320.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import datetime\n\nflowFile = session.get()\nif flowFile is not None:\n    # Read the attribute value as a string\n    excel_date_str = flowFile.getAttribute('Excel_dob')\n    \n    if excel_date_str is not None and excel_date_str.strip() != \"\":\n        try:\n            # Convert the attribute value to an integer\n            excel_date = int(excel_date_str)\n            \n            java_epoch_diff = 25569.0\n            millis_in_day = 24 * 60 * 60 * 1000\n            \n            offset_millis = int((excel_date - java_epoch_diff) * millis_in_day)\n            \n            normal_date = datetime.datetime.fromtimestamp(offset_millis / 1000.0)\n            \n            formatted_dob = str(normal_date)\n            \n            # Store the formatted date as an attribute\n            flowFile = session.putAttribute(flowFile, 'Formatted_dob', formatted_dob)\n            \n            # Transfer the flow file to success relationship\n            session.transfer(flowFile, REL_SUCCESS)\n        except ValueError:\n            # If attribute value is not a valid integer, route to failure\n            session.transfer(flowFile, REL_FAILURE)\n    else:\n        # If the attribute is missing or empty, route to failure relationship\n        session.transfer(flowFile, REL_FAILURE)\nelse:\n    # If no flow file received, just return\n    session.transfer(flowFile, REL_FAILURE)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"},{"identifier":"af7a79b5-c548-3728-b04f-d0bb36b16c33","instanceIdentifier":"cfd061a0-e47e-3f97-d74d-2b8c04a8468c","name":"ExecuteScript","comments":"","position":{"x":632.0,"y":464.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import datetime\n\nflowFile = session.get()\nif flowFile is not None:\n    # Read the attribute value as a string\n    excel_date_str = flowFile.getAttribute('Excel_exit_date')\n    \n    if excel_date_str is not None and excel_date_str.strip() != \"\":\n        try:\n            # Convert the attribute value to an integer\n            excel_date = int(excel_date_str)\n            \n            java_epoch_diff = 25569.0\n            millis_in_day = 24 * 60 * 60 * 1000\n            \n            offset_millis = int((excel_date - java_epoch_diff) * millis_in_day)\n            \n            normal_date = datetime.datetime.fromtimestamp(offset_millis / 1000.0)\n            \n            formatted_exit_date = str(normal_date)\n            \n            # Store the formatted date as an attribute\n            flowFile = session.putAttribute(flowFile, 'Formatted_exit_date', formatted_exit_date)\n            \n            # Transfer the flow file to success relationship\n            session.transfer(flowFile, REL_SUCCESS)\n        except ValueError:\n            # If attribute value is not a valid integer, route to failure\n            session.transfer(flowFile, REL_FAILURE)\n    else:\n        # If the attribute is missing or empty, route to failure relationship\n        session.transfer(flowFile, REL_FAILURE)\nelse:\n    # If no flow file received, just return\n    session.transfer(flowFile, REL_FAILURE)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"},{"identifier":"db63e1fe-1d0d-3e3f-9a13-8238e6916e92","instanceIdentifier":"d76cd757-a288-3693-6f79-ba1ce6c0bf95","name":"ExecuteScript","comments":"","position":{"x":632.0,"y":176.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import datetime\n\nflowFile = session.get()\nif flowFile is not None:\n    # Read the attribute value as a string\n    excel_date_str = flowFile.getAttribute('Excel_doj')\n    \n    if excel_date_str is not None and excel_date_str.strip() != \"\":\n        try:\n            # Convert the attribute value to an integer\n            excel_date = int(excel_date_str)\n            \n            java_epoch_diff = 25569.0\n            millis_in_day = 24 * 60 * 60 * 1000\n            \n            offset_millis = int((excel_date - java_epoch_diff) * millis_in_day)\n            \n            normal_date = datetime.datetime.fromtimestamp(offset_millis / 1000.0)\n            \n            formatted_doj = str(normal_date)\n            \n            # Store the formatted date as an attribute\n            flowFile = session.putAttribute(flowFile, 'Formatted_doj', formatted_doj)\n            \n            # Transfer the flow file to success relationship\n            session.transfer(flowFile, REL_SUCCESS)\n        except ValueError:\n            # If attribute value is not a valid integer, route to failure\n            session.transfer(flowFile, REL_FAILURE)\n    else:\n        # If the attribute is missing or empty, route to failure relationship\n        session.transfer(flowFile, REL_FAILURE)\nelse:\n    # If no flow file received, just return\n    session.transfer(flowFile, REL_FAILURE)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"}],"inputPorts":[{"identifier":"dae7223a-98c7-31d6-a656-234e0f8939a2","instanceIdentifier":"0069a329-fc05-3e59-9841-eeb0b6c7e4e1","name":"InputFlows","position":{"x":688.0,"y":48.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"}],"outputPorts":[{"identifier":"15c3fada-51d2-3df3-b1a0-5d90e495bc5a","instanceIdentifier":"6e8d803c-428a-3259-2a7a-87e5a6a553f0","name":"ouptPutflows","position":{"x":688.0,"y":664.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"}],"connections":[{"identifier":"311a906b-1210-3f55-a5b7-bfc920ef098e","instanceIdentifier":"e072c2dc-7d53-3b14-120d-609d897da08b","name":"","source":{"id":"4e01b148-fa76-3c76-ab53-0d1985b2e124","type":"PROCESSOR","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ExecuteScript","comments":"","instanceIdentifier":"04505818-d96c-3dbd-20e9-f9a47ad0b4d2"},"destination":{"id":"af7a79b5-c548-3728-b04f-d0bb36b16c33","type":"PROCESSOR","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ExecuteScript","comments":"","instanceIdentifier":"cfd061a0-e47e-3f97-d74d-2b8c04a8468c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":512.0,"y":464.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"},{"identifier":"c12e0794-ba8f-37a5-8139-2b5767383891","instanceIdentifier":"6a41e89a-2b07-3dd0-8680-73b2be1af557","name":"","source":{"id":"db63e1fe-1d0d-3e3f-9a13-8238e6916e92","type":"PROCESSOR","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ExecuteScript","comments":"","instanceIdentifier":"d76cd757-a288-3693-6f79-ba1ce6c0bf95"},"destination":{"id":"4e01b148-fa76-3c76-ab53-0d1985b2e124","type":"PROCESSOR","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ExecuteScript","comments":"","instanceIdentifier":"04505818-d96c-3dbd-20e9-f9a47ad0b4d2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":512.0,"y":312.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"},{"identifier":"6989361b-0dc7-3d9e-b81a-4226186072b1","instanceIdentifier":"b2d7b5df-7fb4-36d7-5099-c783e79319cb","name":"","source":{"id":"af7a79b5-c548-3728-b04f-d0bb36b16c33","type":"PROCESSOR","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ExecuteScript","comments":"","instanceIdentifier":"cfd061a0-e47e-3f97-d74d-2b8c04a8468c"},"destination":{"id":"15c3fada-51d2-3df3-b1a0-5d90e495bc5a","type":"OUTPUT_PORT","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ouptPutflows","instanceIdentifier":"6e8d803c-428a-3259-2a7a-87e5a6a553f0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":536.0,"y":680.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"},{"identifier":"157fa67f-3e7d-39b3-972d-71c2a6e0e2fb","instanceIdentifier":"40624290-c70c-3676-9cc2-c37f0156addc","name":"","source":{"id":"db63e1fe-1d0d-3e3f-9a13-8238e6916e92","type":"PROCESSOR","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ExecuteScript","comments":"","instanceIdentifier":"d76cd757-a288-3693-6f79-ba1ce6c0bf95"},"destination":{"id":"4e01b148-fa76-3c76-ab53-0d1985b2e124","type":"PROCESSOR","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ExecuteScript","comments":"","instanceIdentifier":"04505818-d96c-3dbd-20e9-f9a47ad0b4d2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1104.0,"y":312.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"},{"identifier":"4642373c-e8d5-3814-9f6b-418f5e7554f5","instanceIdentifier":"3eaac37b-c25d-3213-bf3f-b88c2d46bc81","name":"","source":{"id":"af7a79b5-c548-3728-b04f-d0bb36b16c33","type":"PROCESSOR","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ExecuteScript","comments":"","instanceIdentifier":"cfd061a0-e47e-3f97-d74d-2b8c04a8468c"},"destination":{"id":"15c3fada-51d2-3df3-b1a0-5d90e495bc5a","type":"OUTPUT_PORT","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ouptPutflows","instanceIdentifier":"6e8d803c-428a-3259-2a7a-87e5a6a553f0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1080.0,"y":688.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"},{"identifier":"44096328-6e17-3e7d-b266-e2449ef32bf7","instanceIdentifier":"63d96b3c-9bba-3440-c62e-fa4e86a265ea","name":"","source":{"id":"4e01b148-fa76-3c76-ab53-0d1985b2e124","type":"PROCESSOR","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ExecuteScript","comments":"","instanceIdentifier":"04505818-d96c-3dbd-20e9-f9a47ad0b4d2"},"destination":{"id":"af7a79b5-c548-3728-b04f-d0bb36b16c33","type":"PROCESSOR","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ExecuteScript","comments":"","instanceIdentifier":"cfd061a0-e47e-3f97-d74d-2b8c04a8468c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1104.0,"y":456.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"},{"identifier":"8bab5f2d-4f42-34df-a0a0-57788ee66a73","instanceIdentifier":"7af9e4d9-531e-3b6a-fa96-467c691c6800","name":"","source":{"id":"dae7223a-98c7-31d6-a656-234e0f8939a2","type":"INPUT_PORT","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"InputFlows","instanceIdentifier":"0069a329-fc05-3e59-9841-eeb0b6c7e4e1"},"destination":{"id":"db63e1fe-1d0d-3e3f-9a13-8238e6916e92","type":"PROCESSOR","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ExecuteScript","comments":"","instanceIdentifier":"d76cd757-a288-3693-6f79-ba1ce6c0bf95"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"}],"remoteProcessGroups":[],"processors":[{"identifier":"165aafb3-b4c5-38b3-af0e-33761227e8c1","instanceIdentifier":"1f570980-2e90-340c-2e9b-a58fe6f6d0df","name":"SplitRecord","comments":"","position":{"x":488.0,"y":2200.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Record Writer":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","Record Reader":"03649152-ed91-3df8-a3a1-50e275bd0759","Records Per Split":"100"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"8b9851cb-5007-3e44-b90c-64c77839212b","instanceIdentifier":"b0c2a3a8-c828-3aa0-ee51-16e5be8056b5","name":"JoltTransformJSON","comments":"","position":{"x":488.0,"y":1440.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"jolt-spec":"[{\n\t\"operation\": \"modify-overwrite-beta\",\n\t\"spec\": {\n\t\t\"doj\": \"=toString\",\n\t\t\"dob\": \"=toString\",\n\t\t\"lastWorkingDay\": \"=toString\",\n\t\t\"primaryContactNo\": \"=toString\",\n\t\t\"secondaryContactNo\": \"=toString\",\n\t\t\"BIG_toLower\": \"=toLower(@(1,status))\",\n\t\t\"gender_small\": \"=toLower(@(1,gender))\",\n\t\t\"big_data_source\": \"=toUpper(@(1,data_source))\"\n\t}\n}, {\n\t\"operation\": \"shift\",\n\t\"spec\": {\n\t\t\"defaultFullName\": \"[0].name\",\n\t\t\"firstName\": \"[0].firstName\",\n\t\t\"middleName\": \"[0].middleName\",\n\t\t\"lastName\": \"[0].lastName\",\n\t\t\"gender_small\": \"[0].gender\",\n\t\t\"email\": \"[0].email\",\n\t\t\"designation\": \"[0].designation\",\n\t\t\"doj\": \"[0].doj\",\n\t\t\"dob\": \"[0].dob\",\n\t\t\"location\": \"[0].location\",\n\t\t\"primaryContactNo\": \"[0].primaryContactNo\",\n\t\t\"secondaryContactNo\": \"[0].secondaryContactNo\",\n\t\t\"BIG_toLower\": \"[0].status\",\n\t\t\"lastWorkingDay\": \"[0].lastWorkingDay\",\n\t\t\"organization\": \"[0].organization\",\n\t\t\"big_data_source\": \"[0].data_source\"\n\n\n\t}\n}]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"946a416a-3364-373e-8de2-bff95a88f973","instanceIdentifier":"58b457f1-eec9-311a-4eb7-972790ffc108","name":"Push_Into_DB","comments":"","position":{"x":856.0,"y":3104.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"9aa727af-25b6-39c3-bb6b-2de9630de3dd","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"INSERT INTO `boomi`.`employee_integration_failures` (`input`,`errorMessage`,`executionId`,`statusCode`, `createdBy`, `updatedBy`,`sourceFile`) \nVALUES ('${input}','${invokehttp.response.body}','${executionId}','${statusCode}','${createdBy}','${updatedBy}','${sourceFile}');","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"ac70b552-1351-3174-a84c-6e6d0e1b6cd9","instanceIdentifier":"83e09dd9-91f2-3ccc-1db9-01ecac32222e","name":"FetchS3Object","comments":"","position":{"x":488.0,"y":304.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"range-length":null,"Access Key":"#{ak}","range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"custom-signer-class-name":null,"requester-pays":"false","Object Key":"${file}","AWS Credentials Provider service":null,"custom-signer-module-location":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"connect-excel-uploads","Version":null,"Communications Timeout":"30 secs","Region":"us-west-2","Secret Key":"#{sk}","Credentials File":null,"proxy-user-name":null,"Proxy Host Port":null,"encryption-service":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"30d3339d-766b-320e-ad32-14d1270fa05c","instanceIdentifier":"3c36f5a9-3b43-32ec-51e2-979e22ef5c68","name":"UpdatingData","comments":"","position":{"x":120.0,"y":3104.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.2"},"properties":{"executionId":"${uuid}","Delete Attributes Expression":null,"updatedBy":"Integration-Application-Apache_Nifi","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","createdBy":"Integration-Application-Apache_Nifi","errorMessage":"${invokehttp.response.body}","Stateful Variables Initial Value":null,"sourceFile":"${file}","statusCode":"${invokehttp.status.code}"},"propertyDescriptors":{"executionId":{"name":"executionId","displayName":"executionId","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"updatedBy":{"name":"updatedBy","displayName":"updatedBy","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"createdBy":{"name":"createdBy","displayName":"createdBy","identifiesControllerService":false,"sensitive":false},"errorMessage":{"name":"errorMessage","displayName":"errorMessage","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"sourceFile":{"name":"sourceFile","displayName":"sourceFile","identifiesControllerService":false,"sensitive":false},"statusCode":{"name":"statusCode","displayName":"statusCode","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"b5054536-0d9b-3bc6-b7ba-bd7ddb013af8","instanceIdentifier":"cbbef05f-f373-3310-1ff9-aa8068a5511f","name":"ReplaceText","comments":"","position":{"x":488.0,"y":2408.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Regular Expression":",\\s*\"[^\"]*\"\\s*:\\s*(null|\"\"|\" \")","Replacement Value":"","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"89a7ca07-c26f-3dba-a508-7988c244ad80","instanceIdentifier":"c7c3074a-0590-36b1-c4a2-53096809682d","name":"dev_connect","comments":"","position":{"x":488.0,"y":2608.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 min","send-message-body":"true","set-form-filename":"true","Always Output Response":"true","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://breeze.accionbreeze.com/aic-profile-sync/syncwithaic/bulk","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","apikey":"jhsdugyude23272","invokehttp-proxy-user":null,"Read Timeout":"5 min","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"100000","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"apikey":{"name":"apikey","displayName":"apikey","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"60 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["Retry","Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"a7d8c49d-9754-3932-8942-01412c46c578","instanceIdentifier":"7aa53277-8d2d-3cf5-498a-5579fa5a21ad","name":"jsonFormating ","comments":"","position":{"x":488.0,"y":3248.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Destination":"flowfile-attribute","input":"$.input","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"input":{"name":"input","displayName":"input","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"2 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"07ea2437-781f-34ca-8e57-24a4d644682c","instanceIdentifier":"f02efbe2-9beb-310f-a301-da73177d3c7f","name":"EvaluateJsonPath","comments":"","position":{"x":-16.0,"y":304.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Destination":"flowfile-attribute","file":"$.key","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"file":{"name":"file","displayName":"file","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"3f4a763d-0699-39aa-90f5-28937b059206","instanceIdentifier":"f56d4270-6cc9-39ae-d0af-9dc04098ec86","name":"EvaluateJsonPath","comments":"","position":{"x":488.0,"y":1176.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Excel_dob":"$.dob","Destination":"flowfile-attribute","Return Type":"auto-detect","Excel_exit_date":"$.lastWorkingDay","Excel_doj":"$.doj","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Excel_dob":{"name":"Excel_dob","displayName":"Excel_dob","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Excel_exit_date":{"name":"Excel_exit_date","displayName":"Excel_exit_date","identifiesControllerService":false,"sensitive":false},"Excel_doj":{"name":"Excel_doj","displayName":"Excel_doj","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"06bb6947-c65a-3ddb-9d4e-180628d49ab2","instanceIdentifier":"a11659e7-7248-3170-9c3e-3096ba2fc8b7","name":"prod_connect","comments":"","position":{"x":112.0,"y":2608.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 min","send-message-body":"true","set-form-filename":"true","Always Output Response":"true","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://breeze.accion.rocks/aic-profile-sync/syncwithaic/bulk","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","apikey":"iudhf7rb5jk4iq75burew7qkjwer7643bweir7575er","invokehttp-proxy-user":null,"Read Timeout":"5 min","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"100000","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"apikey":{"name":"apikey","displayName":"apikey","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"60 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"9c78657e-22d2-3fae-a275-ff4f85d053af","instanceIdentifier":"0b071580-03ca-33f0-8984-947a38acd608","name":"UpdateRecord","comments":"","position":{"x":488.0,"y":1592.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"/doj":"${Formatted_doj}","record-writer":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","record-reader":"03649152-ed91-3df8-a3a1-50e275bd0759","/gender":"${field.value:replaceAll('\\\\bm\\\\b', 'male'):replaceAll('\\\\bf\\\\b', 'female')}","/lastWorkingDay":"${Formatted_exit_date}","replacement-value-strategy":"literal-value","/dob":"${Formatted_dob}"},"propertyDescriptors":{"/doj":{"name":"/doj","displayName":"/doj","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"/gender":{"name":"/gender","displayName":"/gender","identifiesControllerService":false,"sensitive":false},"/lastWorkingDay":{"name":"/lastWorkingDay","displayName":"/lastWorkingDay","identifiesControllerService":false,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false},"/dob":{"name":"/dob","displayName":"/dob","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"a4305696-8fa9-3c66-94f3-b0dca8d2fb97","instanceIdentifier":"baefdbf9-cef4-3459-bb89-1567af206d87","name":"UpdateRecord","comments":"","position":{"x":488.0,"y":1896.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"/doj":"${field.value:toDate(\"yyyy-MM-dd HH:mm:ss.S\"):format(\"yyyy-MM-dd'T'HH:mm:ss.S'Z'\")}","record-writer":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","record-reader":"03649152-ed91-3df8-a3a1-50e275bd0759","/gender":"${field.value:replaceAll('\\\\bm\\\\b', 'male'):replaceAll('\\\\bf\\\\b', 'female')}","/lastWorkingDay":"${field.value:toDate(\"yyyy-MM-dd HH:mm:ss.S\"):format(\"yyyy-MM-dd'T'HH:mm:ss.S'Z'\")}","replacement-value-strategy":"literal-value","/dob":"${field.value:toDate(\"yyyy-MM-dd HH:mm:ss.S\"):format(\"yyyy-MM-dd'T'HH:mm:ss.S'Z'\")}"},"propertyDescriptors":{"/doj":{"name":"/doj","displayName":"/doj","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"/gender":{"name":"/gender","displayName":"/gender","identifiesControllerService":false,"sensitive":false},"/lastWorkingDay":{"name":"/lastWorkingDay","displayName":"/lastWorkingDay","identifiesControllerService":false,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false},"/dob":{"name":"/dob","displayName":"/dob","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"10251f17-df9f-3488-9d10-1fde8efd5bfc","instanceIdentifier":"9941dd11-b086-3385-8d37-cf4f86c89286","name":"ConvertExcelToCSVProcessor","comments":"","position":{"x":488.0,"y":456.0},"type":"org.apache.nifi.processors.poi.ConvertExcelToCSVProcessor","bundle":{"group":"org.apache.nifi","artifact":"nifi-poi-nar","version":"1.23.2"},"properties":{"excel-extract-first-row":"0","excel-extract-column-to-skip":null,"CSV Format":"excel","Quote Character":"\"","Include Header Line":"true","Value Separator":",","Record Separator":"\\n","Escape Character":"\\","extract-sheets":"Sheet1","excel-format-values":"false","Null String":null,"Trim Fields":"true","Comment Marker":null,"excel-format-booleans":"true","Quote Mode":"NONE","Include Trailing Delimiter":"false"},"propertyDescriptors":{"excel-extract-first-row":{"name":"excel-extract-first-row","displayName":"Number of Rows to Skip","identifiesControllerService":false,"sensitive":false},"excel-extract-column-to-skip":{"name":"excel-extract-column-to-skip","displayName":"Columns To Skip","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"extract-sheets":{"name":"extract-sheets","displayName":"Sheets to Extract","identifiesControllerService":false,"sensitive":false},"excel-format-values":{"name":"excel-format-values","displayName":"Format Cell Values","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"excel-format-booleans":{"name":"excel-format-booleans","displayName":"Format Booleans","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"bd4e5a63-7b85-383e-a4c0-78e3b011f30e","instanceIdentifier":"e90579fd-346d-37cf-9932-31e2f3dd27d1","name":"JoltTransformJSON","comments":"","position":{"x":488.0,"y":744.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"jolt-spec":"[{\n\t\"operation\": \"shift\",\n\t\"spec\": {\n\t\t\"*\": {\n\t\t\t\"defaultFullName\": \"[&1].name\",\n\t\t\t\"firstName\": \"[&1].firstName\",\n\t\t\t\"middleName\": \"[&1].middleName\",\n\t\t\t\"lastName\": \"[&1].lastName\",\n\t\t\t\"gender\": \"[&1].gender\",\n\t\t\t\"dob\": \"[&1].dob\",\n\t\t\t\"email\": \"[&1].email\",\n\t\t\t\"designation\": \"[&1].designation\",\n\t\t\t\"doj\": \"[&1].doj\",\n\t\t\t\"location\": \"[&1].location\",\n\t\t\t\"primaryContactNo\": \"[&1].primaryContactNo\",\n\t\t\t\"secondaryContactNo\": \"[&1].secondaryContactNo\",\n\t\t\t\"status\": \"[&1].status\",\n\t\t\t\"data_source\": \"[&1].data_source\",\n          \"organization\":\"[&1].organization\",\n          \"exitDate\":\"[&1].lastWorkingDay\"\n          \n\t\t}\n\t}\n}]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"6ce4caf3-2383-3985-988c-85ea1bc5f598","instanceIdentifier":"c45895f2-2146-3c97-5e8f-23dd5f0e3392","name":"ReplaceText","comments":"","position":{"x":488.0,"y":1744.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Regular Expression":",\\s*\"[^\"]*\"\\s*:\\s*(null|\"\"|\" \")","Replacement Value":"","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"2a1596e9-e5cc-3806-953d-f5f838b42ea6","instanceIdentifier":"6559f23d-f683-352a-4fa2-3738b08c82f1","name":"MergeContent","comments":"","position":{"x":488.0,"y":2048.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":null,"Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"b26da5c2-20e9-3fab-9608-326a9b1848cf","instanceIdentifier":"d80243fa-5206-35e8-51b8-f25e7586a5fb","name":"ListS3","comments":"","position":{"x":488.0,"y":24.0},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"list-type":"1","et-initial-listing-target":"all","Access Key":"#{ak}","prefix":null,"record-writer":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","proxy-configuration-service":null,"Endpoint Override URL":null,"et-time-window":"3 hours","custom-signer-class-name":null,"requester-pays":"false","custom-signer-module-location":null,"listing-strategy":"timestamps","Signer Override":"Default Signature","delimiter":null,"Secret Key":"#{sk}","min-age":"0 sec","write-s3-user-metadata":"false","max-age":null,"AWS Credentials Provider service":null,"Listing Batch Size":"100","SSL Context Service":null,"write-s3-object-tags":"false","Bucket":"connect-excel-uploads","Communications Timeout":"30 secs","Region":"us-west-2","Credentials File":null,"et-state-cache":null,"proxy-user-name":null,"Proxy Host Port":null,"use-versions":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"list-type":{"name":"list-type","displayName":"List Type","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"prefix":{"name":"prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"delimiter":{"name":"delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"min-age":{"name":"min-age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false},"write-s3-user-metadata":{"name":"write-s3-user-metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false},"max-age":{"name":"max-age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"write-s3-object-tags":{"name":"write-s3-object-tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"use-versions":{"name":"use-versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"123b63e5-73b8-395f-a20c-defe1cbc16bb","instanceIdentifier":"e9be781a-6527-3528-59b0-98c87ce18d76","name":"ReplaceText","comments":"","position":{"x":488.0,"y":1032.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Regular Expression":",\\s*\"[^\"]*\"\\s*:\\s*(null|\"\"|\" \")","Replacement Value":"","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"f34dec51-7af2-38a1-af97-7fd17de092dd","instanceIdentifier":"f3334673-267c-3052-5db9-68948a329d2e","name":"SplitRecord","comments":"","position":{"x":488.0,"y":888.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Record Writer":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","Record Reader":"03649152-ed91-3df8-a3a1-50e275bd0759","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"c7a8a49a-9c85-3997-a71a-d0be695cfcd4","instanceIdentifier":"bcc10408-4e1f-3e54-37ef-643fa5e91217","name":"SplitRecord","comments":"","position":{"x":-16.0,"y":128.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Record Writer":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","Record Reader":"03649152-ed91-3df8-a3a1-50e275bd0759","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"26de82a2-fd23-3c57-8170-55c483ba36aa","instanceIdentifier":"8bcb2297-9752-3464-9b54-da51710fae64","name":"Stagging_Conncect_Api","comments":"","position":{"x":864.0,"y":2616.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 min","send-message-body":"true","set-form-filename":"true","Always Output Response":"true","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://breeze.accionbreeze.com/aic-profile-sync-staging/syncwithaic/bulk","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","apikey":"ajgrkbxqog376bkabkawt","invokehttp-proxy-user":null,"Read Timeout":"5 min","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"100000","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"apikey":{"name":"apikey","displayName":"apikey","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"60 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"d8b2e805-04da-38a8-a262-cedd7637ace3","instanceIdentifier":"589ef534-ec5d-3fc9-ae19-bbfbeab2d56e","name":"ConvertRecord","comments":"","position":{"x":488.0,"y":600.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"record-writer":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","record-reader":"6a0d1e8f-46ea-303c-9081-80b96e0eb841","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"dde23ade-2663-3ad0-82a6-9438c358ff2a","instanceIdentifier":"dd2f8c90-d0e0-3d1c-0f3e-4d6abc5fe085","name":"Extracting_Response","comments":"","position":{"x":488.0,"y":2968.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"jolt-spec":"[{\n\t\"operation\": \"shift\",\n\t\"spec\": {\n\n\t\t\"*\": \"input\"\n\t}\n}]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"11251afc-45c1-362f-b20c-7a170d37a4f3","instanceIdentifier":"a1ef6059-a4b4-3e90-7500-77896ca21574","name":"","source":{"id":"b5054536-0d9b-3bc6-b7ba-bd7ddb013af8","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"ReplaceText","comments":"","instanceIdentifier":"cbbef05f-f373-3310-1ff9-aa8068a5511f"},"destination":{"id":"06bb6947-c65a-3ddb-9d4e-180628d49ab2","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"prod_connect","comments":"","instanceIdentifier":"a11659e7-7248-3170-9c3e-3096ba2fc8b7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":288.0,"y":2472.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"2dd31dd8-6a31-3af2-8d15-1892b948457a","instanceIdentifier":"f71544d3-d028-3d1e-7547-a430bece7a20","name":"","source":{"id":"123b63e5-73b8-395f-a20c-defe1cbc16bb","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"ReplaceText","comments":"","instanceIdentifier":"e9be781a-6527-3528-59b0-98c87ce18d76"},"destination":{"id":"3f4a763d-0699-39aa-90f5-28937b059206","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f56d4270-6cc9-39ae-d0af-9dc04098ec86"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":960.0,"y":1168.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"c546864a-b630-3106-b9b0-b0f14bcbd22a","instanceIdentifier":"2263606d-eeff-33f4-3858-b676bea59cea","name":"","source":{"id":"dde23ade-2663-3ad0-82a6-9438c358ff2a","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"Extracting_Response","comments":"","instanceIdentifier":"dd2f8c90-d0e0-3d1c-0f3e-4d6abc5fe085"},"destination":{"id":"30d3339d-766b-320e-ad32-14d1270fa05c","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"UpdatingData","comments":"","instanceIdentifier":"3c36f5a9-3b43-32ec-51e2-979e22ef5c68"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":296.0,"y":3032.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"49490ebb-741c-3a2a-aedd-52e91b455417","instanceIdentifier":"e9b46fde-5c87-3bda-4774-67a336cb29d3","name":"","source":{"id":"3f4a763d-0699-39aa-90f5-28937b059206","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f56d4270-6cc9-39ae-d0af-9dc04098ec86"},"destination":{"id":"dae7223a-98c7-31d6-a656-234e0f8939a2","type":"INPUT_PORT","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"InputFlows","instanceIdentifier":"0069a329-fc05-3e59-9841-eeb0b6c7e4e1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":280.0,"y":1240.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"400646a0-3c51-3259-8c28-b639a331e010","instanceIdentifier":"5663dff3-ec23-36a9-70e3-2c75668643a4","name":"","source":{"id":"89a7ca07-c26f-3dba-a508-7988c244ad80","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"dev_connect","comments":"","instanceIdentifier":"c7c3074a-0590-36b1-c4a2-53096809682d"},"destination":{"id":"dde23ade-2663-3ad0-82a6-9438c358ff2a","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"Extracting_Response","comments":"","instanceIdentifier":"dd2f8c90-d0e0-3d1c-0f3e-4d6abc5fe085"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry","Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"30d9d3e4-4b15-3c04-b734-0bdceabae1a4","instanceIdentifier":"09304a6d-8027-3cc1-40a9-d18b9d3295e4","name":"","source":{"id":"07ea2437-781f-34ca-8e57-24a4d644682c","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f02efbe2-9beb-310f-a301-da73177d3c7f"},"destination":{"id":"ac70b552-1351-3174-a84c-6e6d0e1b6cd9","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"FetchS3Object","comments":"","instanceIdentifier":"83e09dd9-91f2-3ccc-1db9-01ecac32222e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":408.0,"y":280.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"691fea36-5cf6-33d0-8366-4452d3a6bd2f","instanceIdentifier":"b6c76908-914c-3903-471a-92af1aca96f0","name":"","source":{"id":"06bb6947-c65a-3ddb-9d4e-180628d49ab2","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"prod_connect","comments":"","instanceIdentifier":"a11659e7-7248-3170-9c3e-3096ba2fc8b7"},"destination":{"id":"06bb6947-c65a-3ddb-9d4e-180628d49ab2","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"prod_connect","comments":"","instanceIdentifier":"a11659e7-7248-3170-9c3e-3096ba2fc8b7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-24.0,"y":2592.0},{"x":-24.0,"y":2688.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"5b6606d6-d62e-3385-a8f6-1ffc0b568242","instanceIdentifier":"1538bf58-fd2d-38ec-b908-67608b17faba","name":"","source":{"id":"6ce4caf3-2383-3985-988c-85ea1bc5f598","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"ReplaceText","comments":"","instanceIdentifier":"c45895f2-2146-3c97-5e8f-23dd5f0e3392"},"destination":{"id":"a4305696-8fa9-3c66-94f3-b0dca8d2fb97","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"UpdateRecord","comments":"","instanceIdentifier":"baefdbf9-cef4-3459-bb89-1567af206d87"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":360.0,"y":1888.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"b38885c4-2460-3ec7-9928-a4093aefc11b","instanceIdentifier":"8015aa21-dc18-300a-cb19-c2a8810c5de8","name":"","source":{"id":"ac70b552-1351-3174-a84c-6e6d0e1b6cd9","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"FetchS3Object","comments":"","instanceIdentifier":"83e09dd9-91f2-3ccc-1db9-01ecac32222e"},"destination":{"id":"10251f17-df9f-3488-9d10-1fde8efd5bfc","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"ConvertExcelToCSVProcessor","comments":"","instanceIdentifier":"9941dd11-b086-3385-8d37-cf4f86c89286"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":960.0,"y":440.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"aa9449b6-1f1b-3f33-8a02-fc734b173aab","instanceIdentifier":"2f53d9cb-40ca-3c97-9df6-ae2bcf5a2bee","name":"","source":{"id":"165aafb3-b4c5-38b3-af0e-33761227e8c1","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"SplitRecord","comments":"","instanceIdentifier":"1f570980-2e90-340c-2e9b-a58fe6f6d0df"},"destination":{"id":"b5054536-0d9b-3bc6-b7ba-bd7ddb013af8","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"ReplaceText","comments":"","instanceIdentifier":"cbbef05f-f373-3310-1ff9-aa8068a5511f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"8898ea09-a5ea-36e3-a70c-73a36e4ee5eb","instanceIdentifier":"697e0518-093c-3cbb-8f81-f494db69197b","name":"","source":{"id":"946a416a-3364-373e-8de2-bff95a88f973","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"Push_Into_DB","comments":"","instanceIdentifier":"58b457f1-eec9-311a-4eb7-972790ffc108"},"destination":{"id":"946a416a-3364-373e-8de2-bff95a88f973","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"Push_Into_DB","comments":"","instanceIdentifier":"58b457f1-eec9-311a-4eb7-972790ffc108"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1408.0,"y":3096.0},{"x":1408.0,"y":3168.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"5fa7b74d-5649-3a65-bb37-f64abd0184a0","instanceIdentifier":"f3efc21a-9163-3a2e-9404-30e2e6ee0ddc","name":"","source":{"id":"bd4e5a63-7b85-383e-a4c0-78e3b011f30e","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"e90579fd-346d-37cf-9932-31e2f3dd27d1"},"destination":{"id":"f34dec51-7af2-38a1-af97-7fd17de092dd","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"SplitRecord","comments":"","instanceIdentifier":"f3334673-267c-3052-5db9-68948a329d2e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":960.0,"y":880.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"a1b095a5-446f-3c83-a06d-ed71c2f76cbd","instanceIdentifier":"6eac9c46-08a5-3814-ac0c-eadf320973bb","name":"","source":{"id":"b26da5c2-20e9-3fab-9608-326a9b1848cf","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"ListS3","comments":"","instanceIdentifier":"d80243fa-5206-35e8-51b8-f25e7586a5fb"},"destination":{"id":"c7a8a49a-9c85-3997-a71a-d0be695cfcd4","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"SplitRecord","comments":"","instanceIdentifier":"bcc10408-4e1f-3e54-37ef-643fa5e91217"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":160.0,"y":88.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"c4c1d7ad-2d96-3efa-9c77-03c23573be3d","instanceIdentifier":"12baaaf0-ea1a-3e3b-64fd-4e17bbb7893a","name":"","source":{"id":"30d3339d-766b-320e-ad32-14d1270fa05c","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"UpdatingData","comments":"","instanceIdentifier":"3c36f5a9-3b43-32ec-51e2-979e22ef5c68"},"destination":{"id":"a7d8c49d-9754-3932-8942-01412c46c578","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"jsonFormating ","comments":"","instanceIdentifier":"7aa53277-8d2d-3cf5-498a-5579fa5a21ad"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":296.0,"y":3312.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"760b1738-2af0-38ab-aed2-7aaeb43aaff7","instanceIdentifier":"c0a643cd-6704-3d18-885a-dbee1fcf7fec","name":"","source":{"id":"b5054536-0d9b-3bc6-b7ba-bd7ddb013af8","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"ReplaceText","comments":"","instanceIdentifier":"cbbef05f-f373-3310-1ff9-aa8068a5511f"},"destination":{"id":"26de82a2-fd23-3c57-8170-55c483ba36aa","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"Stagging_Conncect_Api","comments":"","instanceIdentifier":"8bcb2297-9752-3464-9b54-da51710fae64"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1040.0,"y":2472.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"62d6739a-263f-3567-8fe2-40eda5c11260","instanceIdentifier":"e49d9bee-d5fe-3519-8603-b8947d915f16","name":"","source":{"id":"89a7ca07-c26f-3dba-a508-7988c244ad80","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"dev_connect","comments":"","instanceIdentifier":"c7c3074a-0590-36b1-c4a2-53096809682d"},"destination":{"id":"89a7ca07-c26f-3dba-a508-7988c244ad80","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"dev_connect","comments":"","instanceIdentifier":"c7c3074a-0590-36b1-c4a2-53096809682d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1002.8347778320312,"y":2801.41748046875},{"x":664.0,"y":2800.0},{"x":314.83477783203125,"y":2801.41748046875}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"0f925a6f-39b9-3b52-bf21-f82c347a2060","instanceIdentifier":"efb961f1-e9c8-38af-a9f9-530f52534beb","name":"","source":{"id":"15c3fada-51d2-3df3-b1a0-5d90e495bc5a","type":"OUTPUT_PORT","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ouptPutflows","instanceIdentifier":"6e8d803c-428a-3259-2a7a-87e5a6a553f0"},"destination":{"id":"8b9851cb-5007-3e44-b90c-64c77839212b","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"b0c2a3a8-c828-3aa0-ee51-16e5be8056b5"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":280.0,"y":1504.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"eaa1ea16-b516-3548-9d6f-ea96bb2e3275","instanceIdentifier":"43480932-beaf-36d0-3123-cae1aef96059","name":"","source":{"id":"c7a8a49a-9c85-3997-a71a-d0be695cfcd4","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"SplitRecord","comments":"","instanceIdentifier":"bcc10408-4e1f-3e54-37ef-643fa5e91217"},"destination":{"id":"07ea2437-781f-34ca-8e57-24a4d644682c","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f02efbe2-9beb-310f-a301-da73177d3c7f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-128.0,"y":280.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"c5c5cd3b-968b-3042-9be0-d231344e5ab3","instanceIdentifier":"89d1f82b-34f5-3c9d-084f-9853ac4ec0af","name":"","source":{"id":"a4305696-8fa9-3c66-94f3-b0dca8d2fb97","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"UpdateRecord","comments":"","instanceIdentifier":"baefdbf9-cef4-3459-bb89-1567af206d87"},"destination":{"id":"2a1596e9-e5cc-3806-953d-f5f838b42ea6","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"MergeContent","comments":"","instanceIdentifier":"6559f23d-f683-352a-4fa2-3738b08c82f1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":368.0,"y":2040.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"e5e7f9ba-507b-3cb7-85e1-6c45948b6ac7","instanceIdentifier":"87ea7c70-3779-3177-5179-969c9e6221e8","name":"","source":{"id":"f34dec51-7af2-38a1-af97-7fd17de092dd","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"SplitRecord","comments":"","instanceIdentifier":"f3334673-267c-3052-5db9-68948a329d2e"},"destination":{"id":"123b63e5-73b8-395f-a20c-defe1cbc16bb","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"ReplaceText","comments":"","instanceIdentifier":"e9be781a-6527-3528-59b0-98c87ce18d76"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":960.0,"y":1032.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"c06faa94-9ebd-3a2c-8859-45980efc659e","instanceIdentifier":"c84abc8f-4d3c-322c-7ca6-5e6f8d1c2c59","name":"","source":{"id":"8b9851cb-5007-3e44-b90c-64c77839212b","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"b0c2a3a8-c828-3aa0-ee51-16e5be8056b5"},"destination":{"id":"9c78657e-22d2-3fae-a275-ff4f85d053af","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"UpdateRecord","comments":"","instanceIdentifier":"0b071580-03ca-33f0-8984-947a38acd608"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":368.0,"y":1576.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"d5c2826c-19f0-3251-aa57-1cf4c44d76d0","instanceIdentifier":"b33d593c-4989-3975-c7d5-a90d13215b25","name":"","source":{"id":"26de82a2-fd23-3c57-8170-55c483ba36aa","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"Stagging_Conncect_Api","comments":"","instanceIdentifier":"8bcb2297-9752-3464-9b54-da51710fae64"},"destination":{"id":"26de82a2-fd23-3c57-8170-55c483ba36aa","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"Stagging_Conncect_Api","comments":"","instanceIdentifier":"8bcb2297-9752-3464-9b54-da51710fae64"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1360.0,"y":2576.0},{"x":1360.0,"y":2688.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"b430a301-deb7-3c77-ba47-2e4ed56c7015","instanceIdentifier":"89b2cef0-95c8-3445-1df4-a62e7d7d8fc6","name":"","source":{"id":"10251f17-df9f-3488-9d10-1fde8efd5bfc","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"ConvertExcelToCSVProcessor","comments":"","instanceIdentifier":"9941dd11-b086-3385-8d37-cf4f86c89286"},"destination":{"id":"d8b2e805-04da-38a8-a262-cedd7637ace3","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"ConvertRecord","comments":"","instanceIdentifier":"589ef534-ec5d-3fc9-ae19-bbfbeab2d56e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":960.0,"y":592.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"86ebe81a-5720-3329-a144-8c4e45143aea","instanceIdentifier":"1d1580fc-f657-3765-b9e0-61cca396b7f1","name":"","source":{"id":"946a416a-3364-373e-8de2-bff95a88f973","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"Push_Into_DB","comments":"","instanceIdentifier":"58b457f1-eec9-311a-4eb7-972790ffc108"},"destination":{"id":"a31ca9d8-31be-3004-b8e4-d10eaace485d","type":"FUNNEL","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"Funnel","comments":"","instanceIdentifier":"ef3e02d8-47ae-3a2a-6822-5f65c56261cb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1256.0,"y":3168.0},{"x":1256.0,"y":3504.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"9e1c1507-2984-3f76-ab26-2c0db38a8624","instanceIdentifier":"d703354c-9e85-3a71-2785-918e5f9d5945","name":"","source":{"id":"2a1596e9-e5cc-3806-953d-f5f838b42ea6","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"MergeContent","comments":"","instanceIdentifier":"6559f23d-f683-352a-4fa2-3738b08c82f1"},"destination":{"id":"165aafb3-b4c5-38b3-af0e-33761227e8c1","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"SplitRecord","comments":"","instanceIdentifier":"1f570980-2e90-340c-2e9b-a58fe6f6d0df"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":368.0,"y":2184.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"9015991d-8f6c-391a-a5b8-2f57a9a72061","instanceIdentifier":"6e494777-3a04-3951-efe8-524efc14f0bc","name":"","source":{"id":"b5054536-0d9b-3bc6-b7ba-bd7ddb013af8","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"ReplaceText","comments":"","instanceIdentifier":"cbbef05f-f373-3310-1ff9-aa8068a5511f"},"destination":{"id":"89a7ca07-c26f-3dba-a508-7988c244ad80","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"dev_connect","comments":"","instanceIdentifier":"c7c3074a-0590-36b1-c4a2-53096809682d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"fa93f2aa-04bd-3898-8b35-cf0974dd794f","instanceIdentifier":"b209af65-ceab-357f-868c-e703e9f963db","name":"","source":{"id":"d8b2e805-04da-38a8-a262-cedd7637ace3","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"ConvertRecord","comments":"","instanceIdentifier":"589ef534-ec5d-3fc9-ae19-bbfbeab2d56e"},"destination":{"id":"bd4e5a63-7b85-383e-a4c0-78e3b011f30e","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"e90579fd-346d-37cf-9932-31e2f3dd27d1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":960.0,"y":736.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"3239fa2d-3e69-3a57-9a05-bd2871e4198b","instanceIdentifier":"6adfd7db-307e-365c-5a4d-2f603341935c","name":"","source":{"id":"a7d8c49d-9754-3932-8942-01412c46c578","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"jsonFormating ","comments":"","instanceIdentifier":"7aa53277-8d2d-3cf5-498a-5579fa5a21ad"},"destination":{"id":"946a416a-3364-373e-8de2-bff95a88f973","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"Push_Into_DB","comments":"","instanceIdentifier":"58b457f1-eec9-311a-4eb7-972790ffc108"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1032.0,"y":3312.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"4944300d-6467-3137-9c6f-e2b15a834bce","instanceIdentifier":"3507f42c-cb87-311d-7e12-241852fb53e1","name":"","source":{"id":"9c78657e-22d2-3fae-a275-ff4f85d053af","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"UpdateRecord","comments":"","instanceIdentifier":"0b071580-03ca-33f0-8984-947a38acd608"},"destination":{"id":"6ce4caf3-2383-3985-988c-85ea1bc5f598","type":"PROCESSOR","groupId":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d","name":"ReplaceText","comments":"","instanceIdentifier":"c45895f2-2146-3c97-5e8f-23dd5f0e3392"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":360.0,"y":1736.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"}],"labels":[{"identifier":"22a4d61e-fa2b-3d03-bcfc-cf2ef769b1c4","instanceIdentifier":"ea80e66c-b9a7-3413-6112-e0ce6789daaa","position":{"x":496.0,"y":-40.0},"label":"       Employee_Integration","zIndex":0,"width":344.0,"height":40.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"}],"funnels":[{"identifier":"a31ca9d8-31be-3004-b8e4-d10eaace485d","instanceIdentifier":"ef3e02d8-47ae-3a2a-6822-5f65c56261cb","position":{"x":648.0,"y":3480.0},"componentType":"FUNNEL","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"}],"controllerServices":[{"identifier":"9aa727af-25b6-39c3-bb6b-2de9630de3dd","instanceIdentifier":"3d9ee3a0-7f15-3500-d9d2-41350fa13d67","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.23.2"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"#{DB_Driver_Class_Name}","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"#{DB_URL}","dbcp-time-between-eviction-runs":"-1","Database User":"admin","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{DB_Driver_Location}","dbcp-max-idle-conns":"8","Password":"#{DB_password}"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"03649152-ed91-3df8-a3a1-50e275bd0759","instanceIdentifier":"f29cb759-338a-32b3-654a-0887dbc23042","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","instanceIdentifier":"2a7af0d6-8e1f-3fa2-50fd-138d9802b6cb","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"},{"identifier":"6a0d1e8f-46ea-303c-9081-80b96e0eb841","instanceIdentifier":"5f3f2f93-1b95-3e97-134a-c67a82d61b36","name":"CSVReader","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"17f93c65-0ac9-3881-84f4-fb5eca4fe33d"}],"variables":{},"parameterContextName":"params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"params":{"name":"params","parameters":[{"name":"dev_connect_url","sensitive":false,"provided":true,"value":"https://breeze.accionbreeze.com/aic-profile-sync/syncwithaic/bulk"},{"name":"prod_connect_url","sensitive":false,"provided":true,"value":"https://breeze.accion.rocks/aic-profile-sync/syncwithaic/bulk"},{"name":"stag_connect_url","sensitive":false,"provided":true,"value":"https://breeze.accionbreeze.com/aic-profile-sync-staging/syncwithaic/bulk"},{"name":"DB_password","sensitive":true,"provided":true},{"name":"ak","sensitive":true,"provided":true},{"name":"DB_usr","sensitive":false,"provided":true,"value":"admin"},{"name":"dev_connect_key","sensitive":false,"provided":true,"value":"jhsdugyude23272"},{"name":"prod_connect_key","sensitive":false,"provided":true,"value":"iudhf7rb5jk4iq75burew7qkjwer7643bweir7575er"},{"name":"DB_URL","sensitive":false,"provided":true,"value":"jdbc:mysql://boomi.cevjasueletz.ap-south-1.rds.amazonaws.com:3306/boomi"},{"name":"stag_connect_key","sensitive":false,"provided":true,"value":"ajgrkbxqog376bkabkawt"},{"name":"sk","sensitive":true,"provided":true},{"name":"DB_Driver_Location","sensitive":false,"provided":true,"value":"/opt/nifi/nifi-toolkit-current/my_sql_connector"},{"name":"DB_Driver_Class_Name","sensitive":false,"provided":true,"value":"com.mysql.jdbc.Driver"}],"inheritedParameterContexts":[],"parameterProvider":"9e05dc7b-addd-36ee-146c-abe56227aad2","parameterGroupName":"params","componentType":"PARAMETER_CONTEXT","synchronized":true}},"flowEncodingVersion":"1.0","parameterProviders":{"9e05dc7b-addd-36ee-146c-abe56227aad2":{"identifier":"9e05dc7b-addd-36ee-146c-abe56227aad2","name":"FileParameterProvider","type":"org.apache.nifi.parameter.FileParameterProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"}}},"latest":false}