DEV/Empolyee_Integration.json
{"flowContents":{"identifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","instanceIdentifier":"e6681644-072c-365a-4236-13a1dba5bd12","name":"Empolyee_Integration","comments":"","position":{"x":693.0,"y":221.0},"processGroups":[{"identifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","instanceIdentifier":"0cad71af-492c-35f9-b8cd-d2b67a7c1be6","name":"Execute_Scripts","comments":"","position":{"x":88.0,"y":1280.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4e01b148-fa76-3c76-ab53-0d1985b2e124","instanceIdentifier":"1fb46d36-9fa2-3eed-813b-d9fb26e15da8","name":"ExecuteScript","comments":"","position":{"x":632.0,"y":320.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import datetime\n\nflowFile = session.get()\nif flowFile is not None:\n    # Read the attribute value as a string\n    excel_date_str = flowFile.getAttribute('Excel_dob')\n    \n    if excel_date_str is not None and excel_date_str.strip() != \"\":\n        try:\n            # Convert the attribute value to an integer\n            excel_date = int(excel_date_str)\n            \n            java_epoch_diff = 25569.0\n            millis_in_day = 24 * 60 * 60 * 1000\n            \n            offset_millis = int((excel_date - java_epoch_diff) * millis_in_day)\n            \n            normal_date = datetime.datetime.fromtimestamp(offset_millis / 1000.0)\n            \n            formatted_dob = str(normal_date)\n            \n            # Store the formatted date as an attribute\n            flowFile = session.putAttribute(flowFile, 'Formatted_dob', formatted_dob)\n            \n            # Transfer the flow file to success relationship\n            session.transfer(flowFile, REL_SUCCESS)\n        except ValueError:\n            # If attribute value is not a valid integer, route to failure\n            session.transfer(flowFile, REL_FAILURE)\n    else:\n        # If the attribute is missing or empty, route to failure relationship\n        session.transfer(flowFile, REL_FAILURE)\nelse:\n    # If no flow file received, just return\n    session.transfer(flowFile, REL_FAILURE)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"},{"identifier":"af7a79b5-c548-3728-b04f-d0bb36b16c33","instanceIdentifier":"06fd8b82-9461-3056-bab4-ca2b41a31738","name":"ExecuteScript","comments":"","position":{"x":632.0,"y":464.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import datetime\n\nflowFile = session.get()\nif flowFile is not None:\n    # Read the attribute value as a string\n    excel_date_str = flowFile.getAttribute('Excel_exit_date')\n    \n    if excel_date_str is not None and excel_date_str.strip() != \"\":\n        try:\n            # Convert the attribute value to an integer\n            excel_date = int(excel_date_str)\n            \n            java_epoch_diff = 25569.0\n            millis_in_day = 24 * 60 * 60 * 1000\n            \n            offset_millis = int((excel_date - java_epoch_diff) * millis_in_day)\n            \n            normal_date = datetime.datetime.fromtimestamp(offset_millis / 1000.0)\n            \n            formatted_exit_date = str(normal_date)\n            \n            # Store the formatted date as an attribute\n            flowFile = session.putAttribute(flowFile, 'Formatted_exit_date', formatted_exit_date)\n            \n            # Transfer the flow file to success relationship\n            session.transfer(flowFile, REL_SUCCESS)\n        except ValueError:\n            # If attribute value is not a valid integer, route to failure\n            session.transfer(flowFile, REL_FAILURE)\n    else:\n        # If the attribute is missing or empty, route to failure relationship\n        session.transfer(flowFile, REL_FAILURE)\nelse:\n    # If no flow file received, just return\n    session.transfer(flowFile, REL_FAILURE)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"},{"identifier":"db63e1fe-1d0d-3e3f-9a13-8238e6916e92","instanceIdentifier":"6750e115-8990-3088-fb82-e7e4206ddb91","name":"ExecuteScript","comments":"","position":{"x":632.0,"y":176.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import datetime\n\nflowFile = session.get()\nif flowFile is not None:\n    # Read the attribute value as a string\n    excel_date_str = flowFile.getAttribute('Excel_doj')\n    \n    if excel_date_str is not None and excel_date_str.strip() != \"\":\n        try:\n            # Convert the attribute value to an integer\n            excel_date = int(excel_date_str)\n            \n            java_epoch_diff = 25569.0\n            millis_in_day = 24 * 60 * 60 * 1000\n            \n            offset_millis = int((excel_date - java_epoch_diff) * millis_in_day)\n            \n            normal_date = datetime.datetime.fromtimestamp(offset_millis / 1000.0)\n            \n            formatted_doj = str(normal_date)\n            \n            # Store the formatted date as an attribute\n            flowFile = session.putAttribute(flowFile, 'Formatted_doj', formatted_doj)\n            \n            # Transfer the flow file to success relationship\n            session.transfer(flowFile, REL_SUCCESS)\n        except ValueError:\n            # If attribute value is not a valid integer, route to failure\n            session.transfer(flowFile, REL_FAILURE)\n    else:\n        # If the attribute is missing or empty, route to failure relationship\n        session.transfer(flowFile, REL_FAILURE)\nelse:\n    # If no flow file received, just return\n    session.transfer(flowFile, REL_FAILURE)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"}],"inputPorts":[{"identifier":"dae7223a-98c7-31d6-a656-234e0f8939a2","instanceIdentifier":"6bd36008-ad72-33ba-29c0-c45e3467c501","name":"InputFlows","position":{"x":688.0,"y":48.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"}],"outputPorts":[{"identifier":"15c3fada-51d2-3df3-b1a0-5d90e495bc5a","instanceIdentifier":"78e09c06-a7d9-3736-ff8e-103f614b5165","name":"ouptPutflows","position":{"x":688.0,"y":664.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"}],"connections":[{"identifier":"311a906b-1210-3f55-a5b7-bfc920ef098e","instanceIdentifier":"5fb1e299-2ca1-3076-4f8f-8a4c43e6b1d7","name":"","source":{"id":"4e01b148-fa76-3c76-ab53-0d1985b2e124","type":"PROCESSOR","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ExecuteScript","comments":"","instanceIdentifier":"1fb46d36-9fa2-3eed-813b-d9fb26e15da8"},"destination":{"id":"af7a79b5-c548-3728-b04f-d0bb36b16c33","type":"PROCESSOR","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ExecuteScript","comments":"","instanceIdentifier":"06fd8b82-9461-3056-bab4-ca2b41a31738"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":512.0,"y":464.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"},{"identifier":"c12e0794-ba8f-37a5-8139-2b5767383891","instanceIdentifier":"bda10310-fab7-32c0-d582-d28bf13c921c","name":"","source":{"id":"db63e1fe-1d0d-3e3f-9a13-8238e6916e92","type":"PROCESSOR","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ExecuteScript","comments":"","instanceIdentifier":"6750e115-8990-3088-fb82-e7e4206ddb91"},"destination":{"id":"4e01b148-fa76-3c76-ab53-0d1985b2e124","type":"PROCESSOR","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ExecuteScript","comments":"","instanceIdentifier":"1fb46d36-9fa2-3eed-813b-d9fb26e15da8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":512.0,"y":312.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"},{"identifier":"157fa67f-3e7d-39b3-972d-71c2a6e0e2fb","instanceIdentifier":"65a2ea54-a7ad-3947-df49-7c1dc4b78feb","name":"","source":{"id":"db63e1fe-1d0d-3e3f-9a13-8238e6916e92","type":"PROCESSOR","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ExecuteScript","comments":"","instanceIdentifier":"6750e115-8990-3088-fb82-e7e4206ddb91"},"destination":{"id":"4e01b148-fa76-3c76-ab53-0d1985b2e124","type":"PROCESSOR","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ExecuteScript","comments":"","instanceIdentifier":"1fb46d36-9fa2-3eed-813b-d9fb26e15da8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1104.0,"y":312.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"},{"identifier":"6989361b-0dc7-3d9e-b81a-4226186072b1","instanceIdentifier":"92a46615-b96c-3745-5e66-8122dddd08af","name":"","source":{"id":"af7a79b5-c548-3728-b04f-d0bb36b16c33","type":"PROCESSOR","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ExecuteScript","comments":"","instanceIdentifier":"06fd8b82-9461-3056-bab4-ca2b41a31738"},"destination":{"id":"15c3fada-51d2-3df3-b1a0-5d90e495bc5a","type":"OUTPUT_PORT","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ouptPutflows","instanceIdentifier":"78e09c06-a7d9-3736-ff8e-103f614b5165"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":536.0,"y":680.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"},{"identifier":"4642373c-e8d5-3814-9f6b-418f5e7554f5","instanceIdentifier":"2900a4bb-e070-3499-2009-d274cdfc3194","name":"","source":{"id":"af7a79b5-c548-3728-b04f-d0bb36b16c33","type":"PROCESSOR","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ExecuteScript","comments":"","instanceIdentifier":"06fd8b82-9461-3056-bab4-ca2b41a31738"},"destination":{"id":"15c3fada-51d2-3df3-b1a0-5d90e495bc5a","type":"OUTPUT_PORT","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ouptPutflows","instanceIdentifier":"78e09c06-a7d9-3736-ff8e-103f614b5165"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1080.0,"y":688.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"},{"identifier":"44096328-6e17-3e7d-b266-e2449ef32bf7","instanceIdentifier":"fc33e4dc-6001-3f71-4100-7dae1a63556c","name":"","source":{"id":"4e01b148-fa76-3c76-ab53-0d1985b2e124","type":"PROCESSOR","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ExecuteScript","comments":"","instanceIdentifier":"1fb46d36-9fa2-3eed-813b-d9fb26e15da8"},"destination":{"id":"af7a79b5-c548-3728-b04f-d0bb36b16c33","type":"PROCESSOR","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ExecuteScript","comments":"","instanceIdentifier":"06fd8b82-9461-3056-bab4-ca2b41a31738"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1104.0,"y":456.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"},{"identifier":"8bab5f2d-4f42-34df-a0a0-57788ee66a73","instanceIdentifier":"a50ecfa1-aae0-3706-48bb-ecd387cf345f","name":"","source":{"id":"dae7223a-98c7-31d6-a656-234e0f8939a2","type":"INPUT_PORT","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"InputFlows","instanceIdentifier":"6bd36008-ad72-33ba-29c0-c45e3467c501"},"destination":{"id":"db63e1fe-1d0d-3e3f-9a13-8238e6916e92","type":"PROCESSOR","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ExecuteScript","comments":"","instanceIdentifier":"6750e115-8990-3088-fb82-e7e4206ddb91"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"}],"remoteProcessGroups":[],"processors":[{"identifier":"165aafb3-b4c5-38b3-af0e-33761227e8c1","instanceIdentifier":"9eaa2572-a215-3f94-76a6-ca6f837cb2a4","name":"SplitRecord","comments":"","position":{"x":488.0,"y":2200.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Record Writer":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","Record Reader":"03649152-ed91-3df8-a3a1-50e275bd0759","Records Per Split":"100"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"8b9851cb-5007-3e44-b90c-64c77839212b","instanceIdentifier":"2ff15a5a-315c-354e-1eb8-1b0cb2c94399","name":"JoltTransformJSON","comments":"","position":{"x":488.0,"y":1440.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"jolt-spec":"[{\n\t\"operation\": \"modify-overwrite-beta\",\n\t\"spec\": {\n\t\t\"doj\": \"=toString\",\n\t\t\"dob\": \"=toString\",\n\t\t\"lastWorkingDay\": \"=toString\",\n\t\t\"primaryContactNo\": \"=toString\",\n\t\t\"secondaryContactNo\": \"=toString\",\n\t\t\"BIG_toLower\": \"=toLower(@(1,status))\",\n\t\t\"gender_small\": \"=toLower(@(1,gender))\",\n\t\t\"big_data_source\": \"=toUpper(@(1,data_source))\"\n\t}\n}, {\n\t\"operation\": \"shift\",\n\t\"spec\": {\n\t\t\"defaultFullName\": \"[0].name\",\n\t\t\"firstName\": \"[0].firstName\",\n\t\t\"middleName\": \"[0].middleName\",\n\t\t\"lastName\": \"[0].lastName\",\n\t\t\"gender_small\": \"[0].gender\",\n\t\t\"email\": \"[0].email\",\n\t\t\"designation\": \"[0].designation\",\n\t\t\"doj\": \"[0].doj\",\n\t\t\"dob\": \"[0].dob\",\n\t\t\"location\": \"[0].location\",\n\t\t\"primaryContactNo\": \"[0].primaryContactNo\",\n\t\t\"secondaryContactNo\": \"[0].secondaryContactNo\",\n\t\t\"BIG_toLower\": \"[0].status\",\n\t\t\"lastWorkingDay\": \"[0].lastWorkingDay\",\n\t\t\"organization\": \"[0].organization\",\n\t\t\"big_data_source\": \"[0].data_source\"\n\n\n\t}\n}]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"9c78657e-22d2-3fae-a275-ff4f85d053af","instanceIdentifier":"aa072cf4-e529-3ba3-71da-b11919234aee","name":"UpdateRecord","comments":"","position":{"x":488.0,"y":1592.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"/doj":"${Formatted_doj}","record-writer":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","record-reader":"03649152-ed91-3df8-a3a1-50e275bd0759","/lastWorkingDay":"${Formatted_exit_date}","replacement-value-strategy":"literal-value","/dob":"${Formatted_dob}"},"propertyDescriptors":{"/doj":{"name":"/doj","displayName":"/doj","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"/lastWorkingDay":{"name":"/lastWorkingDay","displayName":"/lastWorkingDay","identifiesControllerService":false,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false},"/dob":{"name":"/dob","displayName":"/dob","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"2c222040-f654-3278-963c-7bd239a0908e","instanceIdentifier":"bd173082-f575-1fa7-814d-3cc56cd4dc18","name":"GenerateFlowFile","comments":"","position":{"x":-192.0,"y":1816.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"{\n  \"firstName\" : \"Mihaela Lucia\",\n  \"lastName\" : \"Damian\",\n  \"gender\" : \"female\",\n  \"email\" : \"mihaela.damian@accionlabs.com\",\n  \"designation\" : \"Head of People Functions&Operations\",\n  \"doj\" : \"2022-01-03 11:00:00.0\",\n  \"location\" : \"Romania - Bucharest\",\n  \"status\" : \"active\",\n  \"organization\" : \"ACCIONLABS\",\n  \"data_source\" : \"EXCEL\"\n}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"a4305696-8fa9-3c66-94f3-b0dca8d2fb97","instanceIdentifier":"00310aaa-a011-3bd6-322b-519290d75a9a","name":"UpdateRecord","comments":"","position":{"x":488.0,"y":1896.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"/doj":"${field.value:toDate(\"yyyy-MM-dd HH:mm:ss.S\"):format(\"yyyy-MM-dd'T'HH:mm:ss.S'Z'\")}","record-writer":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","record-reader":"03649152-ed91-3df8-a3a1-50e275bd0759","/gender":"${field.value:replace('m', 'male'):replace('f', 'female')}","/lastWorkingDay":"${field.value:toDate(\"yyyy-MM-dd HH:mm:ss.S\"):format(\"yyyy-MM-dd'T'HH:mm:ss.S'Z'\")}","replacement-value-strategy":"literal-value","/dob":"${field.value:toDate(\"yyyy-MM-dd HH:mm:ss.S\"):format(\"yyyy-MM-dd'T'HH:mm:ss.S'Z'\")}"},"propertyDescriptors":{"/doj":{"name":"/doj","displayName":"/doj","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"/gender":{"name":"/gender","displayName":"/gender","identifiesControllerService":false,"sensitive":false},"/lastWorkingDay":{"name":"/lastWorkingDay","displayName":"/lastWorkingDay","identifiesControllerService":false,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false},"/dob":{"name":"/dob","displayName":"/dob","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"b5e3d511-64b7-37e5-b217-133c5360c1db","instanceIdentifier":"bd173086-f575-1fa7-18d0-d7f198dff3fe","name":"JoltTransformJSON","comments":"","position":{"x":-360.0,"y":2048.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"jolt-spec":null,"jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"10251f17-df9f-3488-9d10-1fde8efd5bfc","instanceIdentifier":"c380f5c7-da76-37cd-a838-28cd96c56b94","name":"ConvertExcelToCSVProcessor","comments":"","position":{"x":488.0,"y":456.0},"type":"org.apache.nifi.processors.poi.ConvertExcelToCSVProcessor","bundle":{"group":"org.apache.nifi","artifact":"nifi-poi-nar","version":"1.23.2"},"properties":{"excel-extract-first-row":"0","excel-extract-column-to-skip":null,"CSV Format":"excel","Quote Character":"\"","Include Header Line":"true","Value Separator":",","Record Separator":"\\n","Escape Character":"\\","extract-sheets":"Sheet1","excel-format-values":"false","Null String":null,"Trim Fields":"true","Comment Marker":null,"excel-format-booleans":"true","Quote Mode":"NONE","Include Trailing Delimiter":"false"},"propertyDescriptors":{"excel-extract-first-row":{"name":"excel-extract-first-row","displayName":"Number of Rows to Skip","identifiesControllerService":false,"sensitive":false},"excel-extract-column-to-skip":{"name":"excel-extract-column-to-skip","displayName":"Columns To Skip","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"extract-sheets":{"name":"extract-sheets","displayName":"Sheets to Extract","identifiesControllerService":false,"sensitive":false},"excel-format-values":{"name":"excel-format-values","displayName":"Format Cell Values","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"excel-format-booleans":{"name":"excel-format-booleans","displayName":"Format Booleans","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"ac70b552-1351-3174-a84c-6e6d0e1b6cd9","instanceIdentifier":"2b3b1b93-3593-31e9-e98b-a93367bfd63e","name":"FetchS3Object","comments":"","position":{"x":488.0,"y":304.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"range-length":null,"Access Key":"#{ak}","range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"custom-signer-class-name":null,"requester-pays":"false","Object Key":"${file}","AWS Credentials Provider service":null,"custom-signer-module-location":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"connect-excel-uploads","Version":null,"Communications Timeout":"30 secs","Region":"us-west-2","Secret Key":"#{sk}","Credentials File":null,"proxy-user-name":null,"Proxy Host Port":null,"encryption-service":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"bd4e5a63-7b85-383e-a4c0-78e3b011f30e","instanceIdentifier":"d7206f19-4df2-3888-e68a-939f9e7a85a6","name":"JoltTransformJSON","comments":"","position":{"x":488.0,"y":744.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"jolt-spec":"[{\n\t\"operation\": \"shift\",\n\t\"spec\": {\n\t\t\"*\": {\n\t\t\t\"defaultFullName\": \"[&1].name\",\n\t\t\t\"firstName\": \"[&1].firstName\",\n\t\t\t\"middleName\": \"[&1].middleName\",\n\t\t\t\"lastName\": \"[&1].lastName\",\n\t\t\t\"gender\": \"[&1].gender\",\n\t\t\t\"dob\": \"[&1].dob\",\n\t\t\t\"email\": \"[&1].email\",\n\t\t\t\"designation\": \"[&1].designation\",\n\t\t\t\"doj\": \"[&1].doj\",\n\t\t\t\"location\": \"[&1].location\",\n\t\t\t\"primaryContactNo\": \"[&1].primaryContactNo\",\n\t\t\t\"secondaryContactNo\": \"[&1].secondaryContactNo\",\n\t\t\t\"status\": \"[&1].status\",\n\t\t\t\"data_source\": \"[&1].data_source\",\n          \"organization\":\"[&1].organization\",\n          \"exitDate\":\"[&1].lastWorkingDay\"\n          \n\t\t}\n\t}\n}]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"6ce4caf3-2383-3985-988c-85ea1bc5f598","instanceIdentifier":"bdf8282f-018b-1000-5bfa-e38fac112ac5","name":"ReplaceText","comments":"","position":{"x":488.0,"y":1744.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Regular Expression":",\\s*\"[^\"]*\"\\s*:\\s*(null|\"\"|\" \")","Replacement Value":"","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"b5054536-0d9b-3bc6-b7ba-bd7ddb013af8","instanceIdentifier":"988054e2-e479-3751-7295-cdfac4b0e2d5","name":"ReplaceText","comments":"","position":{"x":488.0,"y":2408.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Regular Expression":",\\s*\"[^\"]*\"\\s*:\\s*(null|\"\"|\" \")","Replacement Value":"","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"89a7ca07-c26f-3dba-a508-7988c244ad80","instanceIdentifier":"00ac37f3-ae54-1878-c725-818b2d62cef7","name":"dev_connect","comments":"","position":{"x":488.0,"y":2608.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 min","send-message-body":"true","set-form-filename":"true","Always Output Response":"true","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://breeze.accionbreeze.com/aic-profile-sync/syncwithaic/bulk","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","apikey":"jhsdugyude23272","invokehttp-proxy-user":null,"Read Timeout":"5 min","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"100000","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"apikey":{"name":"apikey","displayName":"apikey","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"60 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["Retry","Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"2a1596e9-e5cc-3806-953d-f5f838b42ea6","instanceIdentifier":"f14ecb74-5723-360e-c351-a33b31136438","name":"MergeContent","comments":"","position":{"x":488.0,"y":2048.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":null,"Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"07ea2437-781f-34ca-8e57-24a4d644682c","instanceIdentifier":"728b50e0-9e3d-364c-0c2f-c4b0987d97d9","name":"EvaluateJsonPath","comments":"","position":{"x":-16.0,"y":304.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Destination":"flowfile-attribute","file":"$.key","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"file":{"name":"file","displayName":"file","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"b26da5c2-20e9-3fab-9608-326a9b1848cf","instanceIdentifier":"65ccf06c-e8ea-3007-c873-32d20c110ae5","name":"ListS3","comments":"","position":{"x":488.0,"y":24.0},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"list-type":"1","et-initial-listing-target":"all","Access Key":"#{ak}","prefix":null,"record-writer":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","proxy-configuration-service":null,"Endpoint Override URL":null,"et-time-window":"3 hours","custom-signer-class-name":null,"requester-pays":"false","custom-signer-module-location":null,"listing-strategy":"timestamps","Signer Override":"Default Signature","delimiter":null,"Secret Key":"#{sk}","min-age":"0 sec","write-s3-user-metadata":"false","max-age":null,"AWS Credentials Provider service":null,"Listing Batch Size":"100","SSL Context Service":null,"write-s3-object-tags":"false","Bucket":"connect-excel-uploads","Communications Timeout":"30 secs","Region":"us-west-2","Credentials File":null,"et-state-cache":null,"proxy-user-name":null,"Proxy Host Port":null,"use-versions":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"list-type":{"name":"list-type","displayName":"List Type","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"prefix":{"name":"prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"delimiter":{"name":"delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"min-age":{"name":"min-age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false},"write-s3-user-metadata":{"name":"write-s3-user-metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false},"max-age":{"name":"max-age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"write-s3-object-tags":{"name":"write-s3-object-tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"use-versions":{"name":"use-versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"123b63e5-73b8-395f-a20c-defe1cbc16bb","instanceIdentifier":"3fcdcbcc-2e0c-3dee-b9bf-63419cde4441","name":"ReplaceText","comments":"","position":{"x":488.0,"y":1032.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Regular Expression":",\\s*\"[^\"]*\"\\s*:\\s*(null|\"\"|\" \")","Replacement Value":"","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"3f4a763d-0699-39aa-90f5-28937b059206","instanceIdentifier":"b2dddd61-1d84-3214-b89e-437d31c77386","name":"EvaluateJsonPath","comments":"","position":{"x":488.0,"y":1176.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Excel_dob":"$.dob","Destination":"flowfile-attribute","Return Type":"auto-detect","Excel_exit_date":"$.lastWorkingDay","Excel_doj":"$.doj","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Excel_dob":{"name":"Excel_dob","displayName":"Excel_dob","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Excel_exit_date":{"name":"Excel_exit_date","displayName":"Excel_exit_date","identifiesControllerService":false,"sensitive":false},"Excel_doj":{"name":"Excel_doj","displayName":"Excel_doj","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"c7a8a49a-9c85-3997-a71a-d0be695cfcd4","instanceIdentifier":"4893b6bc-ccae-3854-cd9a-a97d1e368ee8","name":"SplitRecord","comments":"","position":{"x":-16.0,"y":128.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Record Writer":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","Record Reader":"03649152-ed91-3df8-a3a1-50e275bd0759","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"f34dec51-7af2-38a1-af97-7fd17de092dd","instanceIdentifier":"ff5b81a9-0f97-327a-822e-841a2fbc1e79","name":"SplitRecord","comments":"","position":{"x":488.0,"y":888.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Record Writer":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","Record Reader":"03649152-ed91-3df8-a3a1-50e275bd0759","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"06bb6947-c65a-3ddb-9d4e-180628d49ab2","instanceIdentifier":"00ac37ea-ae54-1878-8d67-75d640dbcbcd","name":"prod_connect","comments":"","position":{"x":112.0,"y":2608.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 min","send-message-body":"true","set-form-filename":"true","Always Output Response":"true","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://breeze.accion.rocks/aic-profile-sync/syncwithaic/bulk","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","apikey":"iudhf7rb5jk4iq75burew7qkjwer7643bweir7575er","invokehttp-proxy-user":null,"Read Timeout":"5 min","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"100000","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"apikey":{"name":"apikey","displayName":"apikey","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"60 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"26de82a2-fd23-3c57-8170-55c483ba36aa","instanceIdentifier":"00ac37ef-ae54-1878-77d8-ac7a8ef121f3","name":"Stagging_Conncect_Api","comments":"","position":{"x":864.0,"y":2616.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 min","send-message-body":"true","set-form-filename":"true","Always Output Response":"true","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://breeze.accionbreeze.com/aic-profile-sync-staging/syncwithaic/bulk","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","apikey":"ajgrkbxqog376bkabkawt","invokehttp-proxy-user":null,"Read Timeout":"5 min","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"100000","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"apikey":{"name":"apikey","displayName":"apikey","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"60 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"d8b2e805-04da-38a8-a262-cedd7637ace3","instanceIdentifier":"b06bea84-b956-319e-0b0b-db6921b6b6a4","name":"ConvertRecord","comments":"","position":{"x":488.0,"y":600.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"record-writer":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","record-reader":"6a0d1e8f-46ea-303c-9081-80b96e0eb841","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"4ff122a0-8f8d-39b9-9f09-503bbfe5472d","instanceIdentifier":"bd173083-f575-1fa7-7eaa-f77ae7b345bb","name":"","source":{"id":"2c222040-f654-3278-963c-7bd239a0908e","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"GenerateFlowFile","comments":"","instanceIdentifier":"bd173082-f575-1fa7-814d-3cc56cd4dc18"},"destination":{"id":"a4305696-8fa9-3c66-94f3-b0dca8d2fb97","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"UpdateRecord","comments":"","instanceIdentifier":"00310aaa-a011-3bd6-322b-519290d75a9a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"11251afc-45c1-362f-b20c-7a170d37a4f3","instanceIdentifier":"a763ccab-ea00-3eda-e30a-d3f495e462aa","name":"","source":{"id":"b5054536-0d9b-3bc6-b7ba-bd7ddb013af8","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"ReplaceText","comments":"","instanceIdentifier":"988054e2-e479-3751-7295-cdfac4b0e2d5"},"destination":{"id":"06bb6947-c65a-3ddb-9d4e-180628d49ab2","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"prod_connect","comments":"","instanceIdentifier":"00ac37ea-ae54-1878-8d67-75d640dbcbcd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":288.0,"y":2472.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"2dd31dd8-6a31-3af2-8d15-1892b948457a","instanceIdentifier":"e2c179c5-3e82-3e35-25b4-eecef093dd17","name":"","source":{"id":"123b63e5-73b8-395f-a20c-defe1cbc16bb","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"ReplaceText","comments":"","instanceIdentifier":"3fcdcbcc-2e0c-3dee-b9bf-63419cde4441"},"destination":{"id":"3f4a763d-0699-39aa-90f5-28937b059206","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"b2dddd61-1d84-3214-b89e-437d31c77386"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":960.0,"y":1168.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"59798f2c-6ba6-3079-9ad4-57d2e8e7d78f","instanceIdentifier":"00ac37f6-ae54-1878-9599-2864cbeb6e1f","name":"","source":{"id":"89a7ca07-c26f-3dba-a508-7988c244ad80","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"dev_connect","comments":"","instanceIdentifier":"00ac37f3-ae54-1878-c725-818b2d62cef7"},"destination":{"id":"a31ca9d8-31be-3004-b8e4-d10eaace485d","type":"FUNNEL","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"Funnel","comments":"","instanceIdentifier":"d5164561-aeb5-3f4f-0bd4-5873a2718eac"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":808.0,"y":2864.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"4fd0c821-a133-39e4-ad7e-0071f23cf1d4","instanceIdentifier":"bdf86d6c-018b-1000-c063-93b8e52653e7","name":"","source":{"id":"6ce4caf3-2383-3985-988c-85ea1bc5f598","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"ReplaceText","comments":"","instanceIdentifier":"bdf8282f-018b-1000-5bfa-e38fac112ac5"},"destination":{"id":"6ce4caf3-2383-3985-988c-85ea1bc5f598","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"ReplaceText","comments":"","instanceIdentifier":"bdf8282f-018b-1000-5bfa-e38fac112ac5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":957.0,"y":1783.0},{"x":957.0,"y":1833.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"49490ebb-741c-3a2a-aedd-52e91b455417","instanceIdentifier":"2fad9a8e-0f6d-31f5-b46c-861792ba6b62","name":"","source":{"id":"3f4a763d-0699-39aa-90f5-28937b059206","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"b2dddd61-1d84-3214-b89e-437d31c77386"},"destination":{"id":"dae7223a-98c7-31d6-a656-234e0f8939a2","type":"INPUT_PORT","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"InputFlows","instanceIdentifier":"6bd36008-ad72-33ba-29c0-c45e3467c501"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":280.0,"y":1240.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"400646a0-3c51-3259-8c28-b639a331e010","instanceIdentifier":"00ac37f5-ae54-1878-29ff-b658beabf5f6","name":"","source":{"id":"89a7ca07-c26f-3dba-a508-7988c244ad80","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"dev_connect","comments":"","instanceIdentifier":"00ac37f3-ae54-1878-c725-818b2d62cef7"},"destination":{"id":"a31ca9d8-31be-3004-b8e4-d10eaace485d","type":"FUNNEL","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"Funnel","comments":"","instanceIdentifier":"d5164561-aeb5-3f4f-0bd4-5873a2718eac"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry","Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":520.0,"y":2864.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"30d9d3e4-4b15-3c04-b734-0bdceabae1a4","instanceIdentifier":"94e790b5-fac1-3fe7-792c-e250b9ede26a","name":"","source":{"id":"07ea2437-781f-34ca-8e57-24a4d644682c","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"728b50e0-9e3d-364c-0c2f-c4b0987d97d9"},"destination":{"id":"ac70b552-1351-3174-a84c-6e6d0e1b6cd9","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"FetchS3Object","comments":"","instanceIdentifier":"2b3b1b93-3593-31e9-e98b-a93367bfd63e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":408.0,"y":280.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"691fea36-5cf6-33d0-8366-4452d3a6bd2f","instanceIdentifier":"00ac37eb-ae54-1878-2138-d575c46508d5","name":"","source":{"id":"06bb6947-c65a-3ddb-9d4e-180628d49ab2","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"prod_connect","comments":"","instanceIdentifier":"00ac37ea-ae54-1878-8d67-75d640dbcbcd"},"destination":{"id":"06bb6947-c65a-3ddb-9d4e-180628d49ab2","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"prod_connect","comments":"","instanceIdentifier":"00ac37ea-ae54-1878-8d67-75d640dbcbcd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-24.0,"y":2592.0},{"x":-24.0,"y":2688.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"b38885c4-2460-3ec7-9928-a4093aefc11b","instanceIdentifier":"06af2d4b-6541-3be5-1be1-c10958192593","name":"","source":{"id":"ac70b552-1351-3174-a84c-6e6d0e1b6cd9","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"FetchS3Object","comments":"","instanceIdentifier":"2b3b1b93-3593-31e9-e98b-a93367bfd63e"},"destination":{"id":"10251f17-df9f-3488-9d10-1fde8efd5bfc","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"ConvertExcelToCSVProcessor","comments":"","instanceIdentifier":"c380f5c7-da76-37cd-a838-28cd96c56b94"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":960.0,"y":440.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"aa9449b6-1f1b-3f33-8a02-fc734b173aab","instanceIdentifier":"961ca40f-d701-39d4-b7ee-d08be3d7b8b5","name":"","source":{"id":"165aafb3-b4c5-38b3-af0e-33761227e8c1","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"SplitRecord","comments":"","instanceIdentifier":"9eaa2572-a215-3f94-76a6-ca6f837cb2a4"},"destination":{"id":"b5054536-0d9b-3bc6-b7ba-bd7ddb013af8","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"ReplaceText","comments":"","instanceIdentifier":"988054e2-e479-3751-7295-cdfac4b0e2d5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"5fa7b74d-5649-3a65-bb37-f64abd0184a0","instanceIdentifier":"74389089-b217-38be-e788-7c580a22e52d","name":"","source":{"id":"bd4e5a63-7b85-383e-a4c0-78e3b011f30e","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"d7206f19-4df2-3888-e68a-939f9e7a85a6"},"destination":{"id":"f34dec51-7af2-38a1-af97-7fd17de092dd","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"SplitRecord","comments":"","instanceIdentifier":"ff5b81a9-0f97-327a-822e-841a2fbc1e79"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":960.0,"y":880.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"a1b095a5-446f-3c83-a06d-ed71c2f76cbd","instanceIdentifier":"7a9aba91-39cc-3dc0-aab6-6091e09ca826","name":"","source":{"id":"b26da5c2-20e9-3fab-9608-326a9b1848cf","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"ListS3","comments":"","instanceIdentifier":"65ccf06c-e8ea-3007-c873-32d20c110ae5"},"destination":{"id":"c7a8a49a-9c85-3997-a71a-d0be695cfcd4","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"SplitRecord","comments":"","instanceIdentifier":"4893b6bc-ccae-3854-cd9a-a97d1e368ee8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":160.0,"y":88.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"760b1738-2af0-38ab-aed2-7aaeb43aaff7","instanceIdentifier":"88a6f185-f382-33e5-c7ca-5b5548a9f268","name":"","source":{"id":"b5054536-0d9b-3bc6-b7ba-bd7ddb013af8","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"ReplaceText","comments":"","instanceIdentifier":"988054e2-e479-3751-7295-cdfac4b0e2d5"},"destination":{"id":"26de82a2-fd23-3c57-8170-55c483ba36aa","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"Stagging_Conncect_Api","comments":"","instanceIdentifier":"00ac37ef-ae54-1878-77d8-ac7a8ef121f3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1040.0,"y":2472.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"0f925a6f-39b9-3b52-bf21-f82c347a2060","instanceIdentifier":"16b37432-a3fd-35fb-7dfd-0d0f84a41145","name":"","source":{"id":"15c3fada-51d2-3df3-b1a0-5d90e495bc5a","type":"OUTPUT_PORT","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","name":"ouptPutflows","instanceIdentifier":"78e09c06-a7d9-3736-ff8e-103f614b5165"},"destination":{"id":"8b9851cb-5007-3e44-b90c-64c77839212b","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"2ff15a5a-315c-354e-1eb8-1b0cb2c94399"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":280.0,"y":1504.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"62d6739a-263f-3567-8fe2-40eda5c11260","instanceIdentifier":"00ac37f7-ae54-1878-5582-b574b2d6db5a","name":"","source":{"id":"89a7ca07-c26f-3dba-a508-7988c244ad80","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"dev_connect","comments":"","instanceIdentifier":"00ac37f3-ae54-1878-c725-818b2d62cef7"},"destination":{"id":"89a7ca07-c26f-3dba-a508-7988c244ad80","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"dev_connect","comments":"","instanceIdentifier":"00ac37f3-ae54-1878-c725-818b2d62cef7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1002.8347778320312,"y":2801.41748046875},{"x":674.8347778320312,"y":2801.41748046875},{"x":314.83477783203125,"y":2801.41748046875}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"eaa1ea16-b516-3548-9d6f-ea96bb2e3275","instanceIdentifier":"ef54459b-6ff5-3223-84dc-8111f1ae8c8c","name":"","source":{"id":"c7a8a49a-9c85-3997-a71a-d0be695cfcd4","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"SplitRecord","comments":"","instanceIdentifier":"4893b6bc-ccae-3854-cd9a-a97d1e368ee8"},"destination":{"id":"07ea2437-781f-34ca-8e57-24a4d644682c","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"728b50e0-9e3d-364c-0c2f-c4b0987d97d9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-128.0,"y":280.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"c5c5cd3b-968b-3042-9be0-d231344e5ab3","instanceIdentifier":"9bff8352-accc-3826-d7ca-acf6a184f381","name":"","source":{"id":"a4305696-8fa9-3c66-94f3-b0dca8d2fb97","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"UpdateRecord","comments":"","instanceIdentifier":"00310aaa-a011-3bd6-322b-519290d75a9a"},"destination":{"id":"2a1596e9-e5cc-3806-953d-f5f838b42ea6","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"MergeContent","comments":"","instanceIdentifier":"f14ecb74-5723-360e-c351-a33b31136438"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":368.0,"y":2040.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"e5e7f9ba-507b-3cb7-85e1-6c45948b6ac7","instanceIdentifier":"c707d2b6-ee3b-3693-e883-646d254f066c","name":"","source":{"id":"f34dec51-7af2-38a1-af97-7fd17de092dd","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"SplitRecord","comments":"","instanceIdentifier":"ff5b81a9-0f97-327a-822e-841a2fbc1e79"},"destination":{"id":"123b63e5-73b8-395f-a20c-defe1cbc16bb","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"ReplaceText","comments":"","instanceIdentifier":"3fcdcbcc-2e0c-3dee-b9bf-63419cde4441"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":960.0,"y":1032.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"c06faa94-9ebd-3a2c-8859-45980efc659e","instanceIdentifier":"9f1bda67-2331-301f-a02d-87822440336f","name":"","source":{"id":"8b9851cb-5007-3e44-b90c-64c77839212b","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"2ff15a5a-315c-354e-1eb8-1b0cb2c94399"},"destination":{"id":"9c78657e-22d2-3fae-a275-ff4f85d053af","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"UpdateRecord","comments":"","instanceIdentifier":"aa072cf4-e529-3ba3-71da-b11919234aee"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":368.0,"y":1576.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"d5c2826c-19f0-3251-aa57-1cf4c44d76d0","instanceIdentifier":"00ac37f0-ae54-1878-870d-9bc46ab75a8c","name":"","source":{"id":"26de82a2-fd23-3c57-8170-55c483ba36aa","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"Stagging_Conncect_Api","comments":"","instanceIdentifier":"00ac37ef-ae54-1878-77d8-ac7a8ef121f3"},"destination":{"id":"26de82a2-fd23-3c57-8170-55c483ba36aa","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"Stagging_Conncect_Api","comments":"","instanceIdentifier":"00ac37ef-ae54-1878-77d8-ac7a8ef121f3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1360.0,"y":2576.0},{"x":1360.0,"y":2688.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"b430a301-deb7-3c77-ba47-2e4ed56c7015","instanceIdentifier":"2bf1c44b-02de-3ad8-236d-c2468d2d8d85","name":"","source":{"id":"10251f17-df9f-3488-9d10-1fde8efd5bfc","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"ConvertExcelToCSVProcessor","comments":"","instanceIdentifier":"c380f5c7-da76-37cd-a838-28cd96c56b94"},"destination":{"id":"d8b2e805-04da-38a8-a262-cedd7637ace3","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"ConvertRecord","comments":"","instanceIdentifier":"b06bea84-b956-319e-0b0b-db6921b6b6a4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":960.0,"y":592.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"9e1c1507-2984-3f76-ab26-2c0db38a8624","instanceIdentifier":"9fb7d0fa-6273-3a96-cb7f-547926885dc4","name":"","source":{"id":"2a1596e9-e5cc-3806-953d-f5f838b42ea6","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"MergeContent","comments":"","instanceIdentifier":"f14ecb74-5723-360e-c351-a33b31136438"},"destination":{"id":"165aafb3-b4c5-38b3-af0e-33761227e8c1","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"SplitRecord","comments":"","instanceIdentifier":"9eaa2572-a215-3f94-76a6-ca6f837cb2a4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":368.0,"y":2184.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"9015991d-8f6c-391a-a5b8-2f57a9a72061","instanceIdentifier":"00ac37f4-ae54-1878-f6e9-8539372285f9","name":"","source":{"id":"b5054536-0d9b-3bc6-b7ba-bd7ddb013af8","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"ReplaceText","comments":"","instanceIdentifier":"988054e2-e479-3751-7295-cdfac4b0e2d5"},"destination":{"id":"89a7ca07-c26f-3dba-a508-7988c244ad80","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"dev_connect","comments":"","instanceIdentifier":"00ac37f3-ae54-1878-c725-818b2d62cef7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"fa93f2aa-04bd-3898-8b35-cf0974dd794f","instanceIdentifier":"5a46009f-e4d8-3334-ac3d-2fedb3ccc8e4","name":"","source":{"id":"d8b2e805-04da-38a8-a262-cedd7637ace3","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"ConvertRecord","comments":"","instanceIdentifier":"b06bea84-b956-319e-0b0b-db6921b6b6a4"},"destination":{"id":"bd4e5a63-7b85-383e-a4c0-78e3b011f30e","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"d7206f19-4df2-3888-e68a-939f9e7a85a6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":960.0,"y":736.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"4944300d-6467-3137-9c6f-e2b15a834bce","instanceIdentifier":"bdf85162-018b-1000-92d7-d5974a5f989b","name":"","source":{"id":"9c78657e-22d2-3fae-a275-ff4f85d053af","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"UpdateRecord","comments":"","instanceIdentifier":"aa072cf4-e529-3ba3-71da-b11919234aee"},"destination":{"id":"6ce4caf3-2383-3985-988c-85ea1bc5f598","type":"PROCESSOR","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","name":"ReplaceText","comments":"","instanceIdentifier":"bdf8282f-018b-1000-5bfa-e38fac112ac5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":360.0,"y":1736.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"}],"labels":[{"identifier":"22a4d61e-fa2b-3d03-bcfc-cf2ef769b1c4","instanceIdentifier":"be245dfc-018b-1000-11af-1f7fbbdce8df","position":{"x":496.0,"y":-40.0},"label":"       Employee_Integration","zIndex":0,"width":344.0,"height":40.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"}],"funnels":[{"identifier":"a31ca9d8-31be-3004-b8e4-d10eaace485d","instanceIdentifier":"d5164561-aeb5-3f4f-0bd4-5873a2718eac","position":{"x":645.153709934022,"y":2957.8037706020036},"componentType":"FUNNEL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"}],"controllerServices":[{"identifier":"03649152-ed91-3df8-a3a1-50e275bd0759","instanceIdentifier":"bdf52505-018b-1000-2dfb-c70952075752","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","instanceIdentifier":"bdf56021-018b-1000-3b41-1872c75cb0ca","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"},{"identifier":"6a0d1e8f-46ea-303c-9081-80b96e0eb841","instanceIdentifier":"be012f78-018b-1000-5469-caf846eae6f0","name":"CSVReader","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d"}],"variables":{},"parameterContextName":"params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"params":{"name":"params","parameters":[{"name":"path","sensitive":false,"provided":true,"value":"/Users/dhanapathimarepalli/Downloads/params"},{"name":"sk","sensitive":true,"provided":true},{"name":"ak","sensitive":true,"provided":true}],"inheritedParameterContexts":[],"parameterProvider":"be04c1da-018b-1000-82c2-3655c531e5a8","parameterGroupName":"params","componentType":"PARAMETER_CONTEXT","synchronized":true}},"flowEncodingVersion":"1.0","parameterProviders":{"be04c1da-018b-1000-82c2-3655c531e5a8":{"identifier":"be04c1da-018b-1000-82c2-3655c531e5a8","name":"FileParameterProvider","type":"org.apache.nifi.parameter.FileParameterProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"}}},"latest":false}