DEV/Test-version-1.json
{"externalControllerServices":{},"flowContents":{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":288.0,"y":2472.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"06bb6947-c65a-3ddb-9d4e-180628d49ab2","instanceIdentifier":"00ac37ea-ae54-1878-8d67-75d640dbcbcd","name":"prod_connect","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"11251afc-45c1-362f-b20c-7a170d37a4f3","instanceIdentifier":"a763ccab-ea00-3eda-e30a-d3f495e462aa","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"b5054536-0d9b-3bc6-b7ba-bd7ddb013af8","instanceIdentifier":"988054e2-e479-3751-7295-cdfac4b0e2d5","name":"ReplaceText","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":960.0,"y":1168.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"3f4a763d-0699-39aa-90f5-28937b059206","instanceIdentifier":"b2dddd61-1d84-3214-b89e-437d31c77386","name":"EvaluateJsonPath","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"2dd31dd8-6a31-3af2-8d15-1892b948457a","instanceIdentifier":"e2c179c5-3e82-3e35-25b4-eecef093dd17","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"123b63e5-73b8-395f-a20c-defe1cbc16bb","instanceIdentifier":"3fcdcbcc-2e0c-3dee-b9bf-63419cde4441","name":"ReplaceText","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":296.0,"y":3032.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"30d3339d-766b-320e-ad32-14d1270fa05c","instanceIdentifier":"6bbb3f40-180b-181a-da16-8ab0bb7afd2e","name":"UpdatingData","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"c546864a-b630-3106-b9b0-b0f14bcbd22a","instanceIdentifier":"014931ae-2cbc-1cfe-47a5-9a05a8957259","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"dde23ade-2663-3ad0-82a6-9438c358ff2a","instanceIdentifier":"6bbb3f3e-180b-181a-fd01-0283081224b4","name":"Extracting_Response","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":954.2854614257812,"y":1781.6427001953125},{"x":954.2854614257812,"y":1831.6427001953125}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"a4305696-8fa9-3c66-94f3-b0dca8d2fb97","instanceIdentifier":"00310aaa-a011-3bd6-322b-519290d75a9a","name":"UpdateRecord","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"4fd0c821-a133-39e4-ad7e-0071f23cf1d4","instanceIdentifier":"bdf86d6c-018b-1000-c063-93b8e52653e7","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"6ce4caf3-2383-3985-988c-85ea1bc5f598","instanceIdentifier":"bdf8282f-018b-1000-5bfa-e38fac112ac5","name":"ReplaceText","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":280.0,"y":1240.0}],"componentType":"CONNECTION","destination":{"groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","id":"dae7223a-98c7-31d6-a656-234e0f8939a2","instanceIdentifier":"6bd36008-ad72-33ba-29c0-c45e3467c501","name":"InputFlows","type":"INPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"49490ebb-741c-3a2a-aedd-52e91b455417","instanceIdentifier":"2fad9a8e-0f6d-31f5-b46c-861792ba6b62","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["matched"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"3f4a763d-0699-39aa-90f5-28937b059206","instanceIdentifier":"b2dddd61-1d84-3214-b89e-437d31c77386","name":"EvaluateJsonPath","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"dde23ade-2663-3ad0-82a6-9438c358ff2a","instanceIdentifier":"6bbb3f3e-180b-181a-fd01-0283081224b4","name":"Extracting_Response","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"400646a0-3c51-3259-8c28-b639a331e010","instanceIdentifier":"00ac37f5-ae54-1878-29ff-b658beabf5f6","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["No Retry","Original"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"89a7ca07-c26f-3dba-a508-7988c244ad80","instanceIdentifier":"00ac37f3-ae54-1878-c725-818b2d62cef7","name":"dev_connect","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":408.0,"y":280.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"ac70b552-1351-3174-a84c-6e6d0e1b6cd9","instanceIdentifier":"2b3b1b93-3593-31e9-e98b-a93367bfd63e","name":"FetchS3Object","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"30d9d3e4-4b15-3c04-b734-0bdceabae1a4","instanceIdentifier":"94e790b5-fac1-3fe7-792c-e250b9ede26a","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["matched"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"07ea2437-781f-34ca-8e57-24a4d644682c","instanceIdentifier":"728b50e0-9e3d-364c-0c2f-c4b0987d97d9","name":"EvaluateJsonPath","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":360.0,"y":1888.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"a4305696-8fa9-3c66-94f3-b0dca8d2fb97","instanceIdentifier":"00310aaa-a011-3bd6-322b-519290d75a9a","name":"UpdateRecord","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"5b6606d6-d62e-3385-a8f6-1ffc0b568242","instanceIdentifier":"899030ab-e115-1750-df97-3431f27832c5","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"6ce4caf3-2383-3985-988c-85ea1bc5f598","instanceIdentifier":"bdf8282f-018b-1000-5bfa-e38fac112ac5","name":"ReplaceText","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":-24.0,"y":2592.0},{"x":-24.0,"y":2688.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"06bb6947-c65a-3ddb-9d4e-180628d49ab2","instanceIdentifier":"00ac37ea-ae54-1878-8d67-75d640dbcbcd","name":"prod_connect","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"691fea36-5cf6-33d0-8366-4452d3a6bd2f","instanceIdentifier":"00ac37eb-ae54-1878-2138-d575c46508d5","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["Retry","Failure"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"06bb6947-c65a-3ddb-9d4e-180628d49ab2","instanceIdentifier":"00ac37ea-ae54-1878-8d67-75d640dbcbcd","name":"prod_connect","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":960.0,"y":440.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"10251f17-df9f-3488-9d10-1fde8efd5bfc","instanceIdentifier":"c380f5c7-da76-37cd-a838-28cd96c56b94","name":"ConvertExcelToCSVProcessor","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"b38885c4-2460-3ec7-9928-a4093aefc11b","instanceIdentifier":"06af2d4b-6541-3be5-1be1-c10958192593","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"ac70b552-1351-3174-a84c-6e6d0e1b6cd9","instanceIdentifier":"2b3b1b93-3593-31e9-e98b-a93367bfd63e","name":"FetchS3Object","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"b5054536-0d9b-3bc6-b7ba-bd7ddb013af8","instanceIdentifier":"988054e2-e479-3751-7295-cdfac4b0e2d5","name":"ReplaceText","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"aa9449b6-1f1b-3f33-8a02-fc734b173aab","instanceIdentifier":"961ca40f-d701-39d4-b7ee-d08be3d7b8b5","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["splits"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"165aafb3-b4c5-38b3-af0e-33761227e8c1","instanceIdentifier":"9eaa2572-a215-3f94-76a6-ca6f837cb2a4","name":"SplitRecord","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":1408.0,"y":3096.0},{"x":1408.0,"y":3168.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"946a416a-3364-373e-8de2-bff95a88f973","instanceIdentifier":"6bbb3f37-180b-181a-4f6a-d90aac62cf1d","name":"Push_Into_DB","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"8898ea09-a5ea-36e3-a70c-73a36e4ee5eb","instanceIdentifier":"011ef331-018c-1000-3fce-d2c19f4210f6","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"946a416a-3364-373e-8de2-bff95a88f973","instanceIdentifier":"6bbb3f37-180b-181a-4f6a-d90aac62cf1d","name":"Push_Into_DB","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":960.0,"y":880.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"f34dec51-7af2-38a1-af97-7fd17de092dd","instanceIdentifier":"ff5b81a9-0f97-327a-822e-841a2fbc1e79","name":"SplitRecord","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"5fa7b74d-5649-3a65-bb37-f64abd0184a0","instanceIdentifier":"74389089-b217-38be-e788-7c580a22e52d","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"bd4e5a63-7b85-383e-a4c0-78e3b011f30e","instanceIdentifier":"d7206f19-4df2-3888-e68a-939f9e7a85a6","name":"JoltTransformJSON","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":160.0,"y":88.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"c7a8a49a-9c85-3997-a71a-d0be695cfcd4","instanceIdentifier":"4893b6bc-ccae-3854-cd9a-a97d1e368ee8","name":"SplitRecord","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"a1b095a5-446f-3c83-a06d-ed71c2f76cbd","instanceIdentifier":"7a9aba91-39cc-3dc0-aab6-6091e09ca826","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"b26da5c2-20e9-3fab-9608-326a9b1848cf","instanceIdentifier":"65ccf06c-e8ea-3007-c873-32d20c110ae5","name":"ListS3","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":296.0,"y":3312.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"a7d8c49d-9754-3932-8942-01412c46c578","instanceIdentifier":"6bbb3f3b-180b-181a-c022-dd3eeadc221f","name":"jsonFormating ","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"c4c1d7ad-2d96-3efa-9c77-03c23573be3d","instanceIdentifier":"014931af-2cbc-1cfe-d127-afb6048923dc","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"30d3339d-766b-320e-ad32-14d1270fa05c","instanceIdentifier":"6bbb3f40-180b-181a-da16-8ab0bb7afd2e","name":"UpdatingData","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":1040.0,"y":2472.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"26de82a2-fd23-3c57-8170-55c483ba36aa","instanceIdentifier":"00ac37ef-ae54-1878-77d8-ac7a8ef121f3","name":"Stagging_Conncect_Api","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"760b1738-2af0-38ab-aed2-7aaeb43aaff7","instanceIdentifier":"88a6f185-f382-33e5-c7ca-5b5548a9f268","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"b5054536-0d9b-3bc6-b7ba-bd7ddb013af8","instanceIdentifier":"988054e2-e479-3751-7295-cdfac4b0e2d5","name":"ReplaceText","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":280.0,"y":1504.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"8b9851cb-5007-3e44-b90c-64c77839212b","instanceIdentifier":"2ff15a5a-315c-354e-1eb8-1b0cb2c94399","name":"JoltTransformJSON","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"0f925a6f-39b9-3b52-bf21-f82c347a2060","instanceIdentifier":"16b37432-a3fd-35fb-7dfd-0d0f84a41145","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","id":"15c3fada-51d2-3df3-b1a0-5d90e495bc5a","instanceIdentifier":"78e09c06-a7d9-3736-ff8e-103f614b5165","name":"ouptPutflows","type":"OUTPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":1002.8347778320312,"y":2801.41748046875},{"x":664.0,"y":2800.0},{"x":314.83477783203125,"y":2801.41748046875}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"89a7ca07-c26f-3dba-a508-7988c244ad80","instanceIdentifier":"00ac37f3-ae54-1878-c725-818b2d62cef7","name":"dev_connect","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"62d6739a-263f-3567-8fe2-40eda5c11260","instanceIdentifier":"00ac37f7-ae54-1878-5582-b574b2d6db5a","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["Retry","Failure"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"89a7ca07-c26f-3dba-a508-7988c244ad80","instanceIdentifier":"00ac37f3-ae54-1878-c725-818b2d62cef7","name":"dev_connect","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":-128.0,"y":280.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"07ea2437-781f-34ca-8e57-24a4d644682c","instanceIdentifier":"728b50e0-9e3d-364c-0c2f-c4b0987d97d9","name":"EvaluateJsonPath","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"eaa1ea16-b516-3548-9d6f-ea96bb2e3275","instanceIdentifier":"ef54459b-6ff5-3223-84dc-8111f1ae8c8c","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["splits"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"c7a8a49a-9c85-3997-a71a-d0be695cfcd4","instanceIdentifier":"4893b6bc-ccae-3854-cd9a-a97d1e368ee8","name":"SplitRecord","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":368.0,"y":2040.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"2a1596e9-e5cc-3806-953d-f5f838b42ea6","instanceIdentifier":"f14ecb74-5723-360e-c351-a33b31136438","name":"MergeContent","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"c5c5cd3b-968b-3042-9be0-d231344e5ab3","instanceIdentifier":"9bff8352-accc-3826-d7ca-acf6a184f381","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"a4305696-8fa9-3c66-94f3-b0dca8d2fb97","instanceIdentifier":"00310aaa-a011-3bd6-322b-519290d75a9a","name":"UpdateRecord","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":960.0,"y":1032.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"123b63e5-73b8-395f-a20c-defe1cbc16bb","instanceIdentifier":"3fcdcbcc-2e0c-3dee-b9bf-63419cde4441","name":"ReplaceText","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"e5e7f9ba-507b-3cb7-85e1-6c45948b6ac7","instanceIdentifier":"c707d2b6-ee3b-3693-e883-646d254f066c","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["splits"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"f34dec51-7af2-38a1-af97-7fd17de092dd","instanceIdentifier":"ff5b81a9-0f97-327a-822e-841a2fbc1e79","name":"SplitRecord","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":368.0,"y":1576.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"9c78657e-22d2-3fae-a275-ff4f85d053af","instanceIdentifier":"aa072cf4-e529-3ba3-71da-b11919234aee","name":"UpdateRecord","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"c06faa94-9ebd-3a2c-8859-45980efc659e","instanceIdentifier":"9f1bda67-2331-301f-a02d-87822440336f","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"8b9851cb-5007-3e44-b90c-64c77839212b","instanceIdentifier":"2ff15a5a-315c-354e-1eb8-1b0cb2c94399","name":"JoltTransformJSON","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":1360.0,"y":2576.0},{"x":1360.0,"y":2688.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"26de82a2-fd23-3c57-8170-55c483ba36aa","instanceIdentifier":"00ac37ef-ae54-1878-77d8-ac7a8ef121f3","name":"Stagging_Conncect_Api","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"d5c2826c-19f0-3251-aa57-1cf4c44d76d0","instanceIdentifier":"00ac37f0-ae54-1878-870d-9bc46ab75a8c","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["Retry","Failure"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"26de82a2-fd23-3c57-8170-55c483ba36aa","instanceIdentifier":"00ac37ef-ae54-1878-77d8-ac7a8ef121f3","name":"Stagging_Conncect_Api","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":960.0,"y":592.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"d8b2e805-04da-38a8-a262-cedd7637ace3","instanceIdentifier":"b06bea84-b956-319e-0b0b-db6921b6b6a4","name":"ConvertRecord","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"b430a301-deb7-3c77-ba47-2e4ed56c7015","instanceIdentifier":"2bf1c44b-02de-3ad8-236d-c2468d2d8d85","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"10251f17-df9f-3488-9d10-1fde8efd5bfc","instanceIdentifier":"c380f5c7-da76-37cd-a838-28cd96c56b94","name":"ConvertExcelToCSVProcessor","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":1256.0,"y":3168.0},{"x":1256.0,"y":3504.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"a31ca9d8-31be-3004-b8e4-d10eaace485d","instanceIdentifier":"d5164561-aeb5-3f4f-0bd4-5873a2718eac","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"86ebe81a-5720-3329-a144-8c4e45143aea","instanceIdentifier":"011e7eef-018c-1000-d0fe-a8f7e304c85e","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"946a416a-3364-373e-8de2-bff95a88f973","instanceIdentifier":"6bbb3f37-180b-181a-4f6a-d90aac62cf1d","name":"Push_Into_DB","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":368.0,"y":2184.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"165aafb3-b4c5-38b3-af0e-33761227e8c1","instanceIdentifier":"9eaa2572-a215-3f94-76a6-ca6f837cb2a4","name":"SplitRecord","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"9e1c1507-2984-3f76-ab26-2c0db38a8624","instanceIdentifier":"9fb7d0fa-6273-3a96-cb7f-547926885dc4","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["merged"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"2a1596e9-e5cc-3806-953d-f5f838b42ea6","instanceIdentifier":"f14ecb74-5723-360e-c351-a33b31136438","name":"MergeContent","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"89a7ca07-c26f-3dba-a508-7988c244ad80","instanceIdentifier":"00ac37f3-ae54-1878-c725-818b2d62cef7","name":"dev_connect","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"9015991d-8f6c-391a-a5b8-2f57a9a72061","instanceIdentifier":"00ac37f4-ae54-1878-f6e9-8539372285f9","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"b5054536-0d9b-3bc6-b7ba-bd7ddb013af8","instanceIdentifier":"988054e2-e479-3751-7295-cdfac4b0e2d5","name":"ReplaceText","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":960.0,"y":736.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"bd4e5a63-7b85-383e-a4c0-78e3b011f30e","instanceIdentifier":"d7206f19-4df2-3888-e68a-939f9e7a85a6","name":"JoltTransformJSON","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"fa93f2aa-04bd-3898-8b35-cf0974dd794f","instanceIdentifier":"5a46009f-e4d8-3334-ac3d-2fedb3ccc8e4","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"d8b2e805-04da-38a8-a262-cedd7637ace3","instanceIdentifier":"b06bea84-b956-319e-0b0b-db6921b6b6a4","name":"ConvertRecord","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":1032.0,"y":3312.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"946a416a-3364-373e-8de2-bff95a88f973","instanceIdentifier":"6bbb3f37-180b-181a-4f6a-d90aac62cf1d","name":"Push_Into_DB","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"3239fa2d-3e69-3a57-9a05-bd2871e4198b","instanceIdentifier":"014931b0-2cbc-1cfe-c3bb-3320cb7f0939","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["matched"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"a7d8c49d-9754-3932-8942-01412c46c578","instanceIdentifier":"6bbb3f3b-180b-181a-c022-dd3eeadc221f","name":"jsonFormating ","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":360.0,"y":1736.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"6ce4caf3-2383-3985-988c-85ea1bc5f598","instanceIdentifier":"bdf8282f-018b-1000-5bfa-e38fac112ac5","name":"ReplaceText","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"4944300d-6467-3137-9c6f-e2b15a834bce","instanceIdentifier":"bdf85162-018b-1000-92d7-d5974a5f989b","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","id":"9c78657e-22d2-3fae-a275-ff4f85d053af","instanceIdentifier":"aa072cf4-e529-3ba3-71da-b11919234aee","name":"UpdateRecord","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[{"bulletinLevel":"WARN","bundle":{"artifact":"nifi-dbcp-service-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.23.2"},"type":"org.apache.nifi.dbcp.DBCPService"}],"groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"9aa727af-25b6-39c3-bb6b-2de9630de3dd","instanceIdentifier":"011bf33b-018c-1000-2ed5-830554a24127","name":"DBCPConnectionPool","properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"#{DB_Driver_Class_Name}","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Database Connection URL":"#{DB_URL}","dbcp-time-between-eviction-runs":"-1","Database User":"#{DB_usr}","dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{DB_Driver_Location}","dbcp-max-idle-conns":"8","Password":"#{DB_password}"},"propertyDescriptors":{"kerberos-password":{"displayName":"Kerberos Password","identifiesControllerService":false,"name":"kerberos-password","sensitive":true},"dbcp-min-idle-conns":{"displayName":"Minimum Idle Connections","identifiesControllerService":false,"name":"dbcp-min-idle-conns","sensitive":false},"Max Wait Time":{"displayName":"Max Wait Time","identifiesControllerService":false,"name":"Max Wait Time","sensitive":false},"Database Driver Class Name":{"displayName":"Database Driver Class Name","identifiesControllerService":false,"name":"Database Driver Class Name","sensitive":false},"dbcp-min-evictable-idle-time":{"displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"name":"dbcp-min-evictable-idle-time","sensitive":false},"kerberos-principal":{"displayName":"Kerberos Principal","identifiesControllerService":false,"name":"kerberos-principal","sensitive":false},"Max Total Connections":{"displayName":"Max Total Connections","identifiesControllerService":false,"name":"Max Total Connections","sensitive":false},"kerberos-credentials-service":{"displayName":"Kerberos Credentials Service","identifiesControllerService":true,"name":"kerberos-credentials-service","sensitive":false},"dbcp-max-conn-lifetime":{"displayName":"Max Connection Lifetime","identifiesControllerService":false,"name":"dbcp-max-conn-lifetime","sensitive":false},"Validation-query":{"displayName":"Validation query","identifiesControllerService":false,"name":"Validation-query","sensitive":false},"Database Connection URL":{"displayName":"Database Connection URL","identifiesControllerService":false,"name":"Database Connection URL","sensitive":false},"dbcp-time-between-eviction-runs":{"displayName":"Time Between Eviction Runs","identifiesControllerService":false,"name":"dbcp-time-between-eviction-runs","sensitive":false},"Database User":{"displayName":"Database User","identifiesControllerService":false,"name":"Database User","sensitive":false},"kerberos-user-service":{"displayName":"Kerberos User Service","identifiesControllerService":true,"name":"kerberos-user-service","sensitive":false},"dbcp-soft-min-evictable-idle-time":{"displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"name":"dbcp-soft-min-evictable-idle-time","sensitive":false},"database-driver-locations":{"displayName":"Database Driver Location(s)","identifiesControllerService":false,"name":"database-driver-locations","resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]},"sensitive":false},"dbcp-max-idle-conns":{"displayName":"Max Idle Connections","identifiesControllerService":false,"name":"dbcp-max-idle-conns","sensitive":false},"Password":{"displayName":"Password","identifiesControllerService":false,"name":"Password","sensitive":true}},"scheduledState":"DISABLED","type":"org.apache.nifi.dbcp.DBCPConnectionPool"},{"bulletinLevel":"WARN","bundle":{"artifact":"nifi-record-serialization-services-nar","group":"org.apache.nifi","version":"1.23.2"},"componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.23.2"},"type":"org.apache.nifi.serialization.RecordReaderFactory"}],"groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"03649152-ed91-3df8-a3a1-50e275bd0759","instanceIdentifier":"bdf52505-018b-1000-2dfb-c70952075752","name":"JsonTreeReader","properties":{"schema-application-strategy":"SELECTED_PART","schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-access-strategy":"infer-schema","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"displayName":"Schema Branch","identifiesControllerService":false,"name":"schema-branch","sensitive":false},"schema-application-strategy":{"displayName":"Schema Application Strategy","identifiesControllerService":false,"name":"schema-application-strategy","sensitive":false},"Timestamp Format":{"displayName":"Timestamp Format","identifiesControllerService":false,"name":"Timestamp Format","sensitive":false},"schema-inference-cache":{"displayName":"Schema Inference Cache","identifiesControllerService":true,"name":"schema-inference-cache","sensitive":false},"Date Format":{"displayName":"Date Format","identifiesControllerService":false,"name":"Date Format","sensitive":false},"schema-name":{"displayName":"Schema Name","identifiesControllerService":false,"name":"schema-name","sensitive":false},"starting-field-strategy":{"displayName":"Starting Field Strategy","identifiesControllerService":false,"name":"starting-field-strategy","sensitive":false},"schema-registry":{"displayName":"Schema Registry","identifiesControllerService":true,"name":"schema-registry","sensitive":false},"starting-field-name":{"displayName":"Starting Field Name","identifiesControllerService":false,"name":"starting-field-name","sensitive":false},"Time Format":{"displayName":"Time Format","identifiesControllerService":false,"name":"Time Format","sensitive":false},"schema-access-strategy":{"displayName":"Schema Access Strategy","identifiesControllerService":false,"name":"schema-access-strategy","sensitive":false},"schema-version":{"displayName":"Schema Version","identifiesControllerService":false,"name":"schema-version","sensitive":false},"schema-text":{"displayName":"Schema Text","identifiesControllerService":false,"name":"schema-text","sensitive":false}},"scheduledState":"DISABLED","type":"org.apache.nifi.json.JsonTreeReader"},{"bulletinLevel":"WARN","bundle":{"artifact":"nifi-record-serialization-services-nar","group":"org.apache.nifi","version":"1.23.2"},"componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.23.2"},"type":"org.apache.nifi.serialization.RecordSetWriterFactory"}],"groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","instanceIdentifier":"bdf56021-018b-1000-3b41-1872c75cb0ca","name":"JsonRecordSetWriter","properties":{"compression-level":"1","Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"displayName":"Schema Branch","identifiesControllerService":false,"name":"schema-branch","sensitive":false},"compression-level":{"displayName":"Compression Level","identifiesControllerService":false,"name":"compression-level","sensitive":false},"schema-cache":{"displayName":"Schema Cache","identifiesControllerService":true,"name":"schema-cache","sensitive":false},"Timestamp Format":{"displayName":"Timestamp Format","identifiesControllerService":false,"name":"Timestamp Format","sensitive":false},"Date Format":{"displayName":"Date Format","identifiesControllerService":false,"name":"Date Format","sensitive":false},"Pretty Print JSON":{"displayName":"Pretty Print JSON","identifiesControllerService":false,"name":"Pretty Print JSON","sensitive":false},"compression-format":{"displayName":"Compression Format","identifiesControllerService":false,"name":"compression-format","sensitive":false},"Schema Write Strategy":{"displayName":"Schema Write Strategy","identifiesControllerService":false,"name":"Schema Write Strategy","sensitive":false},"suppress-nulls":{"displayName":"Suppress Null Values","identifiesControllerService":false,"name":"suppress-nulls","sensitive":false},"output-grouping":{"displayName":"Output Grouping","identifiesControllerService":false,"name":"output-grouping","sensitive":false},"schema-name":{"displayName":"Schema Name","identifiesControllerService":false,"name":"schema-name","sensitive":false},"schema-registry":{"displayName":"Schema Registry","identifiesControllerService":true,"name":"schema-registry","sensitive":false},"Time Format":{"displayName":"Time Format","identifiesControllerService":false,"name":"Time Format","sensitive":false},"schema-access-strategy":{"displayName":"Schema Access Strategy","identifiesControllerService":false,"name":"schema-access-strategy","sensitive":false},"schema-protocol-version":{"displayName":"Schema Protocol Version","identifiesControllerService":false,"name":"schema-protocol-version","sensitive":false},"schema-version":{"displayName":"Schema Version","identifiesControllerService":false,"name":"schema-version","sensitive":false},"schema-text":{"displayName":"Schema Text","identifiesControllerService":false,"name":"schema-text","sensitive":false}},"scheduledState":"DISABLED","type":"org.apache.nifi.json.JsonRecordSetWriter"},{"bulletinLevel":"WARN","bundle":{"artifact":"nifi-record-serialization-services-nar","group":"org.apache.nifi","version":"1.23.2"},"componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.23.2"},"type":"org.apache.nifi.serialization.RecordReaderFactory"}],"groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"6a0d1e8f-46ea-303c-9081-80b96e0eb841","instanceIdentifier":"be012f78-018b-1000-5469-caf846eae6f0","name":"CSVReader","properties":{"ignore-csv-header":"false","Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Escape Character":"\\","Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","csv-reader-csv-parser":"commons-csv","schema-access-strategy":"infer-schema","csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"name":"ignore-csv-header","sensitive":false},"schema-branch":{"displayName":"Schema Branch","identifiesControllerService":false,"name":"schema-branch","sensitive":false},"Trim double quote":{"displayName":"Trim double quote","identifiesControllerService":false,"name":"Trim double quote","sensitive":false},"CSV Format":{"displayName":"CSV Format","identifiesControllerService":false,"name":"CSV Format","sensitive":false},"Quote Character":{"displayName":"Quote Character","identifiesControllerService":false,"name":"Quote Character","sensitive":false},"csvutils-allow-duplicate-header-names":{"displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"name":"csvutils-allow-duplicate-header-names","sensitive":false},"Value Separator":{"displayName":"Value Separator","identifiesControllerService":false,"name":"Value Separator","sensitive":false},"Record Separator":{"displayName":"Record Separator","identifiesControllerService":false,"name":"Record Separator","sensitive":false},"Timestamp Format":{"displayName":"Timestamp Format","identifiesControllerService":false,"name":"Timestamp Format","sensitive":false},"Escape Character":{"displayName":"Escape Character","identifiesControllerService":false,"name":"Escape Character","sensitive":false},"Date Format":{"displayName":"Date Format","identifiesControllerService":false,"name":"Date Format","sensitive":false},"Null String":{"displayName":"Null String","identifiesControllerService":false,"name":"Null String","sensitive":false},"Skip Header Line":{"displayName":"Treat First Line as Header","identifiesControllerService":false,"name":"Skip Header Line","sensitive":false},"Trim Fields":{"displayName":"Trim Fields","identifiesControllerService":false,"name":"Trim Fields","sensitive":false},"schema-name":{"displayName":"Schema Name","identifiesControllerService":false,"name":"schema-name","sensitive":false},"schema-registry":{"displayName":"Schema Registry","identifiesControllerService":true,"name":"schema-registry","sensitive":false},"csv-reader-csv-parser":{"displayName":"CSV Parser","identifiesControllerService":false,"name":"csv-reader-csv-parser","sensitive":false},"Time Format":{"displayName":"Time Format","identifiesControllerService":false,"name":"Time Format","sensitive":false},"Comment Marker":{"displayName":"Comment Marker","identifiesControllerService":false,"name":"Comment Marker","sensitive":false},"schema-access-strategy":{"displayName":"Schema Access Strategy","identifiesControllerService":false,"name":"schema-access-strategy","sensitive":false},"schema-version":{"displayName":"Schema Version","identifiesControllerService":false,"name":"schema-version","sensitive":false},"csvutils-character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"csvutils-character-set","sensitive":false},"schema-text":{"displayName":"Schema Text","identifiesControllerService":false,"name":"schema-text","sensitive":false}},"scheduledState":"DISABLED","type":"org.apache.nifi.csv.CSVReader"}],"defaultBackPressureDataSizeThreshold":"1 GB","defaultBackPressureObjectThreshold":10000,"defaultFlowFileExpiration":"0 sec","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[{"componentType":"FUNNEL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"a31ca9d8-31be-3004-b8e4-d10eaace485d","instanceIdentifier":"d5164561-aeb5-3f4f-0bd4-5873a2718eac","position":{"x":648.0,"y":3480.0}}],"identifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","inputPorts":[],"instanceIdentifier":"e6681644-072c-365a-4236-13a1dba5bd12","labels":[{"componentType":"LABEL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","height":40.0,"identifier":"22a4d61e-fa2b-3d03-bcfc-cf2ef769b1c4","instanceIdentifier":"be245dfc-018b-1000-11af-1f7fbbdce8df","label":"       Employee_Integration","position":{"x":496.0,"y":-40.0},"style":{"font-size":"24px"},"width":344.0,"zIndex":0}],"logFileSuffix":"","name":"Empolyee_Integration","outputPorts":[],"parameterContextName":"params","position":{"x":693.0,"y":221.0},"processGroups":[{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":512.0,"y":464.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","id":"af7a79b5-c548-3728-b04f-d0bb36b16c33","instanceIdentifier":"06fd8b82-9461-3056-bab4-ca2b41a31738","name":"ExecuteScript","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","identifier":"311a906b-1210-3f55-a5b7-bfc920ef098e","instanceIdentifier":"5fb1e299-2ca1-3076-4f8f-8a4c43e6b1d7","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","id":"4e01b148-fa76-3c76-ab53-0d1985b2e124","instanceIdentifier":"1fb46d36-9fa2-3eed-813b-d9fb26e15da8","name":"ExecuteScript","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":512.0,"y":312.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","id":"4e01b148-fa76-3c76-ab53-0d1985b2e124","instanceIdentifier":"1fb46d36-9fa2-3eed-813b-d9fb26e15da8","name":"ExecuteScript","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","identifier":"c12e0794-ba8f-37a5-8139-2b5767383891","instanceIdentifier":"bda10310-fab7-32c0-d582-d28bf13c921c","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","id":"db63e1fe-1d0d-3e3f-9a13-8238e6916e92","instanceIdentifier":"6750e115-8990-3088-fb82-e7e4206ddb91","name":"ExecuteScript","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":1104.0,"y":312.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","id":"4e01b148-fa76-3c76-ab53-0d1985b2e124","instanceIdentifier":"1fb46d36-9fa2-3eed-813b-d9fb26e15da8","name":"ExecuteScript","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","identifier":"157fa67f-3e7d-39b3-972d-71c2a6e0e2fb","instanceIdentifier":"65a2ea54-a7ad-3947-df49-7c1dc4b78feb","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","id":"db63e1fe-1d0d-3e3f-9a13-8238e6916e92","instanceIdentifier":"6750e115-8990-3088-fb82-e7e4206ddb91","name":"ExecuteScript","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":536.0,"y":680.0}],"componentType":"CONNECTION","destination":{"groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","id":"15c3fada-51d2-3df3-b1a0-5d90e495bc5a","instanceIdentifier":"78e09c06-a7d9-3736-ff8e-103f614b5165","name":"ouptPutflows","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","identifier":"6989361b-0dc7-3d9e-b81a-4226186072b1","instanceIdentifier":"92a46615-b96c-3745-5e66-8122dddd08af","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","id":"af7a79b5-c548-3728-b04f-d0bb36b16c33","instanceIdentifier":"06fd8b82-9461-3056-bab4-ca2b41a31738","name":"ExecuteScript","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":1080.0,"y":688.0}],"componentType":"CONNECTION","destination":{"groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","id":"15c3fada-51d2-3df3-b1a0-5d90e495bc5a","instanceIdentifier":"78e09c06-a7d9-3736-ff8e-103f614b5165","name":"ouptPutflows","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","identifier":"4642373c-e8d5-3814-9f6b-418f5e7554f5","instanceIdentifier":"2900a4bb-e070-3499-2009-d274cdfc3194","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","id":"af7a79b5-c548-3728-b04f-d0bb36b16c33","instanceIdentifier":"06fd8b82-9461-3056-bab4-ca2b41a31738","name":"ExecuteScript","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":1104.0,"y":456.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","id":"af7a79b5-c548-3728-b04f-d0bb36b16c33","instanceIdentifier":"06fd8b82-9461-3056-bab4-ca2b41a31738","name":"ExecuteScript","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","identifier":"44096328-6e17-3e7d-b266-e2449ef32bf7","instanceIdentifier":"fc33e4dc-6001-3f71-4100-7dae1a63556c","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","id":"4e01b148-fa76-3c76-ab53-0d1985b2e124","instanceIdentifier":"1fb46d36-9fa2-3eed-813b-d9fb26e15da8","name":"ExecuteScript","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","id":"db63e1fe-1d0d-3e3f-9a13-8238e6916e92","instanceIdentifier":"6750e115-8990-3088-fb82-e7e4206ddb91","name":"ExecuteScript","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","identifier":"8bab5f2d-4f42-34df-a0a0-57788ee66a73","instanceIdentifier":"a50ecfa1-aae0-3706-48bb-ecd387cf345f","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"groupId":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","id":"dae7223a-98c7-31d6-a656-234e0f8939a2","instanceIdentifier":"6bd36008-ad72-33ba-29c0-c45e3467c501","name":"InputFlows","type":"INPUT_PORT"},"zIndex":0}],"controllerServices":[],"defaultBackPressureDataSizeThreshold":"1 GB","defaultBackPressureObjectThreshold":10000,"defaultFlowFileExpiration":"0 sec","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[],"groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","inputPorts":[{"allowRemoteAccess":false,"componentType":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","identifier":"dae7223a-98c7-31d6-a656-234e0f8939a2","instanceIdentifier":"6bd36008-ad72-33ba-29c0-c45e3467c501","name":"InputFlows","position":{"x":688.0,"y":48.0},"scheduledState":"ENABLED","type":"INPUT_PORT"}],"instanceIdentifier":"0cad71af-492c-35f9-b8cd-d2b67a7c1be6","labels":[],"name":"Execute_Scripts","outputPorts":[{"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","identifier":"15c3fada-51d2-3df3-b1a0-5d90e495bc5a","instanceIdentifier":"78e09c06-a7d9-3736-ff8e-103f614b5165","name":"ouptPutflows","position":{"x":688.0,"y":664.0},"scheduledState":"ENABLED","type":"OUTPUT_PORT"}],"position":{"x":88.0,"y":1280.0},"processGroups":[],"processors":[{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-scripting-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","identifier":"4e01b148-fa76-3c76-ab53-0d1985b2e124","instanceIdentifier":"1fb46d36-9fa2-3eed-813b-d9fb26e15da8","maxBackoffPeriod":"10 mins","name":"ExecuteScript","penaltyDuration":"30 sec","position":{"x":632.0,"y":320.0},"properties":{"Script Engine":"python","Script Body":"import datetime\n\nflowFile = session.get()\nif flowFile is not None:\n    # Read the attribute value as a string\n    excel_date_str = flowFile.getAttribute('Excel_dob')\n    \n    if excel_date_str is not None and excel_date_str.strip() != \"\":\n        try:\n            # Convert the attribute value to an integer\n            excel_date = int(excel_date_str)\n            \n            java_epoch_diff = 25569.0\n            millis_in_day = 24 * 60 * 60 * 1000\n            \n            offset_millis = int((excel_date - java_epoch_diff) * millis_in_day)\n            \n            normal_date = datetime.datetime.fromtimestamp(offset_millis / 1000.0)\n            \n            formatted_dob = str(normal_date)\n            \n            # Store the formatted date as an attribute\n            flowFile = session.putAttribute(flowFile, 'Formatted_dob', formatted_dob)\n            \n            # Transfer the flow file to success relationship\n            session.transfer(flowFile, REL_SUCCESS)\n        except ValueError:\n            # If attribute value is not a valid integer, route to failure\n            session.transfer(flowFile, REL_FAILURE)\n    else:\n        # If the attribute is missing or empty, route to failure relationship\n        session.transfer(flowFile, REL_FAILURE)\nelse:\n    # If no flow file received, just return\n    session.transfer(flowFile, REL_FAILURE)"},"propertyDescriptors":{"Script File":{"displayName":"Script File","identifiesControllerService":false,"name":"Script File","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]},"sensitive":false},"Script Engine":{"displayName":"Script Engine","identifiesControllerService":false,"name":"Script Engine","sensitive":false},"Script Body":{"displayName":"Script Body","identifiesControllerService":false,"name":"Script Body","sensitive":false},"Module Directory":{"displayName":"Module Directory","identifiesControllerService":false,"name":"Module Directory","resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]},"sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.script.ExecuteScript","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-scripting-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","identifier":"af7a79b5-c548-3728-b04f-d0bb36b16c33","instanceIdentifier":"06fd8b82-9461-3056-bab4-ca2b41a31738","maxBackoffPeriod":"10 mins","name":"ExecuteScript","penaltyDuration":"30 sec","position":{"x":632.0,"y":464.0},"properties":{"Script Engine":"python","Script Body":"import datetime\n\nflowFile = session.get()\nif flowFile is not None:\n    # Read the attribute value as a string\n    excel_date_str = flowFile.getAttribute('Excel_exit_date')\n    \n    if excel_date_str is not None and excel_date_str.strip() != \"\":\n        try:\n            # Convert the attribute value to an integer\n            excel_date = int(excel_date_str)\n            \n            java_epoch_diff = 25569.0\n            millis_in_day = 24 * 60 * 60 * 1000\n            \n            offset_millis = int((excel_date - java_epoch_diff) * millis_in_day)\n            \n            normal_date = datetime.datetime.fromtimestamp(offset_millis / 1000.0)\n            \n            formatted_exit_date = str(normal_date)\n            \n            # Store the formatted date as an attribute\n            flowFile = session.putAttribute(flowFile, 'Formatted_exit_date', formatted_exit_date)\n            \n            # Transfer the flow file to success relationship\n            session.transfer(flowFile, REL_SUCCESS)\n        except ValueError:\n            # If attribute value is not a valid integer, route to failure\n            session.transfer(flowFile, REL_FAILURE)\n    else:\n        # If the attribute is missing or empty, route to failure relationship\n        session.transfer(flowFile, REL_FAILURE)\nelse:\n    # If no flow file received, just return\n    session.transfer(flowFile, REL_FAILURE)"},"propertyDescriptors":{"Script File":{"displayName":"Script File","identifiesControllerService":false,"name":"Script File","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]},"sensitive":false},"Script Engine":{"displayName":"Script Engine","identifiesControllerService":false,"name":"Script Engine","sensitive":false},"Script Body":{"displayName":"Script Body","identifiesControllerService":false,"name":"Script Body","sensitive":false},"Module Directory":{"displayName":"Module Directory","identifiesControllerService":false,"name":"Module Directory","resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]},"sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.script.ExecuteScript","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-scripting-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"b32023d8-0ed0-3ac0-a5d4-e0013fb16fd0","identifier":"db63e1fe-1d0d-3e3f-9a13-8238e6916e92","instanceIdentifier":"6750e115-8990-3088-fb82-e7e4206ddb91","maxBackoffPeriod":"10 mins","name":"ExecuteScript","penaltyDuration":"30 sec","position":{"x":632.0,"y":176.0},"properties":{"Script Engine":"python","Script Body":"import datetime\n\nflowFile = session.get()\nif flowFile is not None:\n    # Read the attribute value as a string\n    excel_date_str = flowFile.getAttribute('Excel_doj')\n    \n    if excel_date_str is not None and excel_date_str.strip() != \"\":\n        try:\n            # Convert the attribute value to an integer\n            excel_date = int(excel_date_str)\n            \n            java_epoch_diff = 25569.0\n            millis_in_day = 24 * 60 * 60 * 1000\n            \n            offset_millis = int((excel_date - java_epoch_diff) * millis_in_day)\n            \n            normal_date = datetime.datetime.fromtimestamp(offset_millis / 1000.0)\n            \n            formatted_doj = str(normal_date)\n            \n            # Store the formatted date as an attribute\n            flowFile = session.putAttribute(flowFile, 'Formatted_doj', formatted_doj)\n            \n            # Transfer the flow file to success relationship\n            session.transfer(flowFile, REL_SUCCESS)\n        except ValueError:\n            # If attribute value is not a valid integer, route to failure\n            session.transfer(flowFile, REL_FAILURE)\n    else:\n        # If the attribute is missing or empty, route to failure relationship\n        session.transfer(flowFile, REL_FAILURE)\nelse:\n    # If no flow file received, just return\n    session.transfer(flowFile, REL_FAILURE)"},"propertyDescriptors":{"Script File":{"displayName":"Script File","identifiesControllerService":false,"name":"Script File","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]},"sensitive":false},"Script Engine":{"displayName":"Script Engine","identifiesControllerService":false,"name":"Script Engine","sensitive":false},"Script Body":{"displayName":"Script Body","identifiesControllerService":false,"name":"Script Body","sensitive":false},"Module Directory":{"displayName":"Module Directory","identifiesControllerService":false,"name":"Module Directory","resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]},"sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.script.ExecuteScript","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}}],"processors":[{"autoTerminatedRelationships":["original","failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"165aafb3-b4c5-38b3-af0e-33761227e8c1","instanceIdentifier":"9eaa2572-a215-3f94-76a6-ca6f837cb2a4","maxBackoffPeriod":"10 mins","name":"SplitRecord","penaltyDuration":"30 sec","position":{"x":488.0,"y":2200.0},"properties":{"Record Writer":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","Record Reader":"03649152-ed91-3df8-a3a1-50e275bd0759","Records Per Split":"100"},"propertyDescriptors":{"Record Writer":{"displayName":"Record Writer","identifiesControllerService":true,"name":"Record Writer","sensitive":false},"Record Reader":{"displayName":"Record Reader","identifiesControllerService":true,"name":"Record Reader","sensitive":false},"Records Per Split":{"displayName":"Records Per Split","identifiesControllerService":false,"name":"Records Per Split","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.SplitRecord","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"8b9851cb-5007-3e44-b90c-64c77839212b","instanceIdentifier":"2ff15a5a-315c-354e-1eb8-1b0cb2c94399","maxBackoffPeriod":"10 mins","name":"JoltTransformJSON","penaltyDuration":"30 sec","position":{"x":488.0,"y":1440.0},"properties":{"jolt-spec":"[{\n\t\"operation\": \"modify-overwrite-beta\",\n\t\"spec\": {\n\t\t\"doj\": \"=toString\",\n\t\t\"dob\": \"=toString\",\n\t\t\"lastWorkingDay\": \"=toString\",\n\t\t\"primaryContactNo\": \"=toString\",\n\t\t\"secondaryContactNo\": \"=toString\",\n\t\t\"BIG_toLower\": \"=toLower(@(1,status))\",\n\t\t\"gender_small\": \"=toLower(@(1,gender))\",\n\t\t\"big_data_source\": \"=toUpper(@(1,data_source))\"\n\t}\n}, {\n\t\"operation\": \"shift\",\n\t\"spec\": {\n\t\t\"defaultFullName\": \"[0].name\",\n\t\t\"firstName\": \"[0].firstName\",\n\t\t\"middleName\": \"[0].middleName\",\n\t\t\"lastName\": \"[0].lastName\",\n\t\t\"gender_small\": \"[0].gender\",\n\t\t\"email\": \"[0].email\",\n\t\t\"designation\": \"[0].designation\",\n\t\t\"doj\": \"[0].doj\",\n\t\t\"dob\": \"[0].dob\",\n\t\t\"location\": \"[0].location\",\n\t\t\"primaryContactNo\": \"[0].primaryContactNo\",\n\t\t\"secondaryContactNo\": \"[0].secondaryContactNo\",\n\t\t\"BIG_toLower\": \"[0].status\",\n\t\t\"lastWorkingDay\": \"[0].lastWorkingDay\",\n\t\t\"organization\": \"[0].organization\",\n\t\t\"big_data_source\": \"[0].data_source\"\n\n\n\t}\n}]","jolt-transform":"jolt-transform-chain","pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"displayName":"Jolt Specification","identifiesControllerService":false,"name":"jolt-spec","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]},"sensitive":false},"jolt-transform":{"displayName":"Jolt Transformation DSL","identifiesControllerService":false,"name":"jolt-transform","sensitive":false},"jolt-custom-class":{"displayName":"Custom Transformation Class Name","identifiesControllerService":false,"name":"jolt-custom-class","sensitive":false},"jolt-custom-modules":{"displayName":"Custom Module Directory","identifiesControllerService":false,"name":"jolt-custom-modules","resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]},"sensitive":false},"pretty_print":{"displayName":"Pretty Print","identifiesControllerService":false,"name":"pretty_print","sensitive":false},"Transform Cache Size":{"displayName":"Transform Cache Size","identifiesControllerService":false,"name":"Transform Cache Size","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"946a416a-3364-373e-8de2-bff95a88f973","instanceIdentifier":"6bbb3f37-180b-181a-4f6a-d90aac62cf1d","maxBackoffPeriod":"10 mins","name":"Push_Into_DB","penaltyDuration":"30 sec","position":{"x":856.0,"y":3104.0},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"9aa727af-25b6-39c3-bb6b-2de9630de3dd","esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"INSERT INTO `boomi`.`employee_integration_failures` (`input`,`errorMessage`,`executionId`,`statusCode`, `createdBy`, `updatedBy`,`sourceFile`) \nVALUES ('${input}','${invokehttp.response.body}','${executionId}','${statusCode}','${createdBy}','${updatedBy}','${sourceFile}');","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"displayName":"Max Rows Per Flow File","identifiesControllerService":false,"name":"esql-max-rows","sensitive":false},"dbf-default-precision":{"displayName":"Default Decimal Precision","identifiesControllerService":false,"name":"dbf-default-precision","sensitive":false},"Max Wait Time":{"displayName":"Max Wait Time","identifiesControllerService":false,"name":"Max Wait Time","sensitive":false},"Database Connection Pooling Service":{"displayName":"Database Connection Pooling Service","identifiesControllerService":true,"name":"Database Connection Pooling Service","sensitive":false},"sql-post-query":{"displayName":"SQL Post-Query","identifiesControllerService":false,"name":"sql-post-query","sensitive":false},"esql-auto-commit":{"displayName":"Set Auto Commit","identifiesControllerService":false,"name":"esql-auto-commit","sensitive":false},"dbf-user-logical-types":{"displayName":"Use Avro Logical Types","identifiesControllerService":false,"name":"dbf-user-logical-types","sensitive":false},"dbf-default-scale":{"displayName":"Default Decimal Scale","identifiesControllerService":false,"name":"dbf-default-scale","sensitive":false},"sql-pre-query":{"displayName":"SQL Pre-Query","identifiesControllerService":false,"name":"sql-pre-query","sensitive":false},"compression-format":{"displayName":"Compression Format","identifiesControllerService":false,"name":"compression-format","sensitive":false},"esql-output-batch-size":{"displayName":"Output Batch Size","identifiesControllerService":false,"name":"esql-output-batch-size","sensitive":false},"esql-fetch-size":{"displayName":"Fetch Size","identifiesControllerService":false,"name":"esql-fetch-size","sensitive":false},"SQL select query":{"displayName":"SQL select query","identifiesControllerService":false,"name":"SQL select query","sensitive":false},"dbf-normalize":{"displayName":"Normalize Table/Column Names","identifiesControllerService":false,"name":"dbf-normalize","sensitive":false}},"retriedRelationships":["failure"],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ExecuteSQL","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-aws-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"ac70b552-1351-3174-a84c-6e6d0e1b6cd9","instanceIdentifier":"2b3b1b93-3593-31e9-e98b-a93367bfd63e","maxBackoffPeriod":"10 mins","name":"FetchS3Object","penaltyDuration":"30 sec","position":{"x":488.0,"y":304.0},"properties":{"Access Key":"#{ak}","requester-pays":"false","Object Key":"${file}","Signer Override":"Default Signature","Bucket":"connect-excel-uploads","Communications Timeout":"30 secs","Region":"us-west-2","Secret Key":"#{sk}"},"propertyDescriptors":{"Proxy Host":{"displayName":"Proxy Host","identifiesControllerService":false,"name":"Proxy Host","sensitive":false},"range-length":{"displayName":"Range Length","identifiesControllerService":false,"name":"range-length","sensitive":false},"Access Key":{"displayName":"Access Key ID","identifiesControllerService":false,"name":"Access Key","sensitive":true},"range-start":{"displayName":"Range Start","identifiesControllerService":false,"name":"range-start","sensitive":false},"proxy-configuration-service":{"displayName":"Proxy Configuration Service","identifiesControllerService":true,"name":"proxy-configuration-service","sensitive":false},"Endpoint Override URL":{"displayName":"Endpoint Override URL","identifiesControllerService":false,"name":"Endpoint Override URL","sensitive":false},"custom-signer-class-name":{"displayName":"Custom Signer Class Name","identifiesControllerService":false,"name":"custom-signer-class-name","sensitive":false},"requester-pays":{"displayName":"Requester Pays","identifiesControllerService":false,"name":"requester-pays","sensitive":false},"Object Key":{"displayName":"Object Key","identifiesControllerService":false,"name":"Object Key","sensitive":false},"AWS Credentials Provider service":{"displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"name":"AWS Credentials Provider service","sensitive":false},"custom-signer-module-location":{"displayName":"Custom Signer Module Location","identifiesControllerService":false,"name":"custom-signer-module-location","resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]},"sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Signer Override":{"displayName":"Signer Override","identifiesControllerService":false,"name":"Signer Override","sensitive":false},"Bucket":{"displayName":"Bucket","identifiesControllerService":false,"name":"Bucket","sensitive":false},"Version":{"displayName":"Version","identifiesControllerService":false,"name":"Version","sensitive":false},"proxy-user-password":{"displayName":"Proxy Password","identifiesControllerService":false,"name":"proxy-user-password","sensitive":true},"Communications Timeout":{"displayName":"Communications Timeout","identifiesControllerService":false,"name":"Communications Timeout","sensitive":false},"Region":{"displayName":"Region","identifiesControllerService":false,"name":"Region","sensitive":false},"Secret Key":{"displayName":"Secret Access Key","identifiesControllerService":false,"name":"Secret Key","sensitive":true},"Credentials File":{"displayName":"Credentials File","identifiesControllerService":false,"name":"Credentials File","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]},"sensitive":false},"proxy-user-name":{"displayName":"Proxy Username","identifiesControllerService":false,"name":"proxy-user-name","sensitive":false},"Proxy Host Port":{"displayName":"Proxy Host Port","identifiesControllerService":false,"name":"Proxy Host Port","sensitive":false},"encryption-service":{"displayName":"Encryption Service","identifiesControllerService":true,"name":"encryption-service","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"30d3339d-766b-320e-ad32-14d1270fa05c","instanceIdentifier":"6bbb3f40-180b-181a-da16-8ab0bb7afd2e","maxBackoffPeriod":"10 mins","name":"UpdatingData","penaltyDuration":"30 sec","position":{"x":120.0,"y":3104.0},"properties":{"executionId":"${uuid}","updatedBy":"Integration-Application-Apache_Nifi","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","createdBy":"Integration-Application-Apache_Nifi","errorMessage":"${invokehttp.response.body}","sourceFile":"${file}","statusCode":"${invokehttp.status.code}"},"propertyDescriptors":{"executionId":{"displayName":"executionId","identifiesControllerService":false,"name":"executionId","sensitive":false},"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"updatedBy":{"displayName":"updatedBy","identifiesControllerService":false,"name":"updatedBy","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"createdBy":{"displayName":"createdBy","identifiesControllerService":false,"name":"createdBy","sensitive":false},"errorMessage":{"displayName":"errorMessage","identifiesControllerService":false,"name":"errorMessage","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false},"sourceFile":{"displayName":"sourceFile","identifiesControllerService":false,"name":"sourceFile","sensitive":false},"statusCode":{"displayName":"statusCode","identifiesControllerService":false,"name":"statusCode","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":25,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"b5054536-0d9b-3bc6-b7ba-bd7ddb013af8","instanceIdentifier":"988054e2-e479-3751-7295-cdfac4b0e2d5","maxBackoffPeriod":"10 mins","name":"ReplaceText","penaltyDuration":"30 sec","position":{"x":488.0,"y":2408.0},"properties":{"Regular Expression":",\\s*\"[^\"]*\"\\s*:\\s*(null|\"\"|\" \")","Replacement Value":"","Evaluation Mode":"Line-by-Line","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"displayName":"Search Value","identifiesControllerService":false,"name":"Regular Expression","sensitive":false},"Replacement Value":{"displayName":"Replacement Value","identifiesControllerService":false,"name":"Replacement Value","sensitive":false},"Evaluation Mode":{"displayName":"Evaluation Mode","identifiesControllerService":false,"name":"Evaluation Mode","sensitive":false},"Text to Prepend":{"displayName":"Text to Prepend","identifiesControllerService":false,"name":"Text to Prepend","sensitive":false},"Line-by-Line Evaluation Mode":{"displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"name":"Line-by-Line Evaluation Mode","sensitive":false},"Character Set":{"displayName":"Character Set","identifiesControllerService":false,"name":"Character Set","sensitive":false},"Maximum Buffer Size":{"displayName":"Maximum Buffer Size","identifiesControllerService":false,"name":"Maximum Buffer Size","sensitive":false},"Replacement Strategy":{"displayName":"Replacement Strategy","identifiesControllerService":false,"name":"Replacement Strategy","sensitive":false},"Text to Append":{"displayName":"Text to Append","identifiesControllerService":false,"name":"Text to Append","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":25,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["Response"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"89a7ca07-c26f-3dba-a508-7988c244ad80","instanceIdentifier":"00ac37f3-ae54-1878-c725-818b2d62cef7","maxBackoffPeriod":"10 mins","name":"dev_connect","penaltyDuration":"60 sec","position":{"x":488.0,"y":2608.0},"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 min","send-message-body":"true","set-form-filename":"true","Always Output Response":"true","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://breeze.accionbreeze.com/aic-profile-sync/syncwithaic/bulk","Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","apikey":"jhsdugyude23272","Read Timeout":"5 min","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"100000","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"propertyDescriptors":{"Proxy Host":{"displayName":"Proxy Host","identifiesControllerService":false,"name":"Proxy Host","sensitive":false},"Attributes to Send":{"displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"name":"Attributes to Send","sensitive":false},"use-etag":{"displayName":"Response Cache Enabled","identifiesControllerService":false,"name":"use-etag","sensitive":false},"proxy-configuration-service":{"displayName":"Proxy Configuration Service","identifiesControllerService":true,"name":"proxy-configuration-service","sensitive":false},"Proxy Type":{"displayName":"Proxy Type","identifiesControllerService":false,"name":"Proxy Type","sensitive":false},"Basic Authentication Password":{"displayName":"Request Password","identifiesControllerService":false,"name":"Basic Authentication Password","sensitive":true},"cookie-strategy":{"displayName":"Response Cookie Strategy","identifiesControllerService":false,"name":"cookie-strategy","sensitive":false},"Connection Timeout":{"displayName":"Socket Connect Timeout","identifiesControllerService":false,"name":"Connection Timeout","sensitive":false},"send-message-body":{"displayName":"Request Body Enabled","identifiesControllerService":false,"name":"send-message-body","sensitive":false},"set-form-filename":{"displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"name":"set-form-filename","sensitive":false},"Always Output Response":{"displayName":"Response Generation Required","identifiesControllerService":false,"name":"Always Output Response","sensitive":false},"etag-max-cache-size":{"displayName":"Response Cache Size","identifiesControllerService":false,"name":"etag-max-cache-size","sensitive":false},"Content-Encoding":{"displayName":"Request Content-Encoding","identifiesControllerService":false,"name":"Content-Encoding","sensitive":false},"disable-http2":{"displayName":"HTTP/2 Disabled","identifiesControllerService":false,"name":"disable-http2","sensitive":false},"idle-timeout":{"displayName":"Socket Idle Timeout","identifiesControllerService":false,"name":"idle-timeout","sensitive":false},"Put Response Body In Attribute":{"displayName":"Response Body Attribute Name","identifiesControllerService":false,"name":"Put Response Body In Attribute","sensitive":false},"Use Chunked Encoding":{"displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"name":"Use Chunked Encoding","sensitive":false},"Follow Redirects":{"displayName":"Response Redirects Enabled","identifiesControllerService":false,"name":"Follow Redirects","sensitive":false},"Remote URL":{"displayName":"HTTP URL","identifiesControllerService":false,"name":"Remote URL","sensitive":false},"form-body-form-name":{"displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"name":"form-body-form-name","sensitive":false},"Content-Type":{"displayName":"Request Content-Type","identifiesControllerService":false,"name":"Content-Type","sensitive":false},"flow-file-naming-strategy":{"displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"name":"flow-file-naming-strategy","sensitive":false},"max-idle-connections":{"displayName":"Socket Idle Connections","identifiesControllerService":false,"name":"max-idle-connections","sensitive":false},"apikey":{"displayName":"apikey","identifiesControllerService":false,"name":"apikey","sensitive":false},"invokehttp-proxy-user":{"displayName":"Proxy Username","identifiesControllerService":false,"name":"invokehttp-proxy-user","sensitive":false},"Read Timeout":{"displayName":"Socket Read Timeout","identifiesControllerService":false,"name":"Read Timeout","sensitive":false},"Socket Write Timeout":{"displayName":"Socket Write Timeout","identifiesControllerService":false,"name":"Socket Write Timeout","sensitive":false},"Max Length To Put In Attribute":{"displayName":"Response Body Attribute Size","identifiesControllerService":false,"name":"Max Length To Put In Attribute","sensitive":false},"invokehttp-proxy-password":{"displayName":"Proxy Password","identifiesControllerService":false,"name":"invokehttp-proxy-password","sensitive":true},"ignore-response-content":{"displayName":"Response Body Ignored","identifiesControllerService":false,"name":"ignore-response-content","sensitive":false},"Proxy Port":{"displayName":"Proxy Port","identifiesControllerService":false,"name":"Proxy Port","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Digest Authentication":{"displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"name":"Digest Authentication","sensitive":false},"HTTP Method":{"displayName":"HTTP Method","identifiesControllerService":false,"name":"HTTP Method","sensitive":false},"Add Response Headers to Request":{"displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"name":"Add Response Headers to Request","sensitive":false},"oauth2-access-token-provider":{"displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"name":"oauth2-access-token-provider","sensitive":false},"Basic Authentication Username":{"displayName":"Request Username","identifiesControllerService":false,"name":"Basic Authentication Username","sensitive":false},"Include Date Header":{"displayName":"Request Date Header Enabled","identifiesControllerService":false,"name":"Include Date Header","sensitive":false},"Penalize on \"No Retry\"":{"displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"name":"Penalize on \"No Retry\"","sensitive":false},"Useragent":{"displayName":"Request User-Agent","identifiesControllerService":false,"name":"Useragent","sensitive":false}},"retriedRelationships":["Retry","Failure"],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure","unmatched"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"07ea2437-781f-34ca-8e57-24a4d644682c","instanceIdentifier":"728b50e0-9e3d-364c-0c2f-c4b0987d97d9","maxBackoffPeriod":"10 mins","name":"EvaluateJsonPath","penaltyDuration":"30 sec","position":{"x":-16.0,"y":304.0},"properties":{"Destination":"flowfile-attribute","file":"$.key","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"displayName":"Destination","identifiesControllerService":false,"name":"Destination","sensitive":false},"file":{"displayName":"file","identifiesControllerService":false,"name":"file","sensitive":false},"Return Type":{"displayName":"Return Type","identifiesControllerService":false,"name":"Return Type","sensitive":false},"Null Value Representation":{"displayName":"Null Value Representation","identifiesControllerService":false,"name":"Null Value Representation","sensitive":false},"Path Not Found Behavior":{"displayName":"Path Not Found Behavior","identifiesControllerService":false,"name":"Path Not Found Behavior","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure","unmatched"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"a7d8c49d-9754-3932-8942-01412c46c578","instanceIdentifier":"6bbb3f3b-180b-181a-c022-dd3eeadc221f","maxBackoffPeriod":"10 mins","name":"jsonFormating ","penaltyDuration":"30 sec","position":{"x":488.0,"y":3248.0},"properties":{"Destination":"flowfile-attribute","input":"$.input","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"displayName":"Destination","identifiesControllerService":false,"name":"Destination","sensitive":false},"input":{"displayName":"input","identifiesControllerService":false,"name":"input","sensitive":false},"Return Type":{"displayName":"Return Type","identifiesControllerService":false,"name":"Return Type","sensitive":false},"Null Value Representation":{"displayName":"Null Value Representation","identifiesControllerService":false,"name":"Null Value Representation","sensitive":false},"Path Not Found Behavior":{"displayName":"Path Not Found Behavior","identifiesControllerService":false,"name":"Path Not Found Behavior","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"2 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure","unmatched"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"3f4a763d-0699-39aa-90f5-28937b059206","instanceIdentifier":"b2dddd61-1d84-3214-b89e-437d31c77386","maxBackoffPeriod":"10 mins","name":"EvaluateJsonPath","penaltyDuration":"30 sec","position":{"x":488.0,"y":1176.0},"properties":{"Excel_dob":"$.dob","Destination":"flowfile-attribute","Return Type":"auto-detect","Excel_exit_date":"$.lastWorkingDay","Excel_doj":"$.doj","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Excel_dob":{"displayName":"Excel_dob","identifiesControllerService":false,"name":"Excel_dob","sensitive":false},"Destination":{"displayName":"Destination","identifiesControllerService":false,"name":"Destination","sensitive":false},"Return Type":{"displayName":"Return Type","identifiesControllerService":false,"name":"Return Type","sensitive":false},"Excel_exit_date":{"displayName":"Excel_exit_date","identifiesControllerService":false,"name":"Excel_exit_date","sensitive":false},"Excel_doj":{"displayName":"Excel_doj","identifiesControllerService":false,"name":"Excel_doj","sensitive":false},"Null Value Representation":{"displayName":"Null Value Representation","identifiesControllerService":false,"name":"Null Value Representation","sensitive":false},"Path Not Found Behavior":{"displayName":"Path Not Found Behavior","identifiesControllerService":false,"name":"Path Not Found Behavior","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["Response","No Retry","Original"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"06bb6947-c65a-3ddb-9d4e-180628d49ab2","instanceIdentifier":"00ac37ea-ae54-1878-8d67-75d640dbcbcd","maxBackoffPeriod":"10 mins","name":"prod_connect","penaltyDuration":"60 sec","position":{"x":112.0,"y":2608.0},"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 min","send-message-body":"true","set-form-filename":"true","Always Output Response":"true","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://breeze.accion.rocks/aic-profile-sync/syncwithaic/bulk","Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","apikey":"iudhf7rb5jk4iq75burew7qkjwer7643bweir7575er","Read Timeout":"5 min","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"100000","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"propertyDescriptors":{"Proxy Host":{"displayName":"Proxy Host","identifiesControllerService":false,"name":"Proxy Host","sensitive":false},"Attributes to Send":{"displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"name":"Attributes to Send","sensitive":false},"use-etag":{"displayName":"Response Cache Enabled","identifiesControllerService":false,"name":"use-etag","sensitive":false},"proxy-configuration-service":{"displayName":"Proxy Configuration Service","identifiesControllerService":true,"name":"proxy-configuration-service","sensitive":false},"Proxy Type":{"displayName":"Proxy Type","identifiesControllerService":false,"name":"Proxy Type","sensitive":false},"Basic Authentication Password":{"displayName":"Request Password","identifiesControllerService":false,"name":"Basic Authentication Password","sensitive":true},"cookie-strategy":{"displayName":"Response Cookie Strategy","identifiesControllerService":false,"name":"cookie-strategy","sensitive":false},"Connection Timeout":{"displayName":"Socket Connect Timeout","identifiesControllerService":false,"name":"Connection Timeout","sensitive":false},"send-message-body":{"displayName":"Request Body Enabled","identifiesControllerService":false,"name":"send-message-body","sensitive":false},"set-form-filename":{"displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"name":"set-form-filename","sensitive":false},"Always Output Response":{"displayName":"Response Generation Required","identifiesControllerService":false,"name":"Always Output Response","sensitive":false},"etag-max-cache-size":{"displayName":"Response Cache Size","identifiesControllerService":false,"name":"etag-max-cache-size","sensitive":false},"Content-Encoding":{"displayName":"Request Content-Encoding","identifiesControllerService":false,"name":"Content-Encoding","sensitive":false},"disable-http2":{"displayName":"HTTP/2 Disabled","identifiesControllerService":false,"name":"disable-http2","sensitive":false},"idle-timeout":{"displayName":"Socket Idle Timeout","identifiesControllerService":false,"name":"idle-timeout","sensitive":false},"Put Response Body In Attribute":{"displayName":"Response Body Attribute Name","identifiesControllerService":false,"name":"Put Response Body In Attribute","sensitive":false},"Use Chunked Encoding":{"displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"name":"Use Chunked Encoding","sensitive":false},"Follow Redirects":{"displayName":"Response Redirects Enabled","identifiesControllerService":false,"name":"Follow Redirects","sensitive":false},"Remote URL":{"displayName":"HTTP URL","identifiesControllerService":false,"name":"Remote URL","sensitive":false},"form-body-form-name":{"displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"name":"form-body-form-name","sensitive":false},"Content-Type":{"displayName":"Request Content-Type","identifiesControllerService":false,"name":"Content-Type","sensitive":false},"flow-file-naming-strategy":{"displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"name":"flow-file-naming-strategy","sensitive":false},"max-idle-connections":{"displayName":"Socket Idle Connections","identifiesControllerService":false,"name":"max-idle-connections","sensitive":false},"apikey":{"displayName":"apikey","identifiesControllerService":false,"name":"apikey","sensitive":false},"invokehttp-proxy-user":{"displayName":"Proxy Username","identifiesControllerService":false,"name":"invokehttp-proxy-user","sensitive":false},"Read Timeout":{"displayName":"Socket Read Timeout","identifiesControllerService":false,"name":"Read Timeout","sensitive":false},"Socket Write Timeout":{"displayName":"Socket Write Timeout","identifiesControllerService":false,"name":"Socket Write Timeout","sensitive":false},"Max Length To Put In Attribute":{"displayName":"Response Body Attribute Size","identifiesControllerService":false,"name":"Max Length To Put In Attribute","sensitive":false},"invokehttp-proxy-password":{"displayName":"Proxy Password","identifiesControllerService":false,"name":"invokehttp-proxy-password","sensitive":true},"ignore-response-content":{"displayName":"Response Body Ignored","identifiesControllerService":false,"name":"ignore-response-content","sensitive":false},"Proxy Port":{"displayName":"Proxy Port","identifiesControllerService":false,"name":"Proxy Port","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Digest Authentication":{"displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"name":"Digest Authentication","sensitive":false},"HTTP Method":{"displayName":"HTTP Method","identifiesControllerService":false,"name":"HTTP Method","sensitive":false},"Add Response Headers to Request":{"displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"name":"Add Response Headers to Request","sensitive":false},"oauth2-access-token-provider":{"displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"name":"oauth2-access-token-provider","sensitive":false},"Basic Authentication Username":{"displayName":"Request Username","identifiesControllerService":false,"name":"Basic Authentication Username","sensitive":false},"Include Date Header":{"displayName":"Request Date Header Enabled","identifiesControllerService":false,"name":"Include Date Header","sensitive":false},"Penalize on \"No Retry\"":{"displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"name":"Penalize on \"No Retry\"","sensitive":false},"Useragent":{"displayName":"Request User-Agent","identifiesControllerService":false,"name":"Useragent","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"9c78657e-22d2-3fae-a275-ff4f85d053af","instanceIdentifier":"aa072cf4-e529-3ba3-71da-b11919234aee","maxBackoffPeriod":"10 mins","name":"UpdateRecord","penaltyDuration":"30 sec","position":{"x":488.0,"y":1592.0},"properties":{"/doj":"${Formatted_doj}","record-writer":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","record-reader":"03649152-ed91-3df8-a3a1-50e275bd0759","/lastWorkingDay":"${Formatted_exit_date}","replacement-value-strategy":"literal-value","/dob":"${Formatted_dob}"},"propertyDescriptors":{"/doj":{"displayName":"/doj","identifiesControllerService":false,"name":"/doj","sensitive":false},"record-writer":{"displayName":"Record Writer","identifiesControllerService":true,"name":"record-writer","sensitive":false},"record-reader":{"displayName":"Record Reader","identifiesControllerService":true,"name":"record-reader","sensitive":false},"/lastWorkingDay":{"displayName":"/lastWorkingDay","identifiesControllerService":false,"name":"/lastWorkingDay","sensitive":false},"replacement-value-strategy":{"displayName":"Replacement Value Strategy","identifiesControllerService":false,"name":"replacement-value-strategy","sensitive":false},"/dob":{"displayName":"/dob","identifiesControllerService":false,"name":"/dob","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.UpdateRecord","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"a4305696-8fa9-3c66-94f3-b0dca8d2fb97","instanceIdentifier":"00310aaa-a011-3bd6-322b-519290d75a9a","maxBackoffPeriod":"10 mins","name":"UpdateRecord","penaltyDuration":"30 sec","position":{"x":488.0,"y":1896.0},"properties":{"/doj":"${field.value:toDate(\"yyyy-MM-dd HH:mm:ss.S\"):format(\"yyyy-MM-dd'T'HH:mm:ss.S'Z'\")}","record-writer":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","record-reader":"03649152-ed91-3df8-a3a1-50e275bd0759","/lastWorkingDay":"${field.value:toDate(\"yyyy-MM-dd HH:mm:ss.S\"):format(\"yyyy-MM-dd'T'HH:mm:ss.S'Z'\")}","replacement-value-strategy":"literal-value","/dob":"${field.value:toDate(\"yyyy-MM-dd HH:mm:ss.S\"):format(\"yyyy-MM-dd'T'HH:mm:ss.S'Z'\")}"},"propertyDescriptors":{"/doj":{"displayName":"/doj","identifiesControllerService":false,"name":"/doj","sensitive":false},"record-writer":{"displayName":"Record Writer","identifiesControllerService":true,"name":"record-writer","sensitive":false},"record-reader":{"displayName":"Record Reader","identifiesControllerService":true,"name":"record-reader","sensitive":false},"/lastWorkingDay":{"displayName":"/lastWorkingDay","identifiesControllerService":false,"name":"/lastWorkingDay","sensitive":false},"replacement-value-strategy":{"displayName":"Replacement Value Strategy","identifiesControllerService":false,"name":"replacement-value-strategy","sensitive":false},"/dob":{"displayName":"/dob","identifiesControllerService":false,"name":"/dob","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.UpdateRecord","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["original","failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-poi-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"10251f17-df9f-3488-9d10-1fde8efd5bfc","instanceIdentifier":"c380f5c7-da76-37cd-a838-28cd96c56b94","maxBackoffPeriod":"10 mins","name":"ConvertExcelToCSVProcessor","penaltyDuration":"30 sec","position":{"x":488.0,"y":456.0},"properties":{"excel-extract-first-row":"0","CSV Format":"excel","Quote Character":"\"","Include Header Line":"true","Value Separator":",","Record Separator":"\\n","Escape Character":"\\","extract-sheets":"Sheet1","excel-format-values":"false","Trim Fields":"true","excel-format-booleans":"true","Quote Mode":"NONE","Include Trailing Delimiter":"false"},"propertyDescriptors":{"excel-extract-first-row":{"displayName":"Number of Rows to Skip","identifiesControllerService":false,"name":"excel-extract-first-row","sensitive":false},"excel-extract-column-to-skip":{"displayName":"Columns To Skip","identifiesControllerService":false,"name":"excel-extract-column-to-skip","sensitive":false},"CSV Format":{"displayName":"CSV Format","identifiesControllerService":false,"name":"CSV Format","sensitive":false},"Quote Character":{"displayName":"Quote Character","identifiesControllerService":false,"name":"Quote Character","sensitive":false},"Include Header Line":{"displayName":"Include Header Line","identifiesControllerService":false,"name":"Include Header Line","sensitive":false},"Value Separator":{"displayName":"Value Separator","identifiesControllerService":false,"name":"Value Separator","sensitive":false},"Record Separator":{"displayName":"Record Separator","identifiesControllerService":false,"name":"Record Separator","sensitive":false},"Escape Character":{"displayName":"Escape Character","identifiesControllerService":false,"name":"Escape Character","sensitive":false},"extract-sheets":{"displayName":"Sheets to Extract","identifiesControllerService":false,"name":"extract-sheets","sensitive":false},"excel-format-values":{"displayName":"Format Cell Values","identifiesControllerService":false,"name":"excel-format-values","sensitive":false},"Null String":{"displayName":"Null String","identifiesControllerService":false,"name":"Null String","sensitive":false},"Trim Fields":{"displayName":"Trim Fields","identifiesControllerService":false,"name":"Trim Fields","sensitive":false},"Comment Marker":{"displayName":"Comment Marker","identifiesControllerService":false,"name":"Comment Marker","sensitive":false},"excel-format-booleans":{"displayName":"Format Booleans","identifiesControllerService":false,"name":"excel-format-booleans","sensitive":false},"Quote Mode":{"displayName":"Quote Mode","identifiesControllerService":false,"name":"Quote Mode","sensitive":false},"Include Trailing Delimiter":{"displayName":"Include Trailing Delimiter","identifiesControllerService":false,"name":"Include Trailing Delimiter","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.poi.ConvertExcelToCSVProcessor","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"bd4e5a63-7b85-383e-a4c0-78e3b011f30e","instanceIdentifier":"d7206f19-4df2-3888-e68a-939f9e7a85a6","maxBackoffPeriod":"10 mins","name":"JoltTransformJSON","penaltyDuration":"30 sec","position":{"x":488.0,"y":744.0},"properties":{"jolt-spec":"[{\n\t\"operation\": \"shift\",\n\t\"spec\": {\n\t\t\"*\": {\n\t\t\t\"defaultFullName\": \"[&1].name\",\n\t\t\t\"firstName\": \"[&1].firstName\",\n\t\t\t\"middleName\": \"[&1].middleName\",\n\t\t\t\"lastName\": \"[&1].lastName\",\n\t\t\t\"gender\": \"[&1].gender\",\n\t\t\t\"dob\": \"[&1].dob\",\n\t\t\t\"email\": \"[&1].email\",\n\t\t\t\"designation\": \"[&1].designation\",\n\t\t\t\"doj\": \"[&1].doj\",\n\t\t\t\"location\": \"[&1].location\",\n\t\t\t\"primaryContactNo\": \"[&1].primaryContactNo\",\n\t\t\t\"secondaryContactNo\": \"[&1].secondaryContactNo\",\n\t\t\t\"status\": \"[&1].status\",\n\t\t\t\"data_source\": \"[&1].data_source\",\n          \"organization\":\"[&1].organization\",\n          \"exitDate\":\"[&1].lastWorkingDay\"\n          \n\t\t}\n\t}\n}]","jolt-transform":"jolt-transform-chain","pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"displayName":"Jolt Specification","identifiesControllerService":false,"name":"jolt-spec","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]},"sensitive":false},"jolt-transform":{"displayName":"Jolt Transformation DSL","identifiesControllerService":false,"name":"jolt-transform","sensitive":false},"jolt-custom-class":{"displayName":"Custom Transformation Class Name","identifiesControllerService":false,"name":"jolt-custom-class","sensitive":false},"jolt-custom-modules":{"displayName":"Custom Module Directory","identifiesControllerService":false,"name":"jolt-custom-modules","resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]},"sensitive":false},"pretty_print":{"displayName":"Pretty Print","identifiesControllerService":false,"name":"pretty_print","sensitive":false},"Transform Cache Size":{"displayName":"Transform Cache Size","identifiesControllerService":false,"name":"Transform Cache Size","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"6ce4caf3-2383-3985-988c-85ea1bc5f598","instanceIdentifier":"bdf8282f-018b-1000-5bfa-e38fac112ac5","maxBackoffPeriod":"10 mins","name":"ReplaceText","penaltyDuration":"30 sec","position":{"x":488.0,"y":1744.0},"properties":{"Regular Expression":",\\s*\"[^\"]*\"\\s*:\\s*(null|\"\"|\" \")","Replacement Value":"","Evaluation Mode":"Line-by-Line","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"displayName":"Search Value","identifiesControllerService":false,"name":"Regular Expression","sensitive":false},"Replacement Value":{"displayName":"Replacement Value","identifiesControllerService":false,"name":"Replacement Value","sensitive":false},"Evaluation Mode":{"displayName":"Evaluation Mode","identifiesControllerService":false,"name":"Evaluation Mode","sensitive":false},"Text to Prepend":{"displayName":"Text to Prepend","identifiesControllerService":false,"name":"Text to Prepend","sensitive":false},"Line-by-Line Evaluation Mode":{"displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"name":"Line-by-Line Evaluation Mode","sensitive":false},"Character Set":{"displayName":"Character Set","identifiesControllerService":false,"name":"Character Set","sensitive":false},"Maximum Buffer Size":{"displayName":"Maximum Buffer Size","identifiesControllerService":false,"name":"Maximum Buffer Size","sensitive":false},"Replacement Strategy":{"displayName":"Replacement Strategy","identifiesControllerService":false,"name":"Replacement Strategy","sensitive":false},"Text to Append":{"displayName":"Text to Append","identifiesControllerService":false,"name":"Text to Append","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":25,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["original","failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"2a1596e9-e5cc-3806-953d-f5f838b42ea6","instanceIdentifier":"f14ecb74-5723-360e-c351-a33b31136438","maxBackoffPeriod":"10 mins","name":"MergeContent","penaltyDuration":"30 sec","position":{"x":488.0,"y":2048.0},"properties":{"Keep Path":"false","Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"displayName":"Keep Path","identifiesControllerService":false,"name":"Keep Path","sensitive":false},"Maximum Group Size":{"displayName":"Maximum Group Size","identifiesControllerService":false,"name":"Maximum Group Size","sensitive":false},"Merge Strategy":{"displayName":"Merge Strategy","identifiesControllerService":false,"name":"Merge Strategy","sensitive":false},"Attribute Strategy":{"displayName":"Attribute Strategy","identifiesControllerService":false,"name":"Attribute Strategy","sensitive":false},"Compression Level":{"displayName":"Compression Level","identifiesControllerService":false,"name":"Compression Level","sensitive":false},"Maximum Number of Entries":{"displayName":"Maximum Number of Entries","identifiesControllerService":false,"name":"Maximum Number of Entries","sensitive":false},"Minimum Group Size":{"displayName":"Minimum Group Size","identifiesControllerService":false,"name":"Minimum Group Size","sensitive":false},"Maximum number of Bins":{"displayName":"Maximum number of Bins","identifiesControllerService":false,"name":"Maximum number of Bins","sensitive":false},"Tar Modified Time":{"displayName":"Tar Modified Time","identifiesControllerService":false,"name":"Tar Modified Time","sensitive":false},"Delimiter Strategy":{"displayName":"Delimiter Strategy","identifiesControllerService":false,"name":"Delimiter Strategy","sensitive":false},"Merge Format":{"displayName":"Merge Format","identifiesControllerService":false,"name":"Merge Format","sensitive":false},"Footer File":{"displayName":"Footer","identifiesControllerService":false,"name":"Footer File","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]},"sensitive":false},"Max Bin Age":{"displayName":"Max Bin Age","identifiesControllerService":false,"name":"Max Bin Age","sensitive":false},"Demarcator File":{"displayName":"Demarcator","identifiesControllerService":false,"name":"Demarcator File","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]},"sensitive":false},"Correlation Attribute Name":{"displayName":"Correlation Attribute Name","identifiesControllerService":false,"name":"Correlation Attribute Name","sensitive":false},"Header File":{"displayName":"Header","identifiesControllerService":false,"name":"Header File","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]},"sensitive":false},"mergecontent-metadata-strategy":{"displayName":"Metadata Strategy","identifiesControllerService":false,"name":"mergecontent-metadata-strategy","sensitive":false},"Minimum Number of Entries":{"displayName":"Minimum Number of Entries","identifiesControllerService":false,"name":"Minimum Number of Entries","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.MergeContent","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-aws-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"PRIMARY","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"b26da5c2-20e9-3fab-9608-326a9b1848cf","instanceIdentifier":"65ccf06c-e8ea-3007-c873-32d20c110ae5","maxBackoffPeriod":"10 mins","name":"ListS3","penaltyDuration":"30 sec","position":{"x":488.0,"y":24.0},"properties":{"list-type":"1","et-initial-listing-target":"all","Access Key":"#{ak}","record-writer":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","et-time-window":"3 hours","requester-pays":"false","listing-strategy":"timestamps","Signer Override":"Default Signature","Secret Key":"#{sk}","min-age":"0 sec","write-s3-user-metadata":"false","Listing Batch Size":"100","write-s3-object-tags":"false","Bucket":"connect-excel-uploads","Communications Timeout":"30 secs","Region":"us-west-2","use-versions":"false"},"propertyDescriptors":{"Proxy Host":{"displayName":"Proxy Host","identifiesControllerService":false,"name":"Proxy Host","sensitive":false},"list-type":{"displayName":"List Type","identifiesControllerService":false,"name":"list-type","sensitive":false},"et-initial-listing-target":{"displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"name":"et-initial-listing-target","sensitive":false},"Access Key":{"displayName":"Access Key ID","identifiesControllerService":false,"name":"Access Key","sensitive":true},"prefix":{"displayName":"Prefix","identifiesControllerService":false,"name":"prefix","sensitive":false},"record-writer":{"displayName":"Record Writer","identifiesControllerService":true,"name":"record-writer","sensitive":false},"proxy-configuration-service":{"displayName":"Proxy Configuration Service","identifiesControllerService":true,"name":"proxy-configuration-service","sensitive":false},"Endpoint Override URL":{"displayName":"Endpoint Override URL","identifiesControllerService":false,"name":"Endpoint Override URL","sensitive":false},"et-time-window":{"displayName":"Entity Tracking Time Window","identifiesControllerService":false,"name":"et-time-window","sensitive":false},"custom-signer-class-name":{"displayName":"Custom Signer Class Name","identifiesControllerService":false,"name":"custom-signer-class-name","sensitive":false},"requester-pays":{"displayName":"Requester Pays","identifiesControllerService":false,"name":"requester-pays","sensitive":false},"custom-signer-module-location":{"displayName":"Custom Signer Module Location","identifiesControllerService":false,"name":"custom-signer-module-location","resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]},"sensitive":false},"listing-strategy":{"displayName":"Listing Strategy","identifiesControllerService":false,"name":"listing-strategy","sensitive":false},"Signer Override":{"displayName":"Signer Override","identifiesControllerService":false,"name":"Signer Override","sensitive":false},"delimiter":{"displayName":"Delimiter","identifiesControllerService":false,"name":"delimiter","sensitive":false},"proxy-user-password":{"displayName":"Proxy Password","identifiesControllerService":false,"name":"proxy-user-password","sensitive":true},"Secret Key":{"displayName":"Secret Access Key","identifiesControllerService":false,"name":"Secret Key","sensitive":true},"min-age":{"displayName":"Minimum Object Age","identifiesControllerService":false,"name":"min-age","sensitive":false},"write-s3-user-metadata":{"displayName":"Write User Metadata","identifiesControllerService":false,"name":"write-s3-user-metadata","sensitive":false},"max-age":{"displayName":"Maximum Object Age","identifiesControllerService":false,"name":"max-age","sensitive":false},"AWS Credentials Provider service":{"displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"name":"AWS Credentials Provider service","sensitive":false},"Listing Batch Size":{"displayName":"Listing Batch Size","identifiesControllerService":false,"name":"Listing Batch Size","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"write-s3-object-tags":{"displayName":"Write Object Tags","identifiesControllerService":false,"name":"write-s3-object-tags","sensitive":false},"Bucket":{"displayName":"Bucket","identifiesControllerService":false,"name":"Bucket","sensitive":false},"Communications Timeout":{"displayName":"Communications Timeout","identifiesControllerService":false,"name":"Communications Timeout","sensitive":false},"Region":{"displayName":"Region","identifiesControllerService":false,"name":"Region","sensitive":false},"Credentials File":{"displayName":"Credentials File","identifiesControllerService":false,"name":"Credentials File","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]},"sensitive":false},"et-state-cache":{"displayName":"Entity Tracking State Cache","identifiesControllerService":true,"name":"et-state-cache","sensitive":false},"proxy-user-name":{"displayName":"Proxy Username","identifiesControllerService":false,"name":"proxy-user-name","sensitive":false},"Proxy Host Port":{"displayName":"Proxy Host Port","identifiesControllerService":false,"name":"Proxy Host Port","sensitive":false},"use-versions":{"displayName":"Use Versions","identifiesControllerService":false,"name":"use-versions","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.aws.s3.ListS3","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"123b63e5-73b8-395f-a20c-defe1cbc16bb","instanceIdentifier":"3fcdcbcc-2e0c-3dee-b9bf-63419cde4441","maxBackoffPeriod":"10 mins","name":"ReplaceText","penaltyDuration":"30 sec","position":{"x":488.0,"y":1032.0},"properties":{"Regular Expression":",\\s*\"[^\"]*\"\\s*:\\s*(null|\"\"|\" \")","Replacement Value":"","Evaluation Mode":"Line-by-Line","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"displayName":"Search Value","identifiesControllerService":false,"name":"Regular Expression","sensitive":false},"Replacement Value":{"displayName":"Replacement Value","identifiesControllerService":false,"name":"Replacement Value","sensitive":false},"Evaluation Mode":{"displayName":"Evaluation Mode","identifiesControllerService":false,"name":"Evaluation Mode","sensitive":false},"Text to Prepend":{"displayName":"Text to Prepend","identifiesControllerService":false,"name":"Text to Prepend","sensitive":false},"Line-by-Line Evaluation Mode":{"displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"name":"Line-by-Line Evaluation Mode","sensitive":false},"Character Set":{"displayName":"Character Set","identifiesControllerService":false,"name":"Character Set","sensitive":false},"Maximum Buffer Size":{"displayName":"Maximum Buffer Size","identifiesControllerService":false,"name":"Maximum Buffer Size","sensitive":false},"Replacement Strategy":{"displayName":"Replacement Strategy","identifiesControllerService":false,"name":"Replacement Strategy","sensitive":false},"Text to Append":{"displayName":"Text to Append","identifiesControllerService":false,"name":"Text to Append","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":25,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["original","failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"c7a8a49a-9c85-3997-a71a-d0be695cfcd4","instanceIdentifier":"4893b6bc-ccae-3854-cd9a-a97d1e368ee8","maxBackoffPeriod":"10 mins","name":"SplitRecord","penaltyDuration":"30 sec","position":{"x":-16.0,"y":128.0},"properties":{"Record Writer":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","Record Reader":"03649152-ed91-3df8-a3a1-50e275bd0759","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"displayName":"Record Writer","identifiesControllerService":true,"name":"Record Writer","sensitive":false},"Record Reader":{"displayName":"Record Reader","identifiesControllerService":true,"name":"Record Reader","sensitive":false},"Records Per Split":{"displayName":"Records Per Split","identifiesControllerService":false,"name":"Records Per Split","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.SplitRecord","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["original","failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"f34dec51-7af2-38a1-af97-7fd17de092dd","instanceIdentifier":"ff5b81a9-0f97-327a-822e-841a2fbc1e79","maxBackoffPeriod":"10 mins","name":"SplitRecord","penaltyDuration":"30 sec","position":{"x":488.0,"y":888.0},"properties":{"Record Writer":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","Record Reader":"03649152-ed91-3df8-a3a1-50e275bd0759","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"displayName":"Record Writer","identifiesControllerService":true,"name":"Record Writer","sensitive":false},"Record Reader":{"displayName":"Record Reader","identifiesControllerService":true,"name":"Record Reader","sensitive":false},"Records Per Split":{"displayName":"Records Per Split","identifiesControllerService":false,"name":"Records Per Split","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.SplitRecord","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["Response","No Retry","Original"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"26de82a2-fd23-3c57-8170-55c483ba36aa","instanceIdentifier":"00ac37ef-ae54-1878-77d8-ac7a8ef121f3","maxBackoffPeriod":"10 mins","name":"Stagging_Conncect_Api","penaltyDuration":"60 sec","position":{"x":864.0,"y":2616.0},"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 min","send-message-body":"true","set-form-filename":"true","Always Output Response":"true","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://breeze.accionbreeze.com/aic-profile-sync-staging/syncwithaic/bulk","Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","apikey":"ajgrkbxqog376bkabkawt","Read Timeout":"5 min","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"100000","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"propertyDescriptors":{"Proxy Host":{"displayName":"Proxy Host","identifiesControllerService":false,"name":"Proxy Host","sensitive":false},"Attributes to Send":{"displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"name":"Attributes to Send","sensitive":false},"use-etag":{"displayName":"Response Cache Enabled","identifiesControllerService":false,"name":"use-etag","sensitive":false},"proxy-configuration-service":{"displayName":"Proxy Configuration Service","identifiesControllerService":true,"name":"proxy-configuration-service","sensitive":false},"Proxy Type":{"displayName":"Proxy Type","identifiesControllerService":false,"name":"Proxy Type","sensitive":false},"Basic Authentication Password":{"displayName":"Request Password","identifiesControllerService":false,"name":"Basic Authentication Password","sensitive":true},"cookie-strategy":{"displayName":"Response Cookie Strategy","identifiesControllerService":false,"name":"cookie-strategy","sensitive":false},"Connection Timeout":{"displayName":"Socket Connect Timeout","identifiesControllerService":false,"name":"Connection Timeout","sensitive":false},"send-message-body":{"displayName":"Request Body Enabled","identifiesControllerService":false,"name":"send-message-body","sensitive":false},"set-form-filename":{"displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"name":"set-form-filename","sensitive":false},"Always Output Response":{"displayName":"Response Generation Required","identifiesControllerService":false,"name":"Always Output Response","sensitive":false},"etag-max-cache-size":{"displayName":"Response Cache Size","identifiesControllerService":false,"name":"etag-max-cache-size","sensitive":false},"Content-Encoding":{"displayName":"Request Content-Encoding","identifiesControllerService":false,"name":"Content-Encoding","sensitive":false},"disable-http2":{"displayName":"HTTP/2 Disabled","identifiesControllerService":false,"name":"disable-http2","sensitive":false},"idle-timeout":{"displayName":"Socket Idle Timeout","identifiesControllerService":false,"name":"idle-timeout","sensitive":false},"Put Response Body In Attribute":{"displayName":"Response Body Attribute Name","identifiesControllerService":false,"name":"Put Response Body In Attribute","sensitive":false},"Use Chunked Encoding":{"displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"name":"Use Chunked Encoding","sensitive":false},"Follow Redirects":{"displayName":"Response Redirects Enabled","identifiesControllerService":false,"name":"Follow Redirects","sensitive":false},"Remote URL":{"displayName":"HTTP URL","identifiesControllerService":false,"name":"Remote URL","sensitive":false},"form-body-form-name":{"displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"name":"form-body-form-name","sensitive":false},"Content-Type":{"displayName":"Request Content-Type","identifiesControllerService":false,"name":"Content-Type","sensitive":false},"flow-file-naming-strategy":{"displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"name":"flow-file-naming-strategy","sensitive":false},"max-idle-connections":{"displayName":"Socket Idle Connections","identifiesControllerService":false,"name":"max-idle-connections","sensitive":false},"apikey":{"displayName":"apikey","identifiesControllerService":false,"name":"apikey","sensitive":false},"invokehttp-proxy-user":{"displayName":"Proxy Username","identifiesControllerService":false,"name":"invokehttp-proxy-user","sensitive":false},"Read Timeout":{"displayName":"Socket Read Timeout","identifiesControllerService":false,"name":"Read Timeout","sensitive":false},"Socket Write Timeout":{"displayName":"Socket Write Timeout","identifiesControllerService":false,"name":"Socket Write Timeout","sensitive":false},"Max Length To Put In Attribute":{"displayName":"Response Body Attribute Size","identifiesControllerService":false,"name":"Max Length To Put In Attribute","sensitive":false},"invokehttp-proxy-password":{"displayName":"Proxy Password","identifiesControllerService":false,"name":"invokehttp-proxy-password","sensitive":true},"ignore-response-content":{"displayName":"Response Body Ignored","identifiesControllerService":false,"name":"ignore-response-content","sensitive":false},"Proxy Port":{"displayName":"Proxy Port","identifiesControllerService":false,"name":"Proxy Port","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Digest Authentication":{"displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"name":"Digest Authentication","sensitive":false},"HTTP Method":{"displayName":"HTTP Method","identifiesControllerService":false,"name":"HTTP Method","sensitive":false},"Add Response Headers to Request":{"displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"name":"Add Response Headers to Request","sensitive":false},"oauth2-access-token-provider":{"displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"name":"oauth2-access-token-provider","sensitive":false},"Basic Authentication Username":{"displayName":"Request Username","identifiesControllerService":false,"name":"Basic Authentication Username","sensitive":false},"Include Date Header":{"displayName":"Request Date Header Enabled","identifiesControllerService":false,"name":"Include Date Header","sensitive":false},"Penalize on \"No Retry\"":{"displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"name":"Penalize on \"No Retry\"","sensitive":false},"Useragent":{"displayName":"Request User-Agent","identifiesControllerService":false,"name":"Useragent","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"d8b2e805-04da-38a8-a262-cedd7637ace3","instanceIdentifier":"b06bea84-b956-319e-0b0b-db6921b6b6a4","maxBackoffPeriod":"10 mins","name":"ConvertRecord","penaltyDuration":"30 sec","position":{"x":488.0,"y":600.0},"properties":{"record-writer":"1802ce4a-bca2-3f34-af69-1793e13a5dc0","record-reader":"6a0d1e8f-46ea-303c-9081-80b96e0eb841","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"displayName":"Record Writer","identifiesControllerService":true,"name":"record-writer","sensitive":false},"record-reader":{"displayName":"Record Reader","identifiesControllerService":true,"name":"record-reader","sensitive":false},"include-zero-record-flowfiles":{"displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"name":"include-zero-record-flowfiles","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ConvertRecord","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.23.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"8eb4eb40-84ea-365c-9823-bdf0eea7ae6d","identifier":"dde23ade-2663-3ad0-82a6-9438c358ff2a","instanceIdentifier":"6bbb3f3e-180b-181a-fd01-0283081224b4","maxBackoffPeriod":"10 mins","name":"Extracting_Response","penaltyDuration":"30 sec","position":{"x":488.0,"y":2968.0},"properties":{"jolt-spec":"[{\n\t\"operation\": \"shift\",\n\t\"spec\": {\n\n\t\t\"*\": \"input\"\n\t}\n}]","jolt-transform":"jolt-transform-chain","pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"displayName":"Jolt Specification","identifiesControllerService":false,"name":"jolt-spec","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]},"sensitive":false},"jolt-transform":{"displayName":"Jolt Transformation DSL","identifiesControllerService":false,"name":"jolt-transform","sensitive":false},"jolt-custom-class":{"displayName":"Custom Transformation Class Name","identifiesControllerService":false,"name":"jolt-custom-class","sensitive":false},"jolt-custom-modules":{"displayName":"Custom Module Directory","identifiesControllerService":false,"name":"jolt-custom-modules","resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]},"sensitive":false},"pretty_print":{"displayName":"Pretty Print","identifiesControllerService":false,"name":"pretty_print","sensitive":false},"Transform Cache Size":{"displayName":"Transform Cache Size","identifiesControllerService":false,"name":"Transform Cache Size","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}},"flowEncodingVersion":"1.0","parameterContexts":{"params":{"componentType":"PARAMETER_CONTEXT","inheritedParameterContexts":[],"name":"params","parameterGroupName":"params","parameterProvider":"0117496c-018c-1000-82b9-3fccfb9cf38a","parameters":[{"name":"dev_connect_url","provided":true,"sensitive":false,"value":"https://breeze.accionbreeze.com/aic-profile-sync/syncwithaic/bulk"},{"name":"prod_connect_url","provided":true,"sensitive":false,"value":"https://breeze.accion.rocks/aic-profile-sync/syncwithaic/bulk"},{"name":"DB_password","provided":true,"sensitive":true},{"name":"stag_connect_url","provided":true,"sensitive":false,"value":"https://breeze.accionbreeze.com/aic-profile-sync-staging/syncwithaic/bulk"},{"name":"ak","provided":true,"sensitive":true},{"name":"DB_usr","provided":true,"sensitive":false,"value":"admin"},{"name":"dev_connect_key","provided":true,"sensitive":false,"value":"jhsdugyude23272"},{"name":"prod_connect_key","provided":true,"sensitive":false,"value":"iudhf7rb5jk4iq75burew7qkjwer7643bweir7575er"},{"name":"DB_URL","provided":true,"sensitive":false,"value":"jdbc:mysql://boomi.cevjasueletz.ap-south-1.rds.amazonaws.com:3306/boomi"},{"name":"sk","provided":true,"sensitive":true},{"name":"stag_connect_key","provided":true,"sensitive":false,"value":"ajgrkbxqog376bkabkawt"},{"name":"DB_Driver_Location","provided":true,"sensitive":false,"value":"/Users/dhanapathimarepalli/Downloads/ApacheNifi PPT/mysql-connector-j-8.2.0.jar"},{"name":"DB_Driver_Class_Name","provided":true,"sensitive":false,"value":"com.mysql.jdbc.Driver"}],"synchronized":true}},"parameterProviders":{"0117496c-018c-1000-82b9-3fccfb9cf38a":{"bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.23.2"},"identifier":"0117496c-018c-1000-82b9-3fccfb9cf38a","name":"FileParameterProvider","type":"org.apache.nifi.parameter.FileParameterProvider"}},"snapshotMetadata":{"author":"anonymous","comments":"","timestamp":1700976659120,"version":1}}